@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
	font-family: "Roboto", sans-serif;
	font-size: 9pt;
}

.rollable:hover, .rollable:focus, .plus:hover, .minus:hover {
	color: #000;
	text-shadow: 0 0 10px red;
	cursor: pointer;
}

.rollable {
	font-size: large;
}

.inEffect {
	background-color: #88cc88;
}

#sheet {
	display: grid;
	grid-template-rows: 120px 0fr 0fr 0fr;
}

#personal {
	grid-area: personal;
	display: grid;
	grid-template:
		"portrait actorname reserves pointTotals"
		"portrait racegender reserves pointTotals";
	grid-template-columns: 100px 2fr 1fr auto;
	grid-template-rows: 55px 50px;
	grid-gap: 5px;
}

.item-row {
	display: grid;
	grid-template-columns: 24px 4fr 4fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
}

.item-row div {
	display: flex;
	align-items: center;
}

#equipmentDetails {
	grid-area: equipmentDetails;
	display: grid;
	grid-template:
			"qty tl lc equipped"
			"value value weight weight"
			"xx sc sc sc";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/*grid-template-rows: 55px 50px;*/
	grid-gap: 5px;
}

.equipStatusSelect{
	background: rgba(0, 0, 0, 0.05);
	border: 1px solid #7a7971;
	border-radius: 3px;
	padding: 0 3px;
	text-overflow: ellipsis;
	height: unset;
}

.equipmentStat{
	display: grid;
	grid-template-columns: auto 1fr 1fr;
}

.equipmentStatLong{
	display: grid;
	grid-template-columns: auto 1fr auto 1fr;
}

.equipmentInputInput{
	display: grid;
	grid-template-columns: 3fr auto 1fr;
}

.equipmentLabelInput{
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}

.meleeRow {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr 5fr 3fr 3fr 1.5fr 1.5fr 1fr 1fr 1fr 0.5fr;
	border: 1px solid rgba(0, 0, 0, 0.05);
	grid-gap: 5px;
	align-content: center;
	text-align: center;
}

.rangedRow {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr 5fr 1fr 3fr 1.5fr 1.5fr 3fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
	border: 1px solid rgba(0, 0, 0, 0.05);
	grid-gap: 5px;
	align-content: center;
	text-align: center;
}

#qty {
	grid-area: qty;
}

#tl {
	grid-area: tl;
}

#lc {
	grid-area: lc;
}

#subCategory {
	grid-area: sc;
}

#equipped {
	grid-area: equipped;
}

#value {
	grid-area: value;
}

#weight {
	grid-area: weight;
}

#baseSkillRow {
	grid-area: baseSkillRow;
	display: grid;
	grid-template: "baseSkillLabel baseSkillText baseSkillLevel";
	grid-template-columns: 8fr 6fr 2fr;
}

#portrait {
	grid-area: portrait;
	display: grid;
	align-self: center;
}

.portrait {
	min-width: 100px;
	min-height: 100px;
}

#actorname {
	grid-area: actorname;
	display: grid;
	height: 55px;
	font-size: 150%;
	font-weight: bold;
	align-items: center;
}

.charname {
	align-self: center;
	min-height: 50px;
}

.rollable-name {
	border-collapse: unset;
	background: unset;
	border-top: unset;
	border-bottom: unset;
	margin: unset;
}

#racegender {
	grid-area: racegender;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}

#pointTotals {
	grid-area: pointTotals;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

#secondaryAttributes {
	grid-area: secondaryAttributes;
	display: grid;
	grid-template:
		"hitpoints fatpoints damresist basicmove basicspeed";
	grid-template-columns: repeat(5,auto);
	grid-gap: 5px;
}

#hitpoints {
	grid-area: hitpoints;
}

#fatpoints {
	grid-area: fatpoints;
}

#hitpoints,
#fatpoints {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: repeat(2, auto);
	border: 2px groove darkgoldenrod;
}

#currmax {
	display: grid;
	grid-template-columns: 36px 0fr 36px;
}

#damresist {
	grid-area: damresist;
	min-width: 36px;
}

#basicmove {
	grid-area: basicmove;
	min-width: 56px;
}

#basicspeed {
	grid-area: basicspeed;
	min-width: 56px;
}

#basicspeed,
#basicmove,
#damresist {
	display: grid;
	grid-template-rows: repeat(2, auto);
	border: 2px groove darkgoldenrod;
}

#tabselect {
	display: grid;
	grid-template-columns: repeat(7,0fr);
	border-top: 2px groove darkgoldenrod;
}

#modifiers {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border-top: 2px groove darkgoldenrod;
}

#primary-attributes {
	display: grid;
	grid-template-columns: repeat(9,auto);
	border-top: 2px groove darkgoldenrod;
}

#checks {
	display: grid;
	grid-template-columns: repeat(9,auto);
	border-top: 2px groove darkgoldenrod;
}

#attributes_defences {
	display: grid;
	grid-template-columns: repeat(9,1fr);
	border-top: 2px groove darkgoldenrod;
}

.global-modifier {
	display: grid;
	padding: 2px;
	margin: 1px;
	justify-items: center;
	border-left: 2px groove darkgoldenrod;
	border-right: 2px groove darkgoldenrod;
	background-color: #d8e8D8;
}

.defensive-modifier {
	display: grid;
	padding: 2px;
	margin: 1px;
	justify-items: center;
	background-color: #e8d8D8;
}

#attacks {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	border-top: 2px groove darkgoldenrod;
}

#skills {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-top: 2px groove darkgoldenrod;
}

.encumbranceTable {
	display: grid;
	grid-template-columns: 2fr 6fr;
	padding: 2px;
	border: 1px dotted grey;
	margin: 1px;
}

.combat-table {
	margin-left: 5px;
}

.combat-table td {
	padding: 2px;
}

#attribute-block {
	grid-area: attribute-block;
	display: grid;
	grid-template-areas: 	"stHeader 	dxHeader 	iqHeader 	htHeader"
							"st 		dx 			iq 			ht"
							"lst 		speed 		per			hts"
							"sst 		move 		will		htk"
							"kb			dodge 		fr			z1"
							"z2			z3			senses		z1";
	grid-template-columns: repeat(4,auto);
	grid-gap: 5px;
}

.reserves-block {

}

.pointTotal {

}

.unspentEntry {
	width: 5ch !important;
}

.atrVal {
	width: 5ch !important;
}

.senseVal {
	width: 15ch !important;
}

.senseMod {
	width: 2ch !important;
}

.attack {
	display: grid;
	grid-template-columns: 1fr auto auto 32px;
	gap: 2px;
	padding: 2px;
	border: 1px dotted grey;
	margin: 1px;
	width: 100%;
}

.primary-attribute {
	display: grid;
	grid-template-columns: auto 2fr 2fr 2fr auto;
	padding: 2px;
	border: 1px dotted grey;
	margin: 1px;
}

attribute-senses {
	padding: 2px;
	border: 1px dotted grey;
	margin: 1px;
}

.primary-attribute-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 2px;
	border: 1px dotted grey;
	margin: 1px;
}

.primary-attribute-header .title {
	font-weight: bolder;
	justify-self: center;
	align-items: center;
	width: 100%;
}

.reserves {
	display: grid;
	grid-template-columns: auto 2fr 2fr 2fr 2fr;
	padding: 2px;
	border: 1px dotted grey;
	margin: 1px;
}

.reserves-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 2px;
	border: 1px dotted grey;
	margin: 1px;
}

.reserves-header .title {
	font-weight: bolder;
	justify-self: center;
	align-items: center;
	width: 100%;
}

.check {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 2px;
	border: 1px dotted grey;
	margin: 1px;
}

.check .title {
	grid-column: 1 / 3;
	justify-self: center;
	align-items: center;
	width: 100%;
}

.roll-content {
	display: grid;
	grid-template-columns: 16px 28px;
	justify-content: center;
	align-items: center;
}

.title,
.left-title {
	justify-self: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

.right-roll-content {
	display: grid;
	grid-template-columns: 48px 16px;
	justify-content: center;
	align-items: center;
}

.single-content {
	display: grid;
	grid-template-columns: 28px;
	justify-content: center;
	align-items: center;
}

.minus-content-plus {
	display: grid;
	grid-template-columns: 16px auto 16px;
	justify-items: center;
	align-items: center;
}

.damage-dice {
	width: 40px;
	text-align: center;
}

.damage-dice-adds {
	font-size: xxx-large;
}

.damage-dice-small-adds {
	font-size: xx-large;
}

.counter {
	width: 15px;
	font-size: 150%;
	text-align: center;
}

.sheet input {
	text-align: center;
	height: auto;
	margin: auto;
}

.right-roll-content input,
.left-title input,
.title input {
	font-weight: bold;
	background: none;
	border-style: hidden;
	width: 100%;
}

.title label {
	text-align: center;
	font-weight: bold;
	color: rgb(144, 144, 144);
	background: none;
	border-style: hidden;
}
.header {
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 80%;
	font-weight: bold;
	align-self: center;
	line-height: 100%;
	color: rgb(144, 144, 144);
}

.label {
	font-size: 80%;
		white-space: nowrap;
}

.bold {
	font-weight: bold;
}

.right {
	text-align: right;
	padding-left: 2px;
	padding-right: 2px;
	align-self: center;
	color: rgb(144, 144, 144);
}

.center {
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
	align-self: center;
	color: rgb(144, 144, 144);
}

.left {
	text-align: left;
	padding-left: 2px;
	padding-right: 2px;
	align-self: center;
	color: rgb(144, 144, 144);
}

/* Styles limited to gurps4e sheets */
.gurps4e .item-form {
	font-family: "Roboto", sans-serif;
}

.gurps4e .sheet-body,
.gurps4e .sheet-body .tab,
.gurps4e .sheet-body .tab .editor {
	height: 100%;
}

.gurps4e.sheet .editor .tox-toolbar-overlord,
.gurps4e.sheet .editor .tox-toolbar__primary {
	background: none;
}

.gurps4e .tox .tox-editor-container {
	background: none;
}

.gurps4e .tox .tox-edit-area {
	padding: 0 8px;
}

.gurps4e .items-list {
	list-style: none;
	margin: 7px 0;
	padding: 0;
	overflow-y: auto;
}

.gurps4e .items-list .item-header {
	font-weight: bold;
}

.gurps4e .items-list .item {
	height: 30px;
	line-height: 24px;
	border-bottom: 1px solid #BBB;
}

.gurps4e .items-list .item .item-image {
	flex: 0 0 24px;
	margin-right: 5px;
}

.gurps4e .items-list .item img {
	display: block;
}

.gurps4e .items-list .item-name {
	margin: 0;
}

.gurps4e .items-list .item-controls {
	flex: 0 0 36px;
	text-align: right;
}

/* how to add icons to the sheet */
.icanhazicon {
	width:20px;
	height:20px;
	background-image: url('icons/anIconName.png');
	background-size: cover;
}

#stHeader {
	grid-area: stHeader;
	display: grid;
	align-self: center;
	background-color: rgba(255, 0, 0, 0.05);
}

#st {
	grid-area: st;
	display: grid;
	align-self: center;
	background-color: rgba(255, 0, 0, 0.05);
}

#lst {
	grid-area: lst;
	display: grid;
	align-self: center;
	background-color: rgba(255, 0, 0, 0.05);
}

#sst {
	grid-area: sst;
	display: grid;
	align-self: center;
	background-color: rgba(255, 0, 0, 0.05);
}

#kb {
	grid-area: kb;
	display: grid;
	align-self: center;
	background-color: rgba(255, 0, 0, 0.05);
}

#dxHeader{
	grid-area: dxHeader;
	display: grid;
	align-self: center;
	background-color: rgba(0, 255, 0, 0.05);
}

#dx {
	grid-area: dx;
	display: grid;
	align-self: center;
	background-color: rgba(0, 255, 0, 0.05);
}

#speed {
	grid-area: speed;
	display: grid;
	align-self: center;
	background-color: rgba(0, 255, 0, 0.05);
}

#move {
	grid-area: move;
	display: grid;
	align-self: center;
	background-color: rgba(0, 255, 0, 0.05);
}

#dodge {
	grid-area: dodge;
	display: grid;
	align-self: center;
	background-color: rgba(0, 255, 0, 0.05);
}

#iqHeader {
	grid-area: iqHeader;
	display: grid;
	align-self: center;
	background-color: rgba(0, 0, 255, 0.05);
}

#iq {
	grid-area: iq;
	display: grid;
	align-self: center;
	background-color: rgba(0, 0, 255, 0.05);
}

#per {
	grid-area: per;
	display: grid;
	align-self: center;
	background-color: rgba(0, 0, 255, 0.05);
}

#senses {
	grid-area: senses;
	align-self: center;
	background-color: rgba(0, 0, 255, 0.05);
}


#will {
	grid-area: will;
	display: grid;
	align-self: center;
	background-color: rgba(0, 0, 255, 0.05);
}

#fr {
	grid-area: fr;
	display: grid;
	align-self: center;
	background-color: rgba(0, 0, 255, 0.05);
}

#htHeader {
	grid-area: htHeader;
	display: grid;
	align-self: center;
	background-color: rgba(255, 255, 0, 0.05);
}

#ht {
	grid-area: ht;
	display: grid;
	align-self: center;
	background-color: rgba(255, 255, 0, 0.05);
}

#hts {
	grid-area: hts;
	display: grid;
	align-self: center;
	background-color: rgba(255, 255, 0, 0.05);
}

#htk {
	grid-area: htk;
	display: grid;
	align-self: center;
	background-color: rgba(255, 255, 0, 0.05);
}

#vis label:nth-child(1) {
	padding-right: 67px;
}

#hear label:nth-child(1) {
	padding-right: 59px;
}

#smell label:nth-child(1) {
	padding-right: 29px;
}

#touch label:nth-child(1) {
	padding-right: 69px;
}

#z1 {
	grid-area: z1;
	display: grid;
	align-self: center;
}

#z2 {
	grid-area: z2;
	display: grid;
	align-self: center;
}

#z3 {
	grid-area: z3;
	display: grid;
	align-self: center;
}

.equipment-header td {
	text-align: center;
	padding: 0 0.5em;
	font-weight: bold;
}

.equipment-entry td {
	text-align: center;
}

.enc-header td {
	text-align: center;
	padding: 0 0.5em;
	font-weight: bold;
}

.enc-entry td {
	text-align: center;
	padding: 0 0.5em;
}

.trait-category-header {
	background-color: rgba(0, 0, 0, 0.1) !important;
	text-align: center;
	text-decoration: underline;
	font-size: large;
}

.accordion-open {

}

.accordion-closed {
	display: none;
}

.dr-damage-types {
	text-align: center;
	border-left: 1px solid #b5b3a4;
	border-right: 1px solid #b5b3a4;
}

.dr-header {
	border-left: 1px solid #b5b3a4;
}

.dr-header {
	text-align: center;
}

.dr-row {
	border-left: 1px solid #b5b3a4;
}

.dr-row.penalty {
	text-align: center;
}

.dr-entry-table td:nth-child(2):not([colspan]) {
	background: rgba(255, 140, 230, 0.15);
}

.dr-entry-table td:nth-child(3):not([colspan]) {
	background: rgba(193, 193, 193, 0.15);
}

.dr-entry-table td:nth-child(4):not([colspan]) {
	background: rgba(255, 190, 140, 0.15);
}

.dr-entry-table td:nth-child(5):not([colspan]) {
	background: rgba(238, 255, 140, 0.15);
}

.dr-entry-table td:nth-child(6):not([colspan]) {
	background: rgba(138, 98, 61, 0.15);
}

.dr-entry-table td:nth-child(7):not([colspan]) {
	background: rgba(255, 140, 140, 0.15);
}

.dr-entry-table td:nth-child(8):not([colspan]) {
	background: rgba(165, 255, 140, 0.15);
}

.dr-entry-table td:nth-child(9):not([colspan]) {
	background: rgba(140, 142, 255, 0.15);
}

.dr-entry-table td:nth-child(10):not([colspan]) {
	background: rgba(140, 255, 245, 0.15);
}

.dr-entry-table td:nth-child(11):not([colspan]) {
	background: rgba(247, 140, 255, 0.15);
}

.hit-locations.master-location {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	border-bottom: 2px solid #b5b3a4;
}

.injuryTolerancesTable {
	flex: 1;
	width: unset;
	margin: 0px 5px;
}

.injuryTolerancesCheckTd {
	width: 20px;
}

.injuryTolerancesLabel {
	width: auto;
}

.hit-location-options {
	flex: 1;
}

.hitLocations {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(35,15px);
	grid-template-rows: repeat(38,15px);
	text-align: center;
}

.hitLocations div {
	border: #7a7971 solid 1px;
	font-weight: bold;
}

.location-skull {
	grid-column: 11 / 19;
	grid-row: 1 / 3;
	background-color: #D9D9D9;
}

.location-ear-left {
	grid-column: 9 / 11;
	grid-row: 3 / 6;
	background-color: #16365C;
	color: aliceblue;
}

.location-ear-right {
	grid-column: 19 / 21;
	grid-row: 3 / 6;
	background-color: #16365C;
	color: aliceblue;
}

.location-eye-left {
	grid-column: 12 / 14;
	grid-row: 3 / 5;
	z-index: 1;
	background-color: #0F243E;
	color: aliceblue;
}

.location-eye-right {
	grid-column: 16 / 18;
	grid-row: 3 / 5;
	z-index: 1;
	background-color: #0F243E;
	color: aliceblue;
}

.location-cheek-fill {
	grid-column: 11 / 19;
	grid-row: 3 / 5;
	border: unset !important;
	background-color: #8DB4E2;
}

.location-cheek-right {
	grid-column: 16 / 19;
	grid-row: 5 / 6;
	border: unset !important;
	background-color: #8DB4E2;
}

.location-cheek-left {
	grid-column: 11 / 14;
	grid-row: 5 / 6;
	border: unset !important;
	background-color: #8DB4E2;
}

.location-nose {
	grid-column: 14 / 16;
	grid-row: 3 / 6;
	background-color: #C5D9F1;
}

.location-jaw {
	grid-column: 11 / 19;
	grid-row: 6 / 8;
	background-color: #538DD5;
}

.location-neck {
	grid-column: 13 / 17;
	grid-row: 8 / 10;
	background-color: #31869B;
}

.location-wing-shoulder-left {
	grid-column: 6 / 10;
	grid-row: 8 / 10;
	background-color: #ffeeee;
}

.location-wing-shoulder-right {
	grid-column: 20 / 24;
	grid-row: 8 / 10;
	background-color: #ffeeee;
}

.location-upper-wing-left {
	grid-column: 5 / 9;
	grid-row: 6 / 8;
	background-color: #ffffff;
}

.location-upper-wing-right {
	grid-column: 21 / 25;
	grid-row: 6 / 8;
	background-color: #ffffff;
}

.location-wing-elbow-left {
	grid-column: 4 / 8;
	grid-row: 4 / 6;
	background-color: #efeeff;
}

.location-wing-elbow-right {
	grid-column: 22 / 26;
	grid-row: 4 / 6;
	background-color: #efeeff;
}

.location-forewing-left {
	grid-column: 3 / 7;
	grid-row: 2 / 4;
	background-color: #ffffff;
}

.location-forewing-right {
	grid-column: 23 / 27;
	grid-row: 2 / 4;
	background-color: #ffffff;
}

.location-shoulder-left {
	grid-column: 6 / 10;
	grid-row: 10 / 13;
	z-index: 1;
	background-color: #76933C;
}

.location-shoulder-right {
	grid-column: 20 / 24;
	grid-row: 10 / 13;
	z-index: 1;
	background-color: #76933C;
}

.location-upper-arm-left {
	grid-column: 5 / 8;
	grid-row: 13 / 16;
	background-color: #C4D79B;
}

.location-upper-arm-right {
	grid-column: 22 / 25;
	grid-row: 13 / 16;
	z-index: 1;
	background-color: #C4D79B;
}

.location-elbow-left {
	grid-column: 4 / 7;
	grid-row: 16 / 18;
	background-color: #4F6228;
	color: blanchedalmond;
}

.location-elbow-right {
	grid-column: 23 / 26;
	grid-row: 16 / 18;
	z-index: 1;
	background-color: #4F6228;
	color: blanchedalmond;
}

.location-forearm-left {
	grid-column: 3 / 6;
	grid-row: 18 / 21;
	background-color: #EBF1DE;
}

.location-forearm-right {
	grid-column: 24 / 27;
	grid-row: 18 / 21;
	z-index: 1;
	background-color: #EBF1DE;
}

.location-wrist-left {
	grid-column: 2 / 5;
	grid-row: 21 / 22;
	background-color: #E4DFEC;
}

.location-wrist-right {
	grid-column: 25 / 28;
	grid-row: 21 / 22;
	z-index: 1;
	background-color: #E4DFEC;
}

.location-hand-left {
	grid-column: 2 / 5;
	grid-row: 22 / 23;
	background-color: #B1A0C7;
}

.location-hand-right {
	grid-column: 25 / 28;
	grid-row: 22 / 23;
	z-index: 1;
	background-color: #B1A0C7;
}

.location-palm-left {
	grid-column: 2 / 5;
	grid-row: 23 / 24;
	background-color: #60497A;
	color: aliceblue;
}

.location-palm-right {
	grid-column: 25 / 28;
	grid-row: 23 / 24;
	z-index: 1;
	background-color: #60497A;
	color: aliceblue;
}

.location-lower-shoulder-left {
	grid-column: 6 / 10;
	grid-row: 21 / 24;
	z-index: 1;
	background-color: #76933c;
}

.location-lower-shoulder-right {
	grid-column: 20 / 24;
	grid-row: 21 / 24;
	z-index: 1;
	background-color: #76933C;
}

.location-lower-upper-arm-left {
	grid-column: 5 / 8;
	grid-row: 24 / 27;
	background-color: #C4D79B;
}

.location-lower-upper-arm-right {
	grid-column: 22 / 25;
	grid-row: 24 / 27;
	background-color: #C4D79B;
}

.location-lower-elbow-left {
	grid-column: 4 / 7;
	grid-row: 27 / 29;
	background-color: #4F6228;
	color: blanchedalmond;
}

.location-lower-elbow-right {
	grid-column: 23 / 26;
	grid-row: 27 / 29;
	background-color: #4F6228;
	color: blanchedalmond;
}

.location-lower-forearm-left {
	grid-column: 3 / 6;
	grid-row: 29 / 32;
	background-color: #EBF1DE;
}

.location-lower-forearm-right {
	grid-column: 24 / 27;
	grid-row: 29 / 32;
	background-color: #EBF1DE;
}

.location-lower-wrist-left {
	grid-column: 2 / 5;
	grid-row: 32 / 33;
	background-color: #E4DFEC;
}

.location-lower-wrist-right {
	grid-column: 25 / 28;
	grid-row: 32 / 33;
	background-color: #E4DFEC;
}

.location-lower-hand-left {
	grid-column: 2 / 5;
	grid-row: 33 / 34;
	background-color: #B1A0C7;
}

.location-lower-hand-right {
	grid-column: 25 / 28;
	grid-row: 33 / 34;
	background-color: #B1A0C7;
}

.location-lower-palm-left {
	grid-column: 2 / 5;
	grid-row: 34 / 35;
	background-color: #60497A;
}

.location-lower-palm-right {
	grid-column: 25 / 28;
	grid-row: 34 / 35;
	background-color: #60497A;
}

.location-torso {
	grid-column: 9 / 21;
	grid-row: 10 / 18;
	background-color: #FDE9D9;
}

.location-torso-spine {
	grid-column: 14 / 16;
	grid-row: 12 / 18;
	background-color: #bebebe;
}

.location-torso-vitals {
	grid-column: 13 / 17;
	grid-row: 16 / 18;
	z-index: 1;
	background-color: #FF0000;
}

.location-abdomen-vitals {
	grid-column: 13 / 17;
	grid-row: 18 / 20;
	z-index: 1;
	background-color: #FF0000;
}

.location-digestive {
	grid-column: 9 / 21;
	grid-row: 18 / 22;
	background-color: #C4BD97;
	text-align: left;
}

.location-pelvis {
	grid-column: 9 / 21;
	grid-row: 22 / 26;
	background-color: #948A54;
}

.location-groin {
	grid-column: 13 / 17;
	grid-row: 24 / 26;
	z-index: 1;
	background-color: #494529;
	color: blanchedalmond;
}

.location-thigh-left {
	grid-column: 9 / 13;
	grid-row: 26 / 30;
	background-color: #DA9694;
}

.location-thigh-right {
	grid-column: 17 / 21;
	grid-row: 26 / 30;
	background-color: #DA9694;
}

.location-thigh-artery-left {
	grid-column: 10 / 12;
	grid-row: 27 / 30;
	z-index: 1;
	background-color: #bb5b58;
}

.location-thigh-artery-right {
	grid-column: 18 / 20;
	grid-row: 27 / 30;
	z-index: 1;
	background-color: #bb5b58;
}

.location-knee-left {
	grid-column: 9 / 13;
	grid-row: 30 / 32;
	background-color: #963634;
}

.location-knee-right {
	grid-column: 17 / 21;
	grid-row: 30 / 32;
	background-color: #963634;
}

.location-shin-left {
	grid-column: 9 / 13;
	grid-row: 32 / 36;
	background-color: #F2DCDB;
}

.location-shin-right {
	grid-column: 17 / 21;
	grid-row: 32 / 36;
	background-color: #F2DCDB;
}

.location-ankle-left {
	grid-column: 9 / 13;
	grid-row: 36 / 37;
	background-color: #E4DFEC;
}

.location-ankle-right {
	grid-column: 17 / 21;
	grid-row: 36 / 37;
	background-color: #E4DFEC;
}

.location-foot-left {
	grid-column: 9 / 13;
	grid-row: 37 / 38;
	background-color: #B1A0C7;
}

.location-foot-right {
	grid-column: 17 / 21;
	grid-row: 37 / 38;
	background-color: #B1A0C7;
}

.location-sole-left {
	grid-column: 9 / 13;
	grid-row: 38 / 39;
	background-color: #60497A;
	color: aliceblue;
}

.location-sole-right {
	grid-column: 17 / 21;
	grid-row: 38 / 39;
	background-color: #60497A;
	color: aliceblue;
}

.location-tentacle1-shoulder-left {
	grid-column: 6 / 10;
	grid-row: 8 / 10;
	background-color: #f0ffee;
}

.location-tentacle1-shoulder-right {
	grid-column: 20 / 24;
	grid-row: 8 / 10;
	background-color: #f0ffee;
}

.location-upper-tentacle1-left {
	grid-column: 5 / 9;
	grid-row: 6 / 8;
	background-color: #f0ffee;
}

.location-upper-tentacle1-right {
	grid-column: 21 / 25;
	grid-row: 6 / 8;
	background-color: #f0ffee;
}

.location-tentacle1-mid-left {
	grid-column: 4 / 8;
	grid-row: 4 / 6;
	background-color: #f0ffee;
}

.location-tentacle1-mid-right {
	grid-column: 22 / 26;
	grid-row: 4 / 6;
	background-color: #f0ffee;
}

.location-foretentacle1-left {
	grid-column: 3 / 7;
	grid-row: 2 / 4;
	background-color: #f0ffee;
}

.location-foretentacle1-right {
	grid-column: 23 / 27;
	grid-row: 2 / 4;
	background-color: #f0ffee;
}

.location-tentacle2-shoulder-left {
	grid-column: 6 / 10;
	grid-row: 16 / 19;
	z-index: 1;
	background-color: #eef9ff;
}

.location-tentacle2-shoulder-right {
	grid-column: 20 / 24;
	grid-row: 16 / 19;
	z-index: 1;
	background-color: #eef9ff;
}

.location-tentacle2-upper-arm-left {
	grid-column: 5 / 8;
	grid-row: 14 / 16;
	background-color: #eef9ff;
}

.location-tentacle2-upper-arm-right {
	grid-column: 22 / 25;
	grid-row: 14 / 16;
	background-color: #eef9ff;
}

.location-tentacle2-elbow-left {
	grid-column: 3 / 6;
	grid-row: 11 / 14;
	background-color: #eef9ff;
}

.location-tentacle2-elbow-right {
	grid-column: 24 / 27;
	grid-row: 11 / 14;
	background-color: #eef9ff;
}

.location-tentacle2-forearm-left {
	grid-column: 2 / 5;
	grid-row: 8 / 11;
	background-color: #eef9ff;
}

.location-tentacle2-forearm-right {
	grid-column: 25 / 28;
	grid-row: 8 / 11;
	background-color: #eef9ff;
}

.location-tentacle3-shoulder-left {
	grid-column: 6 / 10;
	grid-row: 21 / 24;
	z-index: 1;
	background-color: #dee0f1;
}

.location-tentacle3-shoulder-right {
	grid-column: 20 / 24;
	grid-row: 21 / 24;
	z-index: 1;
	background-color: #dee0f1;
}

.location-tentacle3-upper-arm-left {
	grid-column: 5 / 8;
	grid-row: 24 / 27;
	background-color: #dee0f1;
}

.location-tentacle3-upper-arm-right {
	grid-column: 22 / 25;
	grid-row: 24 / 27;
	background-color: #dee0f1;
}

.location-tentacle3-elbow-left {
	grid-column: 4 / 7;
	grid-row: 27 / 29;
	background-color: #dee0f1;
}

.location-tentacle3-elbow-right {
	grid-column: 23 / 26;
	grid-row: 27 / 29;
	background-color: #dee0f1;
}

.location-tentacle3-forearm-left {
	grid-column: 3 / 6;
	grid-row: 29 / 32;
	background-color: #dee0f1;
}

.location-tentacle3-forearm-right {
	grid-column: 24 / 27;
	grid-row: 29 / 32;
	background-color: #dee0f1;
}

.location-tentacle4-thigh-left {
	grid-column: 9 / 13;
	grid-row: 26 / 29;
	background-color: #e8def1;
}

.location-tentacle4-thigh-right {
	grid-column: 17 / 21;
	grid-row: 26 / 29;
	background-color: #e8def1;
}

.location-tentacle4-knee-left {
	grid-column: 8 / 12;
	grid-row: 29 / 32;
	background-color: #e8def1;
}

.location-tentacle4-knee-right {
	grid-column: 18 / 22;
	grid-row: 29 / 32;
	background-color: #e8def1;
}

.location-tentacle4-shin-left {
	grid-column: 7 / 11;
	grid-row: 32 / 35;
	background-color: #e8def1;
}

.location-tentacle4-shin-right {
	grid-column: 19 / 23;
	grid-row: 32 / 35;
	background-color: #e8def1;
}

.location-tentacle4-tip-left {
	grid-column: 6 / 10;
	grid-row: 35 / 38;
	background-color: #e8def1;
}

.location-tentacle4-tip-right {
	grid-column: 20 / 24;
	grid-row: 35 / 38;
	background-color: #e8def1;
}

.location-tail-shoulder {
	grid-column: 14 / 16;
	grid-row: 26 / 28;
	background-color: #eefeff;
}

.location-tail-forearm {
	grid-column: 14 / 16;
	grid-row: 28 / 32;
	background-color: #eefeff;
}

.location-animal-chest {
	grid-column: 21 / 30;
	grid-row: 20 / 26;
	text-align: left;
	background-color: #bfad9f;
}

.location-animal-chest-vitals {
	grid-column: 28 / 30;
	grid-row: 21 / 24;
	z-index: 1;
	background-color: #ff0000;
}

.location-animal-chest-spine {
	grid-column: 21 / 30;
	grid-row: 18 / 20;
	text-align: left;
	background-color: #bebebe;
}

.location-animal-abdomen-vitals {
	grid-column: 30 / 32;
	grid-row: 21 / 24;
	z-index: 1;
	background-color: #ff0000;
}

.location-animal-abdomen-digestive {
	grid-column: 30 / 33;
	grid-row: 18 / 26;
	background-color: #C4BD97;
}

.location-animal-abdomen-pelvis {
	grid-column: 33 / 36;
	grid-row: 18 / 26;
	background-color: #948A54;
}

.location-animal-abdomen-groin {
	grid-column: 34 / 36;
	grid-row: 23 / 26;
	z-index: 1;
	background-color: #494529;
	color: blanchedalmond;
}


.location-hind-thigh-left {
	grid-column: 27 / 31;
	grid-row: 26 / 30;
	background-color: #DA9694;
}

.location-hind-thigh-right {
	grid-column: 32 / 36;
	grid-row: 26 / 30;
	background-color: #DA9694;
}

.location-hind-thigh-artery-left {
	grid-column: 28 / 30;
	grid-row: 27 / 30;
	z-index: 1;
	background-color: #bb5b58;
}

.location-hind-thigh-artery-right {
	grid-column: 33 / 35;
	grid-row: 27 / 30;
	z-index: 1;
	background-color: #bb5b58;
}

.location-hind-knee-left {
	grid-column: 27 / 31;
	grid-row: 30 / 32;
	background-color: #963634;
}

.location-hind-knee-right {
	grid-column: 32 / 36;
	grid-row: 30 / 32;
	background-color: #963634;
}

.location-hind-shin-left {
	grid-column: 27 / 31;
	grid-row: 32 / 36;
	background-color: #F2DCDB;
}

.location-hind-shin-right {
	grid-column: 32 / 36;
	grid-row: 32 / 36;
	background-color: #F2DCDB;
}

.location-hind-ankle-left {
	grid-column: 27 / 31;
	grid-row: 36 / 37;
	background-color: #E4DFEC;
}

.location-hind-ankle-right {
	grid-column: 32 / 36;
	grid-row: 36 / 37;
	background-color: #E4DFEC;
}

.location-hind-foot-left {
	grid-column: 27 / 31;
	grid-row: 37 / 38;
	background-color: #B1A0C7;
}

.location-hind-foot-right {
	grid-column: 32 / 36;
	grid-row: 37 / 38;
	background-color: #B1A0C7;
}

.location-hind-sole-left {
	grid-column: 27 / 31;
	grid-row: 38 / 39;
	background-color: #60497A;
	color: aliceblue;
}

.location-hind-sole-right {
	grid-column: 32 / 36;
	grid-row: 38 / 39;
	background-color: #60497A;
	color: aliceblue;
}

.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 2px 0;
	position: absolute;
	z-index: 999;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 999;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
