<form class="{{cssClass}} flexcol" autocomplete="off">

	<div id="sheet">

		{{!-- Sheet Header --}}
		<header class="sheet-header">

			<div id="personal">
				<div id="portrait">
					<img class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
				</div>
				<div id="actorname">
					<input class="charname" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
				</div>
				<div id="racegender">
					<div>
						<div class="bold label right">
							<input type="text" name="data.bio.race.value"
								value="{{data.bio.race.value}}" placeholder="Race" />
						</div>
					</div>
                    <div>
                        <div class="bold label right">
                            <input type="text" name="data.bio.height.value"
                                   value="{{data.bio.height.value}}" placeholder="Height" />
                        </div>
                    </div>
                    <div>
                        <div class="bold label right">
							<span>SM:</span>
                            <input type="text" name="data.bio.sm.value"
                                   value="{{data.bio.sm.value}}" placeholder="Size Mod"
								   style="width: 80%;"/>
                        </div>
                    </div>
                    <div>
                        <div class="bold label right">
                            <input type="text" name="data.bio.gender.value"
                                   value="{{data.bio.gender.value}}" placeholder="Gender" />
                        </div>
                    </div>
                    <div>
                        <div class="bold label right">
                            <input type="text" name="data.bio.weight.value"
                                   value="{{data.bio.weight.value}}" placeholder="Weight" />
                        </div>
                    </div>
                    <div>
                        <div class="bold label right">
							<span>TL:</span>
                            <input type="text" name="data.bio.tl.value"
                                   value="{{data.bio.tl.value}}" placeholder="TL"
                                   style="width: 40%;"/>
							<span>Pts:</span>
                            <input type="text" name="data.bio.tl.points"
                                   value="{{data.bio.tl.points}}" placeholder="points"
                                   style="width: 40%;"/>
                        </div>
                    </div>
				</div>

				<!-- Here are the point reserves -->
				<div id="reserves" class="reserves-block">
					<div class="reserves-header">
						<label class="title">Cur</label>
						<label class="title">Max</label>
						<label class="title">Mod</label>
						<label class="title">Pts</label>
					</div>
					<div class="reserves">
						<label>{{data.reserves.hp.abbr}}</label>
						<input type="text" name="data.reserves.hp.value" class="atrVal" value="{{data.reserves.hp.value}}" data-dtype="Number"/>
						<input type="text" name="data.reserves.hp.max" class="atrVal" value="{{data.reserves.hp.max}}" data-dtype="Number" disabled />
						<input type="text" name="data.reserves.hp.mod" class="atrMod" value="{{data.reserves.hp.mod}}" data-dtype="Number" />
						<input type="text" name="data.reserves.hp.points" class="atrPoints" value="{{data.reserves.hp.points}}" data-dtype="Number" />

						<label>{{data.reserves.fp.abbr}}</label>
						<input type="text" name="data.reserves.fp.value" class="atrVal" value="{{data.reserves.fp.value}}" data-dtype="Number"/>
						<input type="text" name="data.reserves.fp.max" class="atrVal" value="{{data.reserves.fp.max}}" data-dtype="Number" disabled />
						<input type="text" name="data.reserves.fp.mod" class="atrMod" value="{{data.reserves.fp.mod}}" data-dtype="Number" />
						<input type="text" name="data.reserves.fp.points" class="atrPoints" value="{{data.reserves.fp.points}}" data-dtype="Number" />

						<label>{{data.reserves.er.abbr}}</label>
						<input type="text" name="data.reserves.er.value" class="atrVal" value="{{data.reserves.er.value}}" data-dtype="Number"/>
						<input type="text" name="data.reserves.er.max" class="atrVal" value="{{data.reserves.er.max}}" data-dtype="Number" disabled />
						<input type="text" name="data.reserves.er.mod" class="atrMod" value="{{data.reserves.er.mod}}" data-dtype="Number" />
						<input type="text" name="data.reserves.er.points" class="atrPoints" value="{{data.reserves.er.points}}" data-dtype="Number" />
					</div>
				</div>

				<div id="pointTotals">
					<table>
						<tr>
							<td class="">Total:</td>
							<td class="pointTotal">{{numberFormat data.points.total decimals=0}}</td>
						</tr>
						<tr>
							<td class="">Attributes:</td>
							<td class="pointTotal">{{numberFormat data.points.attributes decimals=0}}</td>
						</tr>
						<tr>
							<td class="">Traits:</td>
							<td class="pointTotal">{{numberFormat data.points.traits decimals=0}}</td>
						</tr>
						<tr>
							<td class="">Skills:</td>
							<td class="pointTotal">{{numberFormat data.points.skills decimals=0}}</td>
						</tr>
						<tr>
							<td class="">Unspent:</td>
							<td><input type="text" name="data.points.unspent" class="pointTotal unspentEntry" value="{{data.points.unspent}}" data-dtype="Number"/></td>
						</tr>
					</table>
				</div>
			</div>

		</header>

		{{!-- Sheet Tab Navigation --}}
		<nav id="tabselect" class="sheet-tabs tabs" data-group="primary">
				<div class="header">
						<a class="item" data-tab="stats">Main</a>
				</div>
				<div class="header">
						<a class="item" data-tab="traits">Advantages & Disadvantages</a>
				</div>
				<div class="header">
						<a class="item" data-tab="rollable">Skills & Techniques</a>
				</div>
				<div class="header">
						<a class="item" data-tab="combat">Combat</a>
				</div>
				<div class="header">
						<a class="item" data-tab="items">Items</a>
				</div>
				<div class="header">
					<a class="item" data-tab="armour-display">Armour Display</a>
				</div>
				<div class="header">
						<a class="item" data-tab="body-type">Body Type</a>
				</div>
		</nav>

		{{!-- Sheet Body --}}
		<section class="sheet-body">

			{{!-- Stats Tab --}}
			<div class="tab stats" data-tab="stats" data-group="primary">

				<div id="attributes_defences">
					<!-- Here are the primary attributes -->
					<div id="attribute-block">
                        <div class="primary-attribute-header" id="stHeader">
                            <label class="title">Val</label>
                            <label class="title">Mod</label>
                            <label class="title">Pts</label>
                        </div>
                        <div class="primary-attribute-header" id="dxHeader">
                            <label class="title">Val</label>
                            <label class="title">Mod</label>
                            <label class="title">Pts</label>
                        </div>
                        <div class="primary-attribute-header" id="iqHeader">
                            <label class="title">Val</label>
                            <label class="title">Mod</label>
                            <label class="title">Pts</label>
                        </div>
                        <div class="primary-attribute-header" id="htHeader">
                            <label class="title">Val</label>
                            <label class="title">Mod</label>
                            <label class="title">Pts</label>
                        </div>
						{{#each data.primaryAttributes as |attr id|}}
						<div class="primary-attribute" id="{{attr.id}}">
								<label style="font-weight: bold">{{attr.abbr}}</label>
								<input type="text" name="data.primaryAttributes.{{id}}.value" class="atrVal" value="{{attr.value}}"
									data-dtype="Number" disabled />
								<input type="text" name="data.primaryAttributes.{{id}}.mod" class="atrMod" value="{{attr.mod}}"
											 data-dtype="Number" />
								<input type="text" name="data.primaryAttributes.{{id}}.points" class="atrPoints" value="{{attr.points}}"
											 data-dtype="Number" />
							{{#unless (or (eq attr.abbr "Speed") (eq attr.abbr "Move") )}}
							<label for="data.primaryAttributes.{{id}}.value" class="fa fa-dice-six rollable"
										 data-level="{{attr.value}}" data-label="Makes a &lt;b&gt;{{attr.abbr}}&lt;/b&gt; check."
										 data-type="skill"></label>
							{{/unless}}
						</div>
						{{/each}}
					</div>
				</div>

				{{!-- Biography Tab --}}
				<div id="biography">
					<p>Notes</p>
					<textarea rows="13" name="data.biography">{{{data.biography}}}</textarea>
				</div>
			</div>

				{{!-- Traits Tab --}}
				<div id="traits" class="tab items" data-tab="traits" data-group="primary">
						<table class="items-list">
								<tr class="item item-header" style="background-color: rgba(0, 0, 0, 0.2);">
										<td class="item-image"></td>
										<td class="item-name">Name</td>
										<td class="item-notes">Notes</td>
										<td class="item-rolls">Roll</td>
										<td class="item-points">Points</td>
										<td class="item-controls"></td>
								</tr>
								{{#each actor.traitCategories as |category cat|}}
									{{#unless (eq category "")}}
									<tr class="item item-header trait-category-header">
										<td colspan="6">
											<a class="accordion" id="t-accordion-clickable-{{category}}">{{category}}</a>
										</td>
									</tr>
									{{/unless}}
									{{#each ../actor.items as |item id|}}
										{{#if (eq type "Trait") }}
											{{#if (eq item.data.subCategory category)}}
												<tr class="item accordion-div-{{category}} accordion-open" data-item-id="{{item._id}}">
													<td class="item-image" style="width: 24px; padding: 0 2px">
														<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
													</td>
													<td class="item-name">
															{{item.name}}
													</td>
													<td class="item-notes">
															{{data.shortNotes}}
													</td>
													<td class="item-skill" style="width: 3em;">
														{{#if (isInt data.level)}}
															{{#if data.level}}
																<label for="data.level" class="fa fa-dice-six rollable" data-level="{{data.level}}"
																		 data-label="Makes a &lt;b&gt;{{name}}&lt;/b&gt; roll." data-type="skill"></label>
																{{data.level}}
															{{/if}}
														{{/if}}
													</td>
													<td class="item-points" style="width: 4em;">
														<div class="item-notes">
															{{data.points}}
														</div>
													</td>

													<td class="item-controls" style="width: 30px;">
															<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
															<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
													</td>
												</tr>
											{{/if}}
										{{/if}}
									{{/each}}
								{{/each}}
						</table>
				</div>

			{{!-- Rollable Tab --}}
			<div id="rollable" class="tab items" data-tab="rollable" data-group="primary">
				<table class="items-list">
					<tr class="item item-header">
						<td class="item-image"></td>
						<td class="item-name">Skill</td>
						<td class="item-notes">Notes</td>
						<td class="item-points">Points</td>
						<td class="item-rolls">Skill</td>
						<td class="item-controls"></td>
					</tr>
					{{#each actor.rollableCategories as |category cat|}}
						{{#unless (eq category "")}}
						<tr class="item item-header trait-category-header">
							<td colspan="6">
								<a class="accordion" id="r-accordion-clickable-{{category}}">{{category}}</a>
							</td>
						</tr>
						{{/unless}}
						{{#each ../actor.items as |item id|}}
							{{#if (eq type "Rollable")}}
								{{#if (eq item.data.subCategory category)}}
									<tr class="item accordion-div-{{category}} accordion-open" data-item-id="{{item._id}}">
										<td class="item-image" style="width: 24px; padding: 0 2px">
											<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
										</td>
										<td class="item-name">
											{{item.name}}
										</td>
										<td class="item-notes">
											{{data.shortNotes}}
										</td>
										<td class="item-points" style="width: 4em;">
											{{data.points}}
										</td>
										<td class="item-skill" style="width: 3em;">
											<label for="data.level" class="fa fa-dice-six rollable" data-level="{{data.level}}"
												   data-label="Makes a &lt;b&gt;{{name}}&lt;/b&gt; roll." data-type="skill"></label>
											{{data.level}}
										</td>
										<td class="item-controls" style="width: 30px;">
											<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
											<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
										</td>
									</tr>
								{{/if}}
							{{/if}}
						{{/each}}
					{{/each}}
				</table>
			</div>

			{{!-- Combat Tab --}}
			<div id="weapons" class="tab items" data-tab="combat" data-group="primary">
				<div class="encumbranceTable">
					<table>
						<tr class="enc-header">
							<td>Level</td><td>Max Load</td><td>Move</td><td>Dodge</td>
						</tr>
						{{#each data.encumbrance as |enc id|}}
						<tr class="enc-entry">
							<td>{{enc.title}}</td>
							<td>{{enc.lbs}}</td>
							<td>{{enc.move}}</td>
							<td>{{enc.dodge}}
								<label for="enc.dodge" class="fa fa-dice-six rollable" data-level="{{enc.dodge}}"
									   data-label="Makes a &lt;b&gt;Dodge&lt;/b&gt; roll." data-type="skill"></label>
							</td>
						</tr>
						{{/each}}
					</table>
					<div>
						<div>
							<span class="bold">Swing:</span> {{data.baseDamage.swing}}
						</div>
						<div>
							<span class="bold">Thrust:</span> {{data.baseDamage.thrust}}
						</div>
					</div>
				</div>
				<table class="items-list">
					<tr class="bold">
						<td>Item</td>
						<td>Attack</td>
						<td>Skill</td>
						<td>Parry</td>
						<td>Block</td>
						<td>Damage</td>
						<td>Reach</td>
						<td>ST</td>
					</tr>
					{{#each actor.items as |item id|}}
					{{#each item.data.melee as |melee mid|}}
					<tr>
						<td>{{item.name}}</td>
						<td>{{melee.name}}</td>
						<td>
							{{melee.skill}}: {{melee.level}}
							<label for="melee.skill" class="fa fa-dice-six rollable" data-level="{{melee.level}}"
								   data-label="Makes a &lt;b&gt;{{item.name}} {{melee.name}}&lt;/b&gt; Skill roll." data-type="skill"></label>
						</td>
						<td>
							{{melee.parry}}{{melee.parryType}}
							{{#if (isInt melee.parry)}}
							<label for="melee.parry" class="fa fa-dice-six rollable" data-level="{{melee.parry}}"
								   data-label="Makes a &lt;b&gt;{{item.name}}&lt;/b&gt; Parry roll." data-type="skill"></label>
							{{/if}}
						</td>
						<td>
							{{melee.block}}
							{{#if (isInt melee.block)}}
							<label for="melee.block" class="fa fa-dice-six rollable" data-level="{{melee.block}}"
								   data-label="&lt;b&gt;{{item.name}}&lt;/b&gt; Block roll." data-type="skill"></label>
							{{/if}}
						</td>
						<td>
							{{melee.damage}} {{melee.damageType}} ({{melee.armorDivisor}})
							<label for="melee.damage" class="fa fa-dice-six rollable" data-level="{{melee.damage}}"
								   data-label="Makes a &lt;b&gt;{{item.name}} {{melee.name}}&lt;/b&gt; Damage roll." data-type="damage"></label>
						</td>
						<td>{{melee.reach}}</td>
						<td>{{melee.st}}</td>
					</tr>
					{{/each}}
					{{/each}}
				</table>
				<table class="items-list">
					<tr class="bold">
						<td>Item</td>
						<td>Attack</td>
						<td>Skill</td>
						<td>Acc</td>
						<td>Damage</td>
						<td>Range</td>
						<td>Rof</td>
						<td>Shots</td>
						<td>Bulk</td>
						<td>Rcl</td>
						<td>ST</td>
					</tr>
					{{#each actor.items as |item id|}}
					{{#each item.data.ranged as |ranged rid|}}
					<tr>
						<td>{{item.name}}</td>
						<td>{{ranged.name}}</td>
						<td>
							{{ranged.skill}}: {{ranged.level}}
							<label for="ranged.skill" class="fa fa-dice-six rollable" data-level="{{ranged.level}}"
								   data-label="Makes a &lt;b&gt;{{item.name}} {{ranged.name}}&lt;/b&gt; Skill roll." data-type="skill"></label>
						</td>
						<td>{{ranged.acc}}</td>
						<td>
							{{ranged.damage}} {{ranged.damageType}} ({{ranged.armorDivisor}})
							<label for="ranged.damage" class="fa fa-dice-six rollable" data-level="{{ranged.damage}}"
								   data-label="Makes a &lt;b&gt;{{item.name}} {{ranged.name}}&lt;/b&gt; Damage roll." data-type="damage"></label>
						</td>
						<td>{{ranged.range}}</td>
						<td>{{ranged.rof}}</td>
						<td>{{ranged.shots}}</td>
						<td>{{ranged.bulk}}</td>
						<td>{{ranged.rcl}}</td>
						<td>{{ranged.st}}</td>
					</tr>
					{{/each}}
					{{/each}}
				</table>
			</div>

			{{!-- Items Tab --}}
			<div id="items" class="tab items" data-tab="items" data-group="primary">
				{{!-- List of Items --}}
				<table class="items-list">
					<tr class="bold">
						<td class="item-image"></td>
						<td class="item-name">Name</td>
						<td class="item-notes">Notes</td>
						<td class="item-title" style="padding-right: 0.2em">TL</td>
						<td class="item-title" style="padding-right: 0.2em">LC</td>
						<td class="item-title" style="padding-right: 0.2em">Qty</td>
						<td class="item-title">$</td>
						<td class="item-title" style="padding-right: 0.2em">lbs</td>
						<td class="item-title">Status</td>
						<td class="item-controls"></td>
					</tr>
					{{#each actor.equipmentCategories as |category cat|}}
						{{#unless (eq category "")}}
						<tr class="item item-header trait-category-header">
							<td colspan="10">
								<a class="accordion" id="e-accordion-clickable-{{category}}">{{category}}</a>
							</td>
						</tr>
						{{/unless}}
						{{#each ../actor.items as |item id|}}
							{{#if (eq type "Equipment") }}
								{{#if (eq item.data.subCategory category)}}
									<tr class="item accordion-div-{{category}} accordion-open" data-item-id="{{item._id}}">
										<td class="item-image" style="width: 24px; padding: 0 2px">
											<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
										</td>
										<td class="item-name"><span>{{item.name}}</span></td>
										<td class="item-notes"><span>{{item.data.shortNotes}}</span></td>
										<td style="width: 1em;"><span>{{item.data.tl}}</span></td>
										<td style="width: 1em;"><span>{{item.data.lc}}</span></td>
										<td style="width: 1.5em;"><span>{{item.data.quantity}}</span></td>
										<td><span>{{item.data.ttlCost}}</span></td>
										<td><span>{{item.data.ttlWeight}}</span></td>
										<td style="width: 62px;"><span>{{item.data.equipStatus}}</span></td>
										<td class="item-controls" style="width: 30px;">
											<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
											<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
										</td>
									</tr>
								{{/if}}
							{{/if}}
						{{/each}}
					{{/each}}
					<tr class="item">
						<td class="item-image"></td>
						<td class="item-name"><span></span></td>
						<td class="item-notes"><span></span></td>
						<td><span></span></td>
						<td><span></span></td>
						<td><span class="bold">Totals:</span></td>
						<td><span>{{actor.data.bio.carriedValue}}</span></td>
						<td><span>{{actor.data.bio.carriedWeight}}</span></td>
						<td><span></span></td>
						<td class="item-controls"></td>
					</tr>

				</table>
			</div>

			{{!-- Armour Display Tab --}}
			<div class="tab stats" data-tab="armour-display" data-group="primary">
				<div class="humanoidHitLocations">
					<div class="location-skull">## / ##</div>
					<div class="location-ear-left">## / ##</div>
					<div class="location-ear-right">## / ##</div>
					<div class="location-eye-left">## / ##</div>
					<div class="location-eye-right">## / ##</div>
					<div class="location-cheek-left">## / ##</div>
					<div class="location-cheek-right">## / ##</div>
					<div class="location-nose">## / ##</div>
					<div class="location-jaw">## / ##</div>
				</div>
			</div>

			{{!-- Body Type Tab --}}
			<div id="body-type" class="tab body-type" data-tab="body-type" data-group="primary">
				{{log actor.data.bodyType}}
				{{log actor.data.injuryTolerances}}
				<div>
					<label>Body Type:</label>
					<select name="data.bodyType.name" class="bodyType">
						{{#select data.bodyType.name}}
						<option value="">Make a Selection</option>
						<option value="humanoid">Humanoid</option>
						<option value="wingedHumanoid">Winged Humanoid</option>
						<option value="quadruped">Quadruped</option>
						<option value="wingedQuadruped">Winged Quadruped</option>
						<option value="hexapod">Hexapod</option>
						<option value="wingedHexapod">Winged Hexapod</option>
						<option value="centaur">Centaur</option>
						<option value="avian">Avian</option>
						<option value="vermiform">Vermiform</option>
						<option value="lamia">Lamia</option>
						<option value="wingedLamia">Winged Lamia</option>
						<option value="octopod">Octopod</option>
						<option value="cancroid">Cancroid</option>
						<option value="ichthyoid">Ichthyoid</option>
						<option value="arachnoid">Arachnoid</option>
						{{/select}}
					</select>
				</div>
				<div style="display: flex">
					<table class="injuryTolerancesTable">
						<tr>
							<td colspan="2" style="text-align: center; font-weight: bold; border-bottom: #7a7971 2px solid">Injury Settings</td>
						</tr>
						<tr>
							<td>Damage Reduction:</td>
							<td><input type="number" id="data.injuryTolerances.damageReduction" name="data.injuryTolerances.damageReduction" value="{{data.injuryTolerances.damageReduction}}" data-dtype="Number" style="width: 25px"/></td>
						</tr>
						<tr>
							<td>Supernatural Durability:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.supernaturalDurability" {{checked data.injuryTolerances.supernaturalDurability}} data-dtype="Boolean"/></td>
						</tr>
						<tr>
							<td>Low Pain Threshold:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.lowPainThreshold" {{checked data.injuryTolerances.lowPainThreshold}} data-dtype="Boolean"/></td>
						</tr>
						<tr>
							<td>High Pain Threshold:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.highPainThreshold" {{checked data.injuryTolerances.highPainThreshold}} data-dtype="Boolean"/></td>
						</tr>
					</table>
					<table class="injuryTolerancesTable">
						<tr>
							<td colspan="4" style="text-align: center; font-weight: bold; border-bottom: #7a7971 2px solid">Injury Tolerance</td>
						</tr>
						<tr>
							<td class="injuryTolerancesLabel">Diffuse:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.diffuse" {{checked data.injuryTolerances.diffuse}} data-dtype="Boolean"/></td>
							<td class="injuryTolerancesLabel">No Brain:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.noBrain" {{checked data.injuryTolerances.noBrain}} data-dtype="Boolean"/></td>
						</tr>
						<tr>
							<td class="injuryTolerancesLabel">Homogenous:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.homogenous" {{checked data.injuryTolerances.homogenous}} data-dtype="Boolean"/></td>
							<td class="injuryTolerancesLabel">No Eyes:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.noEyes" {{checked data.injuryTolerances.noEyes}} data-dtype="Boolean"/></td>
						</tr>
						<tr>
							<td class="injuryTolerancesLabel">Unliving:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.unliving" {{checked data.injuryTolerances.unliving}} data-dtype="Boolean"/></td>
							<td class="injuryTolerancesLabel">No Head:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.noHead" {{checked data.injuryTolerances.noHead}} data-dtype="Boolean"/></td>
						</tr>
						<tr>
							<td class="injuryTolerancesLabel">Unbreakable Bones:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.unbreakableBones" {{checked data.injuryTolerances.unbreakableBones}} data-dtype="Boolean"/></td>
							<td class="injuryTolerancesLabel">No Neck:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.noNeck" {{checked data.injuryTolerances.noNeck}} data-dtype="Boolean"/></td>
						</tr>
						<tr>
							<td class="injuryTolerancesLabel">No Blood:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.noBlood" {{checked data.injuryTolerances.noBlood}} data-dtype="Boolean"/></td>
							<td class="injuryTolerancesLabel">No Vitals:</td>
							<td  class="injuryTolerancesCheckTd"><input type="checkbox" name="data.injuryTolerances.noVitals" {{checked data.injuryTolerances.noVitals}} data-dtype="Boolean"/></td>
						</tr>
					</table>
				</div>
				<table>
					<tr class="hit-locations">
						<td></td>
						<td class="dr-damage-types">Burn</td>
						<td class="dr-damage-types">Cor</td>
						<td class="dr-damage-types">Cr</td>
						<td class="dr-damage-types">Cut</td>
						<td class="dr-damage-types">Fat</td>
						<td class="dr-damage-types">Imp</td>
						<td class="dr-damage-types">Pi</td>
						<td class="dr-damage-types">Tox</td>
						<td colspan="3" class="dr-damage-types"></td>
					</tr>
					<tr class="hit-locations">
						<td class="dr-header"></td>
						<td class="dr-header">DR/Hard</td>
						<td class="dr-header">DR/Hard</td>
						<td class="dr-header">DR/Hard</td>
						<td class="dr-header">DR/Hard</td>
						<td class="dr-header">DR/Hard</td>
						<td class="dr-header">DR/Hard</td>
						<td class="dr-header">DR/Hard</td>
						<td class="dr-header">DR/Hard</td>
						<td class="dr-header">HP</td>
						<td class="dr-header">State</td>
						<td class="dr-header">Penalty</td>
					</tr>
					{{#each actor.data.bodyType.body as |bodyPart partId|}}<!--Loop through the body parts-->
						<tr class="hit-locations master-location">
							<td colspan="9">{{bodyPart.label}}</td>
							{{#if bodyPart.hp}}
								<td class="dr-row">
									<input type="number" class="partHP" id="data.bodyType.body.{{partId}}.hp" name="data.bodyType.body.{{partId}}.hp.value" value="{{bodyPart.hp.value}}" data-dtype="Number" style="width: 50%;"/>
									<span style="width: 45%;">/{{bodyPart.hp.max}}</span></td>
								<td class="dr-row">{{bodyPart.hp.state}}</td>
							{{else}}
								<td class="dr-row" colspan="2"></td>
							{{/if}}
							<td class="dr-row penalty">{{bodyPart.penalty}}</td>
						</tr>
						{{#if bodyPart.subLocation}}<!--Check to see if there are sublocations and display them-->
							{{#each bodyPart.subLocation as |subLocation locationId|}}<!--Loop through the sublocations-->
								<tr class="hit-locations">
									<td class="dr-row">{{subLocation.label}}</td>
									<td class="dr-row">
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRBurn" value="{{subLocation.personalDRBurn}}" data-dtype="Number" />
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRHardeningBurn" value="{{subLocation.personalDRHardeningBurn}}" data-dtype="Number" />
									</td>
									<td class="dr-row">
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRCor" value="{{subLocation.personalDRCor}}" data-dtype="Number" />
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRHardeningCor" value="{{subLocation.personalDRHardeningCor}}" data-dtype="Number" />
									</td>
									<td class="dr-row">
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRCr" value="{{subLocation.personalDRCr}}" data-dtype="Number" />
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRHardeningCr"  value="{{subLocation.personalDRHardeningCr}}" data-dtype="Number" />
									</td>
									<td class="dr-row">
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRCut" value="{{subLocation.personalDRCut}}" data-dtype="Number" />
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRHardeningCut" value="{{subLocation.personalDRHardeningCut}}" data-dtype="Number" />
									</td>
									<td class="dr-row">
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRFat" value="{{subLocation.personalDRFat}}" data-dtype="Number" />
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRHardeningFat" value="{{subLocation.personalDRHardeningFat}}" data-dtype="Number" />
									</td>
									<td class="dr-row">
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRImp" value="{{subLocation.personalDRImp}}" data-dtype="Number" />
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRHardeningImp" value="{{subLocation.personalDRHardeningImp}}" data-dtype="Number" />
									</td>
									<td class="dr-row">
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRPi" value="{{subLocation.personalDRPi}}" data-dtype="Number" />
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRHardeningPi"  value="{{subLocation.personalDRHardeningPi}}" data-dtype="Number" />
									</td>
									<td class="dr-row">
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRTox" value="{{subLocation.personalDRTox}}" data-dtype="Number" />
										<input type="number" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.personalDRHardeningTox" value="{{subLocation.personalDRHardeningTox}}" data-dtype="Number" />
									</td>
									{{#if subLocation.hp}}
									<td class="dr-row">
										<input type="number" class="partHP" id="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.hp" name="data.bodyType.body.{{partId}}.subLocation.{{locationId}}.hp.value" value="{{subLocation.hp.value}}" data-dtype="Number" style="width: 50%;"/>
											<span style="width: 45%;">/{{subLocation.hp.max}}</span></td>
										<td class="dr-row">{{subLocation.hp.state}}</td>
									{{else}}
										<td class="dr-row" colspan="2"></td>
									{{/if}}
									<td class="dr-row penalty">{{subLocation.penalty}}</td>
								</tr>
							{{/each}}
						{{else}}<!--Display details for parts without sublocations (Pretty much only the skull and brian)-->
							<tr class="hit-locations">
								<td class="dr-row">{{bodyPart.label}}</td>
								<td class="dr-row">
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRBurn" value="{{bodyPart.personalDRBurn}}" data-dtype="Number" />
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRHardeningBurn" value="{{bodyPart.personalDRHardeningBurn}}" data-dtype="Number" />
								</td>
								<td class="dr-row">
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRCor" value="{{bodyPart.personalDRCor}}" data-dtype="Number" />
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRHardeningCor" value="{{bodyPart.personalDRHardeningCor}}" data-dtype="Number" />
								</td>
								<td class="dr-row">
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRCr" value="{{bodyPart.personalDRCr}}" data-dtype="Number" />
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRHardeningCr"  value="{{bodyPart.personalDRHardeningCr}}" data-dtype="Number" />
								</td>
								<td class="dr-row">
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRCut" value="{{bodyPart.personalDRCut}}" data-dtype="Number" />
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRHardeningCut" value="{{bodyPart.personalDRHardeningCut}}" data-dtype="Number" />
								</td>
								<td class="dr-row">
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRFat" value="{{bodyPart.personalDRFat}}" data-dtype="Number" />
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRHardeningFat" value="{{bodyPart.personalDRHardeningFat}}" data-dtype="Number" />
								</td>
								<td class="dr-row">
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRImp" value="{{bodyPart.personalDRImp}}" data-dtype="Number" />
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRHardeningImp" value="{{bodyPart.personalDRHardeningImp}}" data-dtype="Number" />
								</td>
								<td class="dr-row">
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRPi" value="{{bodyPart.personalDRPi}}" data-dtype="Number" />
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRHardeningPi"  value="{{bodyPart.personalDRHardeningPi}}" data-dtype="Number" />
								</td>
								<td class="dr-row">
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRTox" value="{{bodyPart.personalDRTox}}" data-dtype="Number" />
									<input type="number" name="data.bodyType.body.{{partId}}.personalDRHardeningTox" value="{{bodyPart.personalDRHardeningTox}}" data-dtype="Number" />
								</td>
								<td colspan="2" class="dr-row"></td>
								<td class="dr-row penalty">{{bodyPart.penalty}}</td>
							</tr>
						{{/if}}
					{{/each}}
				</table>
			</div>
		</section>
	</div>
</form>
