<form class="{{cssClass}} flexcol" autocomplete="off">
  <div id="sheet" style="grid-template-rows: 0fr 0fr 0fr 0fr !important;">

    {{!-- Sheet Header --}}
    <header class="simple-vehicle-sheet-header">
      <div>
        <img class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="width: 120px;"/>
      </div>
      <div style="display: flex; flex-direction: column; justify-content: space-between">
        <div>
          <h1 style="text-align: center; font-size: xx-large; font-weight: bold; text-decoration: underline; margin-bottom: 0">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
          </h1>
        </div>
        <div style="display: flex; flex-direction: column">
          <div class="simple-vehicle-skill-display">{{actor.system.vehicle.skill.operatorSkillName}}</div>
          <table class="simple-vehicle-display-table">
            <tr class="simple-vehicle-header-row">
              <th class="simple-vehicle-shrink-column">TL</th>
              <th>Vehicle</th>
              <th class="simple-vehicle-shrink-column">ST/HP</th>
              <th class="simple-vehicle-shrink-column">HnD/SR</th>
              <th class="simple-vehicle-shrink-column">HT</th>
              <th class="simple-vehicle-shrink-column">Move</th>
              <th class="simple-vehicle-shrink-column">LWt.</th>
              <th class="simple-vehicle-shrink-column">Load</th>
              <th class="simple-vehicle-shrink-column">SM</th>
              <th class="simple-vehicle-shrink-column">Occ.</th>
              <th class="simple-vehicle-shrink-column">DR</th>
              <th class="simple-vehicle-shrink-column">Range</th>
              <th class="simple-vehicle-shrink-column">Cost</th>
              <th class="simple-vehicle-shrink-column">Locations</th>
            </tr>
            <tr class="simple-vehicle-stat-row">
              <td>{{actor.system.bio.tl.value}}</td>
              <td>{{actor.system.vehicle.className}}</td>
              <td>{{actor.system.vehicle.sthp}}{{actor.system.vehicle.sthpCode}}</td>
              <td>{{actor.system.vehicle.hnd}}/{{actor.system.vehicle.sr}}</td>
              <td>{{actor.system.vehicle.ht.value}}{{actor.system.vehicle.ht.code}}</td>
              <td>{{actor.system.vehicle.acceleration.output}}/{{actor.system.vehicle.move.output}}{{actor.system.vehicle.move.code}}</td>
              <td>{{round actor.system.vehicle.weight.lwt 100}}</td>
              <td>{{round actor.system.vehicle.weight.load 100}}</td>
              <td>{{actor.system.bio.sm.value}}</td>
              <td>{{actor.system.vehicle.crew}}+{{actor.system.vehicle.passengers}}{{actor.system.vehicle.occCode}}</td>
              <td>{{displaySimpleVehicleArmour actor.system.vehicle}}</td>
              <td>{{actor.system.vehicle.range}}</td>
              <td>{{displayCurrencyNoDecimals actor.system.cost.finalCost}}$</td>
              <td>{{actor.system.vehicle.locations}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div style="flex: 1 !important; display: flex; flex-direction: column; justify-content: center; height: 100%">
        <input type="text" name="system.reserves.hp.value" class="atrVal" value="{{actor.system.reserves.hp.value}}" data-dtype="Number" style="line-height: 25px; margin: 0 auto !important; font-size: x-large;"/>
        <hr style="margin: 0 !important; border-bottom: 2px solid lightgrey !important; border-top: 2px solid grey !important;"/>
        <span style="line-height: 29px; font-size: x-large; text-align: center;">{{actor.system.reserves.hp.max}} HP</span>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav id="tabselect" class="sheet-tabs tabs" data-group="primary">
      <div class="header">
        <a class="item" data-tab="stats">Notes</a>
      </div>
      <div class="header">
        <a class="item" data-tab="travel">Travel</a>
      </div>
      <div class="header">
        <a class="item" data-tab="chase">Chase</a>
      </div>
      <div class="header">
        <a class="item" data-tab="items">Cargo</a>
      </div>
      <div class="header">
        <a class="item" data-tab="input">Design - Basics</a>
      </div>
      <div class="header">
        <a class="item" data-tab="locations">Design - Locations</a>
      </div>
      <div class="header">
        <a class="item" data-tab="upgrades"> Design - Upgrades</a>
      </div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      {{!-- Notes Tab --}}
      <div class="tab stats" data-tab="stats" data-group="primary">
        <h2 class="bold" style="text-align: center;">Notes</h2>
        <div class="tab">
          <textarea style="height: 100%; resize: none; min-height: 35em" name="system.biography">{{{actor.system.biography}}}</textarea>
        </div>
      </div>

      {{!-- Travel Tab --}}
      <div class="tab travel" data-tab="travel" data-group="primary">
        <div class="design-block">
          <!-- Start of left pane -->
          <div style="width: 50%;">
            <h2 class="bold" style="text-align: center;">Itinerary</h2>
            <table>
              <tr class="design-row">
                <td style="line-height: 27.5px">
                  Distance
                </td>
                <td>
                  <input style="width: 25%" type="number" name="system.travel.distance" value="{{actor.system.travel.distance}}" data-dtype="Number"/>
                  <select style="width: 70%" name="system.travel.unit">
                    {{selectOptions actor.system.travel.units selected=actor.system.travel.unit valueAttr="name" labelAttr="name"}}
                  </select>
                </td>
                <td class="question-container" id="travel-distance">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>

              <tr class="design-row">
                <td style="line-height: 27.5px">
                  Travelling Hours
                </td>
                <td>
                  <input type="number" name="system.travel.travellingHours" value="{{actor.system.travel.travellingHours}}" data-dtype="Number"/>
                </td>
                <td class="question-container" id="travel-hours">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>

              {{#if (eq actor.system.vehicle.craftType "land")}}
                <tr class="design-row">
                  <td style="line-height: 27.5px">
                    Terrain Quality
                  </td>
                  <td>
                    <select style="width: 70%" name="system.travel.terrainQuality">
                      {{selectOptions terrainQualities selected=actor.system.travel.terrainQuality}}
                    </select>
                  </td>
                  <td class="question-container" id="travel-terrain-quality">
                    <div class="question-button">
                      <i class="fas fa-question"></i>
                    </div>
                  </td>
                </tr>
              {{/if}}
            </table>

            <table>
              <tr class="design-row">
              <tr class="design-row">
                <td style="width: 150px">
                  Travel Time
                </td>
                <td>
                  {{{actor.system.travel.travelTime}}}
                </td>
                <td class="question-container" id="travel-time">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
            </table>

            <table>
              <tr class="design-row">
              <tr class="design-row">
                <td style="width: 150px">
                  Travel Costs
                </td>
                <td>
                  {{{actor.system.travel.travelCost}}}
                </td>
                <td class="question-container" id="travel-costs">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <!-- End of left pane, start of right pane -->
          <div style="width: 50%;">
            <h2 class="bold" style="text-align: center;">Info</h2>
            <div class="equipment-info-container">{{{actor.system.info}}}</div>
          </div>
          <!-- End of right pane -->
        </div>
      </div>

      {{!-- Input Tab --}}
      <div class="tab input" data-tab="input" data-group="primary">
        <div class="design-block">
          <div style="width: 50%;">
            <h2 class="bold" style="text-align: center;">Vehicle Basics</h2>
            <table>
              <tr class="design-row">
                <td>Craft Type</td>
                <td>
                  <select name="system.vehicle.craftType" class="craftType">
                    {{selectOptions vehicleCraftTypes selected=actor.system.vehicle.craftType}}
                  </select>
                </td>
                <td class="question-container" id="craft-type">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>Method for Describing the Vehicle</td>
                <td>
                  <select name="system.vehicle.method" class="craftType">
                    {{selectOptions vehicleMethod selected=actor.system.vehicle.method}}
                  </select>
                </td>
                <td class="question-container" id="vehicle-method">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
            </table>

            {{#if (eq actor.system.vehicle.method "pick")}}
            <h1 class="bold" style="text-align: center;">Pick & Modify</h1>
            <table>
              <tr class="design-row">
                <td>TL Filtering</td>
                <td>
                  <input style="width: 45%" type="number" placeholder="Low"  name="system.vehicle.tlFilter.lo" value="{{actor.system.vehicle.tlFilter.lo}}" min="0" max="12" step="1"/>
                  <input style="width: 45%" type="number" placeholder="High" name="system.vehicle.tlFilter.hi" value="{{actor.system.vehicle.tlFilter.hi}}" min="0" max="12" step="1"/>
                </td>
                <td class="question-container" id="tl-filter">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>Base Vehicle</td>
                <td>
                  <select name="system.vehicle.baseVehicle.code" class="baseVehicleSelect">
                    {{selectOptions actor.system.vehicle.baseVehicles selected=actor.system.vehicle.baseVehicle.code valueAttr="code" labelAttr="name"}}
                  </select>
                </td>
                <td class="question-container" id="base-vehicle-name">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
            </table>
            {{/if}}

            {{#if (eq actor.system.vehicle.method "custom")}}
            <h1 class="bold" style="text-align: center;">Full Custom</h1>
            <h2 class="bold" style="text-align: center;">Basics</h2>
            <table>
              <tr class="design-row">
              <td style="width: 100%">Class Name</td>
              <td>
                <input name="system.vehicle.className" type="text" value="{{actor.system.vehicle.className}}" placeholder="Name" />
              </td>
              <td class="question-container" id="vehicle-class-name">
                <div class="question-button">
                  <i class="fas fa-question"></i>
                </div>
              </td>
            </tr>
              <tr class="design-row">
                <td style="width: 100%">Tech Level</td>
                <td>
                  <input name="system.bio.tl.value" type="text" value="{{actor.system.bio.tl.value}}" placeholder="6"/>
                </td>
                <td class="question-container" id="vehicle-tl">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>ST/HP</td>
                <td style="display: flex">
                  <input name="system.vehicle.sthp" type="number" value="{{actor.system.vehicle.sthp}}" placeholder="10" />
                  <select name="system.vehicle.sthpCode" class="craftType" style="height: unset">
                    {{selectOptions vehicleSTTypes selected=actor.system.vehicle.sthpCode}}
                  </select>
                  {{!-- TODO - Infer this from {{actor.system.vehicle.propulsion}} --}}
                </td>
                <td class="question-container" id="sthp">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>Hnd/SR</td>
                <td style="display: flex">
                  <input name="system.vehicle.hnd" type="number" value="{{actor.system.vehicle.hnd}}" placeholder="1" />
                  <span style="font-size: xx-large; padding: 0 0.2em;">/</span>
                  <input name="system.vehicle.sr" type="number" value="{{actor.system.vehicle.sr}}" placeholder="3" />
                </td>
                <td class="question-container" id="hndSr">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>HT</td>
                <td style="display: flex">
                  <input name="system.vehicle.ht.value" type="number" value="{{actor.system.vehicle.ht.value}}" placeholder="10" style="min-width: 30px;" />
                  <input name="system.vehicle.ht.code" type="text" value="{{actor.system.vehicle.ht.code}}" placeholder="HT Code" style="min-width: 30px;" />
                </td>
                <td class="question-container" id="vehicleHT">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{#if (eq actor.system.vehicle.craftType "land")}}
              <tr class="design-row">
                <td>Move</td>
                <td style="display: flex">
                  <input name="system.vehicle.acceleration.ground" type="number" value="{{actor.system.vehicle.acceleration.ground}}" placeholder="3" />
                  <span style="font-size: xx-large; padding: 0 0.2em;">/</span>
                  <input name="system.vehicle.move.ground" type="number" value="{{actor.system.vehicle.move.ground}}" placeholder="30" />
                  <select name="system.vehicle.move.code" class="craftType" style="height: unset">
                    {{selectOptions vehicleMoveTypes selected=actor.system.vehicle.move.code}}
                  </select>
                </td>
                <td class="question-container" id="moveInput">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{else if (eq actor.system.vehicle.craftType "air")}}
              <tr class="design-row">
                <td>Move</td>
                <td style="display: flex">
                  <input name="system.vehicle.acceleration.air" type="number" value="{{actor.system.vehicle.acceleration.air}}" placeholder="3" />
                  <span style="font-size: xx-large; padding: 0 0.2em;">/</span>
                  <input name="system.vehicle.move.air" type="number" value="{{actor.system.vehicle.move.air}}" placeholder="30" />
                </td>
                <td class="question-container" id="moveInput">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{else if (eq actor.system.vehicle.craftType "water")}}
              <tr class="design-row">
                <td style="width: 100%">Is this a sailing vessel?</td>
                <td>
                  <input type="checkbox" name="system.vehicle.sailing" {{checked actor.system.vehicle.sailing}} data-dtype="Boolean" style="width: 3em;"/>
                </td>
                <td class="question-container" id="simple-vehicle-sailing">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{#if actor.system.vehicle.sailing}}
              <tr class="design-row">
                <td>Naval Sailing Movement</td>
                <td style="display: flex">
                  <input name="system.vehicle.acceleration.navalWind" type="number" value="{{actor.system.vehicle.acceleration.navalWind}}" placeholder="3" />
                  <span style="font-size: xx-large; padding: 0 0.2em;">/</span>
                  <input name="system.vehicle.move.navalWind" type="number" value="{{actor.system.vehicle.move.navalWind}}" placeholder="30" />
                </td>
                <td class="question-container" id="simple-vehicle-naval-sail-move">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{/if}}
              <tr class="design-row">
                <td>Naval Powered Movement</td>
                <td style="display: flex">
                  <input name="system.vehicle.acceleration.naval" type="number" value="{{actor.system.vehicle.acceleration.naval}}" placeholder="3" />
                  <span style="font-size: xx-large; padding: 0 0.2em;">/</span>
                  <input name="system.vehicle.move.naval" type="number" value="{{actor.system.vehicle.move.naval}}" placeholder="30" />
                </td>
                <td class="question-container" id="simple-vehicle-naval-powered-move">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{/if}}
              <tr class="design-row">
                <td>Loaded Weight (Lwt.)</td>
                <td style="display: flex">
                  <input name="system.vehicle.weight.lwt" type="number" value="{{actor.system.vehicle.weight.lwt}}" placeholder="1" />
                  <span style="font-weight: bold; font-size: large; padding-left: 1em;"> tons</span>
                </td>
                <td class="question-container" id="lwt">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>Load</td>
                <td style="display: flex">
                  <input name="system.vehicle.weight.load" type="number" value="{{actor.system.vehicle.weight.load}}" placeholder="1" />
                  <span style="font-weight: bold; font-size: large; padding-left: 1em;"> tons</span>
                </td>
                <td class="question-container" id="load">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>Empty Weight</td>
                <td style="display: flex">
                  <span style="font-weight: bold; font-size: large; margin: auto;">{{actor.system.vehicle.weight.emptyWeight}} tons</span>
                </td>
                <td class="question-container" id="empty-weight">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>Crew & Passengers</td>
                <td style="display: flex">
                  <input name="system.vehicle.crew" type="number" value="{{actor.system.vehicle.crew}}" placeholder="1" />
                  <span style="font-size: xx-large; padding: 0 0.2em;">/</span>
                  <input name="system.vehicle.passengers" type="number" value="{{actor.system.vehicle.passengers}}" placeholder="3" />
                  <input name="system.vehicle.occCode" type="text" value="{{actor.system.vehicle.occCode}}" placeholder="Occ Code" style="min-width: 30px;" />
                </td>
                <td class="question-container" id="crew-passengers">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>Size Modifier</td>
                <td style="display: flex">
                  <input name="system.bio.sm.value" type="number" value="{{actor.system.bio.sm.value}}" placeholder="2" />
                </td>
                <td class="question-container" id="sm">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>Range</td>
                <td style="display: flex">
                  <input name="system.vehicle.range" type="number" value="{{actor.system.vehicle.range}}" placeholder="300" />
                  <span style="font-weight: bold; font-size: large; padding-left: 1em;"> miles</span>
                </td>
                <td class="question-container" id="range">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>Base Cost</td>
                <td style="display: flex">
                  <input name="system.vehicle.baseCost" type="number" value="{{actor.system.vehicle.baseCost}}" placeholder="10000" />
                  <span style="font-weight: bold; font-size: large; padding-left: 1em;"> $</span>
                </td>
                <td class="question-container" id="base-cost">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td style="width: 100%">Locations</td>
                <td>
                  <input name="system.vehicle.locations" type="text" value="{{actor.system.vehicle.locations}}" placeholder="G4W" />
                </td>
                <td class="question-container" id="locations">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
            </table>

            <h2 class="bold" style="text-align: center;">Damage Resistance</h2>
            <table>
              <tr class="design-row">
                <td style="width: 100%">Entry Method</td>
                <td>
                  <select name="system.vehicle.drMethod" class="dr-entry-select">
                    {{selectOptions vehicleDRMethods selected=actor.system.vehicle.drMethod}}
                  </select>
                </td>
                <td class="question-container" id="dr-method">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>

              {{#if (or (eq actor.system.vehicle.drMethod "single") (eq actor.system.vehicle.drMethod "singlePlus"))}}
              <tr class="design-row">
                <td style="width: 100%">Damage Resistance</td>
                <td>
                  <input name="system.vehicle.dr" type="number" value="{{actor.system.vehicle.dr}}" placeholder="2" />
                </td>
                <td class="question-container" id="dr-single">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{/if}}
            </table>
            {{#if (or (eq actor.system.vehicle.drMethod "facing") (eq actor.system.vehicle.drMethod "facingPlus"))}}
            <h2 class="bold" style="text-align: center;">Facing DR</h2>
            <table style="background-image: url('systems/gurps4e/icons/svg/car-side.svg'); background-size: contain; background-repeat: no-repeat; background-position: center;">
              <tr>
                <td></td>
                <td>
                  <div style="text-align: center; font-weight: bold; text-decoration: underline;">Top</div>
                  <input name="system.vehicle.drFacing.drTop" type="number" value="{{actor.system.vehicle.drFacing.drTop}}" placeholder="2" />
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <div style="text-align: center; font-weight: bold; text-decoration: underline;">Rear</div>
                  <input name="system.vehicle.drFacing.drRear" type="number" value="{{actor.system.vehicle.drFacing.drRear}}" placeholder="2" />
                </td>
                <td>
                  <div style="text-align: center; font-weight: bold; text-decoration: underline;">Sides</div>
                  <input name="system.vehicle.drFacing.drSide" type="number" value="{{actor.system.vehicle.drFacing.drSide}}" placeholder="2" />
                </td>
                <td>
                  <div style="text-align: center; font-weight: bold; text-decoration: underline;">Front</div>
                  <input name="system.vehicle.drFacing.drFront" type="number" value="{{actor.system.vehicle.drFacing.drFront}}" placeholder="2" />
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <div style="text-align: center; font-weight: bold; text-decoration: underline;">Bottom</div>
                  <input name="system.vehicle.drFacing.drBottom" type="number" value="{{actor.system.vehicle.drFacing.drBottom}}" placeholder="2" />
                </td>
                <td></td>
              </tr>
            </table>
            {{/if}}

            <h2 class="bold" style="text-align: center;">Movement</h2>
            <table>
              <tr class="design-row">
                <td style="width: 100%">Propulsion</td>
                <td>
                  <select name="system.vehicle.propulsion" class="dr-entry-select">
                    {{selectOptions vehiclePropulsionMethods selected=actor.system.vehicle.propulsion}}
                  </select>
                </td>
                <td class="question-container" id="propulsion">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>


              <tr class="design-row">
                {{#if (or (eq actor.system.vehicle.propulsion "animals") (eq actor.system.vehicle.propulsion "unpowered"))}}
                <td style="width: 100%">Is this vehicle Homogenous, as expected?</td>
                {{else}}
                <td style="width: 100%">Is this vehicle Unliving, as expected?</td>
                {{/if}}
                <td>
                  <input type="checkbox" name="system.vehicle.injuryToleranceExpected" {{checked actor.system.vehicle.injuryToleranceExpected}} data-dtype="Boolean" style="width: 3em;"/>
                </td>
                <td class="question-container" id="expected-injury-tolerance">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>

              {{#if (eq actor.system.vehicle.propulsion "animals")}}
              <tr class="design-row">
                <td style="width: 100%">Where are the animals located?</td>
                <td>
                  <select name="system.vehicle.animal.location" class="dr-entry-select">
                    {{selectOptions vehicleAnimalLocations selected=actor.system.vehicle.location}}
                  </select>
                </td>
                <td class="question-container" id="animal-location">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>

              <tr class="design-row">
                <td style="width: 100%">What type of animal propels this vehicle?</td>
                <td>
                  <select name="system.vehicle.animal.type" class="dr-entry-select">
                    {{selectOptions vehicleAnimalTypes selected=actor.system.vehicle.animalTypes}}
                  </select>
                </td>
                <td class="question-container" id="animal-type">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{/if}}

              <tr class="design-row">
                <td style="width: 100%">Motive Type</td>
                <td>
                  <select name="system.vehicle.motiveType" class="dr-entry-select">
                    {{selectOptions vehicleMotiveTypes selected=actor.system.vehicle.motiveType}}
                  </select>
                </td>
                <td class="question-container" id="motive-type">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>

              {{#if (eq actor.system.vehicle.craftType "land")}}
              <tr class="design-row">
                <td style="width: 100%">Is this vehicle Road Bound?</td>
                <td>
                  <input type="checkbox" name="system.vehicle.land.roadBound" {{checked actor.system.vehicle.land.roadBound}} data-dtype="Boolean" style="width: 3em;"/>
                </td>
                <td class="question-container" id="road-bound">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{/if}}

              <tr class="design-row">
                <td style="width: 100%">Operation Skill</td>
                <td>
                  <input name="system.vehicle.skill.operatorSkillName" type="text" value="{{actor.system.vehicle.skill.operatorSkillName}}" placeholder="Driving (Automobile)"/>
                </td>
                <td class="question-container" id="operation-skill">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>

              <tr class="design-row">
                <td style="width: 100%">Does this vehicle have crew with jobs other than acting as gunners?</td>
                <td>
                  <input type="checkbox" name="system.vehicle.skill.crewed" {{checked actor.system.vehicle.skill.crewed}} data-dtype="Boolean" style="width: 3em;"/>
                </td>
                <td class="question-container" id="crewed">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{#if actor.system.vehicle.skill.crewed}}
              <tr class="design-row">
                <td style="width: 100%">Crew Skill</td>
                <td>
                  <input name="system.vehicle.skill.crewSkillName" type="text" value="{{actor.system.vehicle.skill.crewSkillName}}" placeholder="Crewman"/>
                </td>
                <td class="question-container" id="crew-skill">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{/if}}
            </table>
            {{/if}}
          </div>
          <div style="width: 50%;">
            <h2 class="bold" style="text-align: center;">Info</h2>
            <div class="equipment-info-container">{{{actor.system.info}}}</div>
          </div>
        </div>
      </div>

      {{!-- Locations Tab --}}
      <div class="tab locations" data-tab="locations" data-group="primary">
        <div class="design-block">
          <!-- Start of left pane -->

          <div style="width: 50%;">
            <h2 class="bold" style="text-align: center;">Locations</h2>
            {{#each actor.system.vehicle.loc as |location id|}}
            {{#ifCond location.count '>=' 1 }}
            <div class="simple-vehicle-location">
              <h2 class="bold" style="text-align: center;">{{location.Name}} x{{location.count}} ({{location.code}}) [{{location.penalty}} to hit]</h2>

              {{!-- Begin Retractable --}}
              {{#unless (or (eq location.code "B") (eq location.code "V") (eq ../actor.system.vehicle.method "pick"))}}
              <h3 class="bold" style="text-align: center;">Location Modifiers</h3>
              <table>
                <tr class="design-row">
                  <td style="width: 100%">Is this location retractable?</td>
                  <td>
                  <td>
                    <input type="checkbox" name="system.vehicle.loc.{{id}}.retractable" {{checked location.retractable}} data-dtype="Boolean" style="width: 3em;"/>
                  </td>
                  <td class="question-container" id="retractable">
                    <div class="question-button">
                      <i class="fas fa-question"></i>
                    </div>
                  </td>
                </tr>
              </table>
              {{/unless}}
              {{!-- End Retractable --}}

              {{#if (and (eq ../actor.system.vehicle.motiveType "wheel") (eq location.code "W"))}}
              <h3 class="bold" style="text-align: center;">Wheel Details</h3>
              <table>
                {{#if (eq ../actor.system.vehicle.craftType "land")}}
                <tr class="design-row">
                  <td style="width: 100%">Are these wheels pneumatic, like a car tire?</td>
                  <td>
                  <td>
                    <input type="checkbox" name="system.vehicle.loc.{{id}}.pneumatic" {{checked location.pneumatic}} data-dtype="Boolean" style="width: 3em;"/>
                  </td>
                  <td class="question-container" id="pneumatic">
                    <div class="question-button">
                      <i class="fas fa-question"></i>
                    </div>
                  </td>
                </tr>
                {{/if}}
              </table>
              {{/if}}

              {{!-- Begin Locational Crew --}}
              {{#ifCond  ../actor.system.vehicle.crew  '>' 0}}
              <h3 class="bold" style="text-align: center;">Crew</h3>
              <table>
                <tr class="design-row">
                  <td style="width: 100%">Can some portion of the vehicle's crew occupy this location?</td>
                  <td>
                  <td>
                    <input type="checkbox" name="system.vehicle.loc.{{id}}.hasCrew" {{checked location.hasCrew}} data-dtype="Boolean" style="width: 3em;"/>
                  </td>
                  <td class="question-container" id="location-has-crew">
                    <div class="question-button">
                      <i class="fas fa-question"></i>
                    </div>
                  </td>
                </tr>

                {{#if location.hasCrew}}
                <tr class="design-row">
                  <td style="width: 100%">What is the maximum number of crew that can occupy a location of this type?</td>
                  <td>
                  <td>
                    <input name="system.vehicle.loc.{{id}}.crewCount" type="number" value="{{location.crewCount}}" placeholder="1" style="width: 3em" />
                  </td>
                  <td class="question-container" id="location-crew-count">
                    <div class="question-button">
                      <i class="fas fa-question"></i>
                    </div>
                  </td>
                </tr>
                {{/if}}

                {{#if location.hasCrew}}
                {{#ifCond location.crewCount '>' 0}}
                <tr class="design-row">
                  <td style="width: 100%">How many of the crew members in this location have access to stabilized weapon mounts?</td>
                  <td>
                  <td>
                    <input name="system.vehicle.loc.{{id}}.crewCountStab" type="number" value="{{location.crewCountStab}}" placeholder="0" style="width: 3em" />
                  </td>
                  <td class="question-container" id="count-stab">
                    <div class="question-button">
                      <i class="fas fa-question"></i>
                    </div>
                  </td>
                </tr>
                {{/ifCond}}
                {{/if}}
              </table>
              {{/ifCond}}
              {{!-- End Locational Crew --}}

              {{!-- Begin Locational Passengers --}}
              {{#ifCond  ../actor.system.vehicle.passengers  '>' 0}}
              <h3 class="bold" style="text-align: center;">Passengers</h3>
              <table>
                <tr class="design-row">
                  <td style="width: 100%">Can some portion of the vehicle's passengers occupy this location?</td>
                  <td>
                  <td>
                    <input type="checkbox" name="system.vehicle.loc.{{id}}.hasPassengers" {{checked location.hasPassengers}} data-dtype="Boolean" style="width: 3em;"/>
                  </td>
                  <td class="question-container" id="location-has-passengers">
                    <div class="question-button">
                      <i class="fas fa-question"></i>
                    </div>
                  </td>
                </tr>

                {{#if location.hasPassengers}}
                <tr class="design-row">
                  <td style="width: 100%">What is the maximum number of passengers that can occupy a location of this type?</td>
                  <td>
                  <td>
                    <input name="system.vehicle.loc.{{id}}.passengerCount" type="number" value="{{location.passengerCount}}" placeholder="1" style="width: 3em" />
                  </td>
                  <td class="question-container" id="location-passenger-count">
                    <div class="question-button">
                      <i class="fas fa-question"></i>
                    </div>
                  </td>
                </tr>
                {{/if}}

                {{#if location.hasPassengers}}
                {{#ifCond location.passengerCount '>' 0}}
                <tr class="design-row">
                  <td style="width: 100%">How many of the passengers in this location have access to stabilized weapon mounts?</td>
                  <td>
                  <td>
                    <input name="system.vehicle.loc.{{id}}.passengerCountStab" type="number" value="{{location.passengerCountStab}}" placeholder="0" style="width: 3em" />
                  </td>
                  <td class="question-container" id="count-stab">
                    <div class="question-button">
                      <i class="fas fa-question"></i>
                    </div>
                  </td>
                </tr>
                {{/ifCond}}
                {{/if}}
              </table>
              {{/ifCond}}
              {{!-- Begin Locational Passengers --}}

              {{#if (and (or (eq ../actor.system.vehicle.drMethod "facingPlus") (eq ../actor.system.vehicle.drMethod "singlePlus")) (eq ../actor.system.vehicle.method "custom"))}}
              <h3 class="bold" style="text-align: center;">Damage Resistance</h3>
              <table>
                <tr>
                  <td>Does this location have it's own DR?</td>
                  <td>
                    <input type="checkbox" name="system.vehicle.loc.{{id}}.locationalDR" {{checked location.locationalDR}} data-dtype="Boolean" style="width: 3em;"/>
                  </td>
                </tr>
                {{#if location.locationalDR}}
                <tr>
                  <td>Is that DR facing specific?</td>
                  <td>
                    <input type="checkbox" name="system.vehicle.loc.{{id}}.facingDR" {{checked location.facingDR}} data-dtype="Boolean" style="width: 3em;"/>
                  </td>
                </tr>
                {{#if location.facingDR}}
                <table style="background-image: url('systems/gurps4e/icons/svg/car-side.svg'); background-size: contain; background-repeat: no-repeat; background-position: center;">
                  <tr>
                    <td></td>
                    <td>
                      <div style="text-align: center; font-weight: bold; text-decoration: underline;">Top</div>
                      <input name="system.vehicle.loc.{{id}}.drFacing.drTop" type="number" value="{{location.drFacing.drTop}}" />
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <div style="text-align: center; font-weight: bold; text-decoration: underline;">Rear</div>
                      <input name="system.vehicle.loc.{{id}}.drFacing.drRear" type="number" value="{{location.drFacing.drRear}}" />
                    </td>
                    <td>
                      <div style="text-align: center; font-weight: bold; text-decoration: underline;">Sides</div>
                      <input name="system.vehicle.loc.{{id}}.drFacing.drSide" type="number" value="{{location.drFacing.drSide}}" />
                    </td>
                    <td>
                      <div style="text-align: center; font-weight: bold; text-decoration: underline;">Front</div>
                      <input name="system.vehicle.loc.{{id}}.drFacing.drFront" type="number" value="{{location.drFacing.drFront}}" />
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <div style="text-align: center; font-weight: bold; text-decoration: underline;">Bottom</div>
                      <input name="system.vehicle.loc.{{id}}.drFacing.drBottom" type="number" value="{{location.drFacing.drBottom}}" />
                    </td>
                    <td></td>
                  </tr>
                </table>
                {{else}}
                <tr>
                  <td>
                    Base DR
                  </td>
                  <td>
                    <input name="system.vehicle.loc.{{id}}.dr" type="number" value="{{location.dr}}" placeholder="2" />
                  </td>
                </tr>
                {{/if}}
                {{/if}}
              </table>
              {{/if}}
            </div>
            {{/ifCond}}
            {{/each}}
          </div>

          <!-- End of left pane, start of right pane -->
          <div style="width: 50%;">
            <h2 class="bold" style="text-align: center;">Info</h2>
            <div class="equipment-info-container">{{{actor.system.info}}}</div>
          </div>
          <!-- End of right pane -->
        </div>
      </div>

      {{!-- Upgrades Tab --}}
      <div class="tab upgrades" data-tab="upgrades" data-group="primary">
        <div class="design-block">
          <!-- Start of left pane -->
          <div style="width: 50%;">
            <h2 class="bold" style="text-align: center;">A Header would be here</h2>
            <table>
              <tr class="design-row">
                <td>A Label would be here</td>
                <td>
                  An input would be here
                </td>
                <td class="question-container" id="placeholder">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <!-- End of left pane, start of right pane -->
          <div style="width: 50%;">
            <h2 class="bold" style="text-align: center;">Info</h2>
            <div class="equipment-info-container">{{{actor.system.info}}}</div>
          </div>
          <!-- End of right pane -->
        </div>
      </div>

      {{!-- Chase Tab --}}
      <div class="tab chase" data-tab="chase" data-group="primary">
        <div class="design-block">
          <!-- Start of left pane -->
          <div style="width: 50%;">
            <h2 class="bold" style="text-align: center;">Chase Rolls</h2>
            <table>
              <tr class="design-row">
                <td>Handling Modifier:</td>
                <td>
                  {{actor.system.chase.hndModifier}}
                </td>
                <td class="question-container" id="vehicle-chase-handling">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{#if (eq actor.system.vehicle.craftType "land")}}
              <tr class="design-row">
                <td style="line-height: 27.5px">
                  Chase Terrain
                </td>
                <td>
                  <select style="width: 70%" name="system.chase.terrainQuality">
                    {{selectOptions terrainQualities selected=actor.system.chase.terrainQuality}}
                  </select>
                </td>
                <td class="question-container" id="travel-terrain-quality">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{else if (and (eq actor.system.vehicle.craftType "water") actor.system.vehicle.sailing)}}
              <tr class="design-row">
                <td style="line-height: 27.5px">
                  Wind Conditions
                </td>
                <td>
                  <select style="width: 70%" name="system.chase.windCondition">
                    {{selectOptions chaseWindTypes selected=actor.system.chase.windCondition}}
                  </select>
                </td>
                <td class="question-container" id="chase-wind-condition">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              {{/if}}
              <tr class="design-row">
                <td>Effective Acceleration / Move</td>
                <td>
                  {{round actor.system.chase.acceleration 10}} /
                  {{round actor.system.chase.move 100}} yards per second
                </td>
                <td class="question-container" id="vehicle-chase-effective-move">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>Effective Top Speed</td>
                <td>
                  {{multiply actor.system.chase.move 100 2}} mph
                </td>
                <td class="question-container" id="vehicle-chase-effective-top-speed">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>Speed Modifier:</td>
                <td>
                  {{#ifCond actor.system.chase.topSpeedBonus '>' 0}}+{{/ifCond}}
                  {{actor.system.chase.topSpeedBonus}}
                </td>
                <td class="question-container" id="vehicle-chase-speed-bonus">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
              <tr class="design-row">
                <td>Total Modifier:</td>
                <td>
                  {{#ifCond actor.system.chase.totalModifier '>' 0}}+{{/ifCond}}
                  {{actor.system.chase.totalModifier}}
                </td>
                <td class="question-container" id="vehicle-chase-total-mod">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
            </table>

            <table>
              <tr class="design-row">
                <td>Thrust:</td>
                <td>
                  {{actor.system.vehicle.thr}}
                  <label class="fa fa-dice-six rollable" data-level="{{actor.system.vehicle.thr}}"
                         data-label="Makes a &lt;b&gt;Vehicle Thrust Damage&lt;/b&gt; roll." data-type="damage"></label>
                </td>
                <td class="question-container" id="vehicle-thr">
                  <div class="question-button">
                    <i class="fas fa-question"></i>
                  </div>
                </td>
              </tr>
            </table>

          </div>
          <!-- End of left pane, start of right pane -->
          <div style="width: 50%;">
            <h2 class="bold" style="text-align: center;">Info</h2>
            <div class="equipment-info-container">{{{actor.system.info}}}</div>
          </div>
          <!-- End of right pane -->
        </div>
      </div>

      {{!-- Items Tab --}}
      <div id="items" class="tab items" data-tab="items" data-group="primary">
        {{!-- List of Items --}}
        <table class="items-list">
          <tr class="bold">
            <td class="item-image"></td>
            <td class="item-name">Name</td>
            <td class="item-notes">Notes</td>
            <td class="item-title actor-sheet-digit-col">TL</td>
            <td class="item-title actor-sheet-digit-col">LC</td>
            <td class="item-title actor-sheet-digit-col">Qty</td>
            <td class="item-title actor-sheet-digit-col">$</td>
            <td class="item-title actor-sheet-digit-col">lbs</td>
            <td class="item-title">Status</td>
            <td class="item-controls"></td>
          </tr>
          {{#each actor.system.equipmentCategories as |category cat|}}
          {{#unless (eq category "")}}
          <tr class="item-header trait-category-header">
            <td colspan="10">
              <a class="accordion" id="e-accordion-clickable-{{category}}">{{category}}</a>
            </td>
          </tr>
          {{/unless}}

          {{#each ../items as |item id|}}
          {{#if (or (eq type "Equipment") (eq type "Custom Weapon") (eq type "Custom Armour") (eq type "Custom Jewelry")) }}
          {{#if (eq item.system.subCategory category)}}
          <tr class="item accordion-div-{{category}} accordion-open" data-item-id="{{item._id}}">
            <td class="item-image" style="width: 24px; padding: 0 !important; margin: 0 !important;">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
            </td>
            <td class="item-name"><span>{{item.name}}</span></td>
            <td class="item-notes"><span>{{item.system.shortNotes}}</span></td>
            <td class="actor-sheet-digit-col"><span>{{item.system.tl}}</span></td>
            <td class="actor-sheet-digit-col"><span>{{item.system.lc}}</span></td>
            <td class="actor-sheet-digit-col"><span>{{item.system.quantity}}</span></td>
            <td class="actor-sheet-digit-col"><span>{{displayCurrency item.system.ttlCost}} $</span></td>
            <td class="actor-sheet-digit-col"><span>{{round item.system.ttlWeight 100}} lb{{checkPlural item.system.ttlWeight}}</span></td>
            <td style="width: 62px;"><span>{{equipStatusToString item.system.equipStatus}}</span></td>
            <td class="item-controls" style="width: 30px;">
              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
          {{/if}}
          {{/if}}
          {{/each}}
          {{/each}}
          <tr class="item-money">
            <td class="item-image"></td>
            <td class="item-name"><span></span></td>
            <td class="item-notes"><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span class="bold">Money:</span></td>
            <td style="text-align: center;">
							<span>
								<input type="number" name="system.bio.money" style="width: 25%" value="{{actor.system.bio.money}}" data-dtype="Number" /> $
							</span>
            </td>
            <td style="text-align: center;"><span></span></td>
            <td><span></span></td>
            <td class="item-controls"></td>
          </tr>
          <tr class="">
            <td class="item-image"></td>
            <td class="item-name"><span></span></td>
            <td class="item-notes"><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span class="bold">Totals:</span></td>
            <td style="text-align: center;"><span>{{round actor.system.bio.carriedValue 100}} $</span></td>
            <td style="text-align: center;"><span>{{round actor.system.bio.carriedWeight 100}} lb{{checkPlural actor.system.bio.carriedWeight}} / {{multiply actor.system.vehicle.weight.load 1 2000}} lbs</span></td>
            <td><span></span></td>
            <td class="item-controls"></td>
          </tr>
          <tr class="">
            <td class="item-image"></td>
            <td class="item-name"><span></span></td>
            <td class="item-notes"><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span class="bold"></span></td>
            <td style="text-align: center;"><span></span></td>
            <td style="text-align: center;"><span>{{divide actor.system.bio.carriedWeight 100 2000}} tons / {{round actor.system.vehicle.weight.load 100}} ton{{checkPlural actor.system.vehicle.weight.load}}</span></td>
            <td><span></span></td>
            <td class="item-controls"></td>
          </tr>

        </table>
      </div>

    </section>
  </div>
</form>
