<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input style="width: 87.5%" name="name" type="text" value="{{item.name}}" placeholder="Name"/><a class="saveItem">Save</a></h1>
            <div class="equipmentDetails" id="equipmentDetails">
                <div id="qty" class="equipmentStat">
                    <label class="resource-label">Qty:</label>
                    <input type="number" name="system.quantity" value="{{item.system.quantity}}" data-dtype="Number"/>
                </div>
                <div id="tl" class="equipmentStat">
                    <label class="resource-label">TL:</label>
                    <input type="number" name="system.tl" value="{{item.system.tl}}" data-dtype="Number"/>
                </div>
                <div id="lc" class="equipmentStat">
                    <label class="resource-label">LC:</label>
                    {{item.system.lc}}
                </div>
                <div id="equipped" class="flexrow">
                    <select name="system.equipStatus" class="equipStatusSelect">
                        {{selectOptions equipStatusOptions selected=item.system.equipStatus}}
                    </select>
                </div>
                <div id="subCategory" class="flexrow">
                    <label class="resource-label" style="flex: 0.5;">Race / Meta Trait / Etc:</label>
                    <input type="text" style="flex: 1;" name="system.subCategory" value="{{item.system.subCategory}}" placeholder="Leave this blank if you don't want it categorized"/>
                </div>
                <div id="value" class="equipmentStatLong">
                    <label class="resource-label">Value:</label>
                    <label class="resource-label">{{displayCurrencyComplex item.system.cost}}$</label>
                    <label class="resource-label"> / {{displayCurrencyComplex item.system.ttlCost}}$ total</label>
                </div>
                <div id="weight" class="equipmentStatLong">
                    <label class="resource-label">Weight:</label>
                    <label class="resource-label">{{round item.system.weight 100}}lbs</label>
                    <label class="resource-label"> / {{round item.system.ttlWeight 100}}lbs total</label>
                </div>
            </div>
        </div>
    </header>
    <div style="padding-top: 2px;">
        <label class="resource-label" style="width: 32px;">Short Notes:</label>
        <input type="text" name="system.shortNotes" value="{{item.system.shortNotes}}" style="width: calc(100% - 78px);"/>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav id="tabselect" class="sheet-tabs tabs" data-group="primary">
        <div class="header">
            <a class="item" data-tab="notes">Notes</a>
        </div>
        <div class="header">
            <a class="item" data-tab="setup">Setup</a>
        </div>
        {{#unless (eq item.system.armour.bodyType.name "") }}
        <div class="header">
            <a class="item" data-tab="design">Design</a>
        </div>
        <div class="header">
            <a class="item" data-tab="armour">Display Armour</a>
        </div>
        <div class="header">
            <a class="item" data-tab="other">Display Other</a>
        </div>
        {{/unless}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Note Tab --}}
        <div class="tab stats" data-tab="notes" data-group="primary">
            <h3 class="bold">Detailed Notes</h3>
            <div class="tab">
                <textarea style="height: 100%; resize: none" name="system.notes">{{{item.system.notes}}}</textarea>
            </div>
        </div>

        {{!-- Armour Setup Tab --}}
        <div class="tab stats" data-tab="setup" data-group="primary">
            <div class="tab">
                <div class="design-block">
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">User Options</h2>
                        <table>
                            <tr class="design-row">
                                <td>Body Type</td>
                                <td>
                                    <select name="system.armour.bodyType.name" class="bodyType">
                                        {{selectOptions bodyTypes selected=item.system.armour.bodyType.name}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-body-type">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Layer</td>
                                <td>
                                    <input type="number" style="width: unset;" name="system.armour.layer" value="{{item.system.armour.layer}}" data-dtype="Number" />
                                </td>
                                <td class="question-container" id="armour-layer">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            {{#unless item.system.armourDesign.getSizeFromActor}}
                            <tr class="design-row">
                                {{#if (eq item.system.armourDesign.scalingMethodForCustomArmour "weight") }}
                                <td>Input Character Weight:</td><td><input type="number" style="width: unset;" name="system.armourDesign.inputWeight" value="{{item.system.armourDesign.inputWeight}}" data-dtype="Number" /></td>
                                {{else if (eq item.system.armourDesign.scalingMethodForCustomArmour "height")}}
                                <td>Input Character Height:</td><td><input type="number" style="width: unset;" name="system.armourDesign.inputHeight" value="{{item.system.armourDesign.inputHeight}}" data-dtype="Number" /></td>
                                {{else}}
                                <td>Input Character SM:</td><td><input type="number" style="width: unset;" name="system.armourDesign.inputSM" value="{{item.system.armourDesign.inputSM}}" data-dtype="Number" /></td>
                                {{/if}}
                                <td class="question-container" id="armour-input-scaling">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/unless}}
                        </table>

                        <h2 class="bold" style="text-align: center;">
                            Armour Customization
                        </h2>
                        <table>
                            <tr class="design-row">
                                <td>Tailoring</td>
                                <td>
                                    <select name="system.armourDesign.tailoring">
                                        {{selectOptions tailoring selected=item.system.armourDesign.tailoring}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-tailor">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Styling</td>
                                <td>
                                    <select name="system.armourDesign.style">
                                        {{selectOptions style selected=item.system.armourDesign.style}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-style">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            {{#ifCond item.system.tl '>=' 6}}
                            <tr class="design-row">
                                <td>Sealed</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.sealed" {{checked item.system.armourDesign.sealed}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-sealed">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/ifCond}}

                            {{#if item.system.armourDesign.hasSole}}
                            {{#ifCond item.system.tl '>=' 2}}
                            <tr class="design-row">
                                <td>Hobnails</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.hobnails" {{checked item.system.armourDesign.hobnails}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-hobnailed">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/ifCond}}
                            {{/if}}

                            {{#if item.system.armourDesign.hasSteel}}
                            <tr class="design-row">
                                <td>Hardened Steel</td>
                                <td>
                                    <select name="system.armourDesign.steelHardening">
                                        {{selectOptions steelHardening selected=item.system.armourDesign.steelHardening}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-steel-hardening">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if (or item.system.armourDesign.hasPlate item.system.armourDesign.hasScale) }}
                            <tr class="design-row">
                                <td>Fluting</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.fluting" {{checked item.system.armourDesign.fluting}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-fluting">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if item.system.armourDesign.hasMail}}
                            <tr class="design-row">
                                <td>Banded Mail</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.banded" {{checked item.system.armourDesign.banded}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-banded">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Butted Mail</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.butted" {{checked item.system.armourDesign.butted}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-butted">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if item.system.armourDesign.hasCloth}}
                            <tr class="design-row">
                                <td>Silk</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.silk" {{checked item.system.armourDesign.silk}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-silk">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Paper</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.paper" {{checked item.system.armourDesign.paper}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-paper">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if  (or item.system.armourDesign.hasCloth item.system.armourDesign.hasLeather) }}
                            <tr class="design-row">
                                <td>Reinforced</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.reinforced" {{checked item.system.armourDesign.reinforced}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-textile-reinforced">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if item.system.armourDesign.hasScale}}
                            <tr class="design-row">
                                <td>Mountain Scale</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.mountain" {{checked item.system.armourDesign.mountain}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-mountain">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if item.system.armourDesign.hasLeather}}
                            <tr class="design-row">
                                <td>Leather Quality</td>
                                <td>
                                    <select name="system.armourDesign.leatherQuality">
                                        {{selectOptions leatherQuality selected=item.system.armourDesign.leatherQuality}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-leather-quality">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}
                        </table>

                        {{#if (or item.system.armourDesign.hasPunch item.system.armourDesign.hasKick) }}
                        <h2 class="bold" style="text-align: center;">Attack Options</h2>
                        <table>
                            {{#if item.system.armourDesign.hasPunch}}
                            <tr class="design-row">
                                <td>Include punch attack profile</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.punch" {{checked item.system.armourDesign.punch}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-punch">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr class="design-row">
                                <td>Punch Skill</td>
                                <td>
                                    <input style="width: 75%" type="text" placeholder="Skill" name="system.armourDesign.punchSkill" value="{{item.system.armourDesign.punchSkill}}"/>
                                    <input style="width: 20%" type="number" placeholder="Mod" name="system.armourDesign.punchSkillMod" value="{{item.system.armourDesign.punchSkillMod}}"/>
                                </td>
                                <td class="question-container" id="armour-punch-skill">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}
                            {{#if item.system.armourDesign.hasKick}}
                            <tr class="design-row">
                                <td>Include kick attack profile</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.kick" {{checked item.system.armourDesign.kick}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-kick">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr class="design-row">
                                <td>Kick Skill</td>
                                <td>
                                    <input style="width: 75%" type="text" placeholder="Skill" name="system.armourDesign.kickSkill" value="{{item.system.armourDesign.kickSkill}}"/>
                                    <input style="width: 20%" type="number" placeholder="Mod" name="system.armourDesign.kickSkillMod" value="{{item.system.armourDesign.kickSkillMod}}"/>
                                </td>
                                <td class="question-container" id="armour-kick-skill">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}
                        </table>
                        {{/if}}

                        <h2 class="bold" style="text-align: center;">
                            Armour Concealment
                        </h2>
                        <table>
                            <tr class="design-row">
                                <td>Concealed Armour</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.concealed" {{checked item.system.armourDesign.concealed}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-concealed">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{#if item.system.armourDesign.concealed}}
                            <tr class="design-row">
                                <td>Holdout Penalty Reduction</td>
                                <td>
                                    <input type="number" style="width: unset;" name="system.armourDesign.holdoutReduction" value="{{item.system.armourDesign.holdoutReduction}}" data-dtype="Number" />
                                </td>
                                <td class="question-container" id="armour-holdout-reduction">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Clothing</td>
                                <td>
                                    <select name="system.armourDesign.concealedClothing">
                                        {{selectOptions concealedClothing selected=item.system.armourDesign.concealedClothing}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-clothing">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            {{#unless item.system.armourDesign.hideClothingStatus}}
                            <tr class="design-row">
                                <td>Clothing Status {{item.system.armourDesign.clothingStatus}}</td>
                                <td>
                                    <input type="range" min="-2" max="8" step="1" name="system.armourDesign.clothingStatus" value="{{item.system.armourDesign.clothingStatus}}" data-dtype="Number">
                                </td>
                                <td class="question-container" id="armour-clothing-status">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/unless}}

                            {{#unless item.system.armourDesign.hideUndercoverClothing}}
                            <tr class="design-row">
                                <td>Undercover Clothing</td>
                                <td>
                                    <select name="system.armourDesign.undercoverClothing">
                                        {{selectOptions undercoverClothing selected=item.system.armourDesign.undercoverClothing}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-undercover-clothing">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/unless}}
                            {{/if}}
                        </table>
                    </div>
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">Info</h2>
                        <div class="equipment-info-container">{{{item.system.info}}}</div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Armour Design Tab --}}
        <div class="tab stats" data-tab="design" data-group="primary">
            <div class="tab">
                {{#unless (eq item.system.armour.bodyType.name "") }}
                <div>
                    <div>
                        <div>
                            <h2 class="bold" style="text-align: center;">Info</h2>
                            <div class="equipment-info-container">{{{item.system.info}}}</div>
                        </div>
                    </div>
                    <table>
                        <tr class="hit-locations">
                            <th class="question-container custom-armour-shrink-column" id="armour-location">
                                Location
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container custom-armour-shrink-column" id="armour-sub-location">
                                Sublocation
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container custom-armour-shrink-column" id="armour-coverage">
                                Coverage
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container custom-armour-shrink-column" id="armour-voider">
                                Voider?
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container custom-armour-shrink-column" id="armour-material">
                                Armour Material
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            {{#if item.system.armourDesign.allowMagicalMaterialsForCustom}}
                            <th class="question-container custom-armour-shrink-column" id="armour-material-essential">
                                Essential
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            {{/if}}
                            <th class="question-container custom-armour-shrink-column" id="armour-construction">
                                Construction
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container custom-armour-shrink-column" id="armour-selectedDR">
                                Selected DR
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container custom-armour-shrink-column" id="armour-cost">
                                $
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container custom-armour-shrink-column" id="armour-weight">
                                lbs
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                        </tr>
                        {{#each item.system.armour.bodyType.body as |bodyPart partId|}}<!--Loop through the body parts-->
                        {{#if bodyPart.subLocation}}<!--Check to see if there are sublocations and display them-->
                        {{#each bodyPart.subLocation as |subLocation locationId|}}<!--Loop through the sublocations-->
                        {{#if subLocation.surfaceArea}}
                        {{#showVoider bodyPart subLocation}}
                        <tr class="hit-locations" style="{{{hitLocationStyle bodyPart.label}}}">
                            <td>
                                {{bodyPart.label}}
                            </td>
                            <td>
                                {{subLocation.label}}
                            </td>
                            <td>
                                <span style="min-width: 3ch">{{round subLocation.surfaceArea 100}}</span>
                            </td>
                            <td>
                                {{boolToYN subLocation.voider}}
                            </td>
                            <td>
                                <select name="system.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.material.name">
                                    {{selectOptions ../../item.system.armourDesign.materials selected=subLocation.material.name valueAttr="name" labelAttr="name"}}
                                </select>
                            </td>
                            {{#if ../../item.system.armourDesign.allowMagicalMaterialsForCustom}}
                            <td>
                                <input type="checkbox" name="system.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.material.essential" {{checked subLocation.material.essential}} data-dtype="Boolean" style="width: 100%;"/>
                            </td>
                            {{/if}}
                            <td>
                                <select name="system.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.construction.name">
                                    {{selectOptions ../../item.system.armourDesign.constructionTypes selected=subLocation.construction.name valueAttr="name" labelAttr="name"}}
                                </select>
                            </td>
                            <td style="{{{valueInRangeStyle subLocation.construction.minDR subLocation.selectedDR subLocation.material.maxDR}}}" class="custom-armour-selected-dr">
                                <div class="custom-armour-group">
                                    <div class="custom-armour-dr-min">{{subLocation.construction.minDR}} / </div>
                                    <input type="number" name="system.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.selectedDR" value="{{subLocation.selectedDR}}" data-dtype="Number" class="custom-armour-dr-input"/>
                                    <div class="custom-armour-dr-max">/ {{subLocation.material.maxDR}}</div>
                                </div>
                            </td>
                            <td>
                                <div class="custom-armour-cost-column">{{displayCurrencyComplex subLocation.cost}}</div>
                            </td>
                            <td>
                                <div class="custom-armour-weight-column">{{round subLocation.weight 100}}</div>
                            </td>
                        </tr>
                        {{/showVoider}}
                        {{/if}}
                        {{/each}}
                        {{else}}<!--Display details for parts without sublocations (Pretty much only the skull and brian)-->
                        <tr class="hit-locations" style="{{{hitLocationStyle bodyPart.label}}}">
                            <td colspan="2">{{bodyPart.label}}</td>
                            <td>
                                {{round bodyPart.surfaceArea 100}}
                            </td>
                            <td>
                                No
                            </td>
                            <td>
                                <select name="system.armour.bodyType.body.{{partId}}.material.name">
                                    {{selectOptions ../item.system.armourDesign.materials selected=bodyPart.material.name valueAttr="name" labelAttr="name"}}
                                </select>
                            </td>
                            {{#if ../item.system.armourDesign.allowMagicalMaterialsForCustom}}
                            <td>
                                <input type="checkbox" name="system.armour.bodyType.body.{{partId}}.material.essential" {{checked bodyPart.material.essential}} data-dtype="Boolean" style="width: 100%;"/>
                            </td>
                            {{/if}}
                            <td>
                                <select name="system.armour.bodyType.body.{{partId}}.construction.name">
                                    {{selectOptions ../item.system.armourDesign.constructionTypes selected=bodyPart.construction.name valueAttr="name" labelAttr="name"}}
                                </select>
                            </td>
                            <td style="{{{valueInRangeStyle bodyPart.construction.minDR bodyPart.selectedDR bodyPart.material.maxDR}}}" class="custom-armour-selected-dr">
                                <div class="custom-armour-group">
                                    <div class="custom-armour-dr-min">{{bodyPart.construction.minDR}} / </div>
                                    <input type="number" name="system.armour.bodyType.body.{{partId}}.selectedDR" value="{{bodyPart.selectedDR}}" data-dtype="Number" class="custom-armour-dr-input"/>
                                    <div class="custom-armour-dr-max">/ {{bodyPart.material.maxDR}}</div>
                                </div>
                            </td>
                            <td>
                                <div class="custom-armour-cost-column">{{displayCurrencyComplex bodyPart.cost}}</div>
                            </td>
                            <td>
                                <div class="custom-armour-weight-column">{{round bodyPart.weight 100}}</div>
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </table>
                </div>
                {{/unless}}
            </div>
        </div>

        {{!-- Armour Display Tab --}}
        <div class="tab stats" data-tab="armour" data-group="primary">
            <div class="tab">
                <table class="dr-entry-table">
                    {{#unless (eq item.system.armour.bodyType.name "") }}
                        <tr class="hit-locations">
                            <td class="dr-header"></td>
                            <td class="dr-header" style="width: 30px;">Flex</td>
                            <td class="dr-damage-types" style="width: 60px;">Hardness</td>
                            <td class="dr-damage-types" style="width: 60px;">Burn</td>
                            <td class="dr-damage-types" style="width: 60px;">Cor</td>
                            <td class="dr-damage-types" style="width: 60px;">Cr</td>
                            <td class="dr-damage-types" style="width: 60px;">Cut</td>
                            <td class="dr-damage-types" style="width: 60px;">Fat</td>
                            <td class="dr-damage-types" style="width: 60px;">Imp</td>
                            <td class="dr-damage-types" style="width: 60px;">Pi</td>
                            <td class="dr-damage-types" style="width: 60px;">Tox</td>
                            <td class="dr-damage-types" style="width: 60px;">PF</td>
                            <td class="dr-damage-types" style="width: 60px;">mm/in</td>
                            <td class="dr-damage-types" style="width: 60px;">Holdout</td>
                        </tr>
                    {{/unless}}
                    {{#each item.system.armour.bodyType.body as |bodyPart partId|}}<!--Loop through the body parts-->
                    <tr class="hit-locations master-location">
                        <th colspan="14">
                            <div>{{bodyPart.label}}</div>
                        </th>
                    </tr>
                    {{#if bodyPart.subLocation}}<!--Check to see if there are sublocations and display them-->
                    {{#each bodyPart.subLocation as |subLocation locationId|}}<!--Loop through the sublocations-->
                    <tr class="hit-locations">
                        <td class="dr-row">
                            <div>{{subLocation.label}}</div>
                        </td>
                        <td class="dr-row">
                            {{boolToYN subLocation.flexible}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drHardening}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drBurn}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drCor}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drCr}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drCut}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drFat}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drImp}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drPi}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drTox}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.pf}}
                        </td>
                        <td class="dr-row">
                            {{round subLocation.mm 1}} / {{subLocation.in}}
                        </td>
                        <td class="dr-row">
                            {{round subLocation.holdout 1}}
                        </td>
                    </tr>
                    {{/each}}
                    {{else}}<!--Display details for parts without sublocations (Pretty much only the skull and brian)-->
                    <tr class="hit-locations">
                        <td class="dr-row">{{bodyPart.label}}</td>
                        <td class="dr-row">
                            {{boolToYN bodyPart.flexible}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drHardening}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drBurn}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drCor}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drCr}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drCut}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drFat}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drImp}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drPi}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drTox}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.pf}}
                        </td>
                        <td class="dr-row">
                            {{round bodyPart.mm 1}} / {{round bodyPart.in 10}}
                        </td>
                        <td class="dr-row">
                            {{round bodyPart.holdout 1}}
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </table>
            </div>
        </div>

        {{!-- Display Other Tab --}}
        <div class="tab stats" data-tab="other" data-group="primary">
            <div class="tab">
                <div class="design-block">
                    <div style="width: 50%;">
                        <h3 class="bold">Other Info</h3>
                        <div class="tab">
                            <table>
                                <tr class="design-row">
                                    <td>Time to Don:</td>
                                    <td>
                                        {{item.system.armourDesign.donTime}} seconds
                                    </td>
                                    <td class="question-container" id="armour-don-time">
                                        <div class="question-button">
                                            <i class="fas fa-question"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="design-row">
                                    <td>Status Equivalent:</td>
                                    <td>
                                        {{item.system.armourDesign.statusEq}}
                                    </td>
                                    <td class="question-container" id="armour-status-eq">
                                        <div class="question-button">
                                            <i class="fas fa-question"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="design-row">
                                    <td>Can Pass For:</td>
                                    <td>
                                        {{item.system.armourDesign.canPassFor}}
                                    </td>
                                    <td class="question-container" id="armour-can-pass-for">
                                        <div class="question-button">
                                            <i class="fas fa-question"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="design-row">
                                    <td>Holdout:</td>
                                    <td>
                                        {{#ifCond item.system.armourDesign.holdout '>' 0 }}+{{/ifCond}}
                                        {{round item.system.armourDesign.holdout 1}}
                                    </td>
                                    <td class="question-container" id="armour-holdout">
                                        <div class="question-button">
                                            <i class="fas fa-question"></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">Info</h2>
                        <div class="equipment-info-container">{{{item.system.info}}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
