<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="equipmentDetails" id="equipmentDetails">
                <div id="qty" class="equipmentStat">
                    <label class="resource-label">Qty:</label>
                    <input type="number" name="system.quantity" value="{{item.system.quantity}}" data-dtype="Number"/>
                </div>
                <div id="tl" class="equipmentStat">
                    <label class="resource-label">TL:</label>
                    <input type="number" name="system.tl" value="{{item.system.tl}}" data-dtype="Number"/>
                </div>
                <div id="lc" class="equipmentStat">
                    <label class="resource-label">LC:</label>
                    <input type="number" name="system.lc" value="{{item.system.lc}}" data-dtype="Number"/>
                </div>
                <div id="equipped" class="flexrow">
                    <select name="system.equipStatus" class="equipStatusSelect">
                        {{#select item.system.equipStatus}}
                        <option value="equipped">Equipped</option>
                        <option value="carried">Carried</option>
                        <option value="notCarried">Not Carried</option>
                        {{/select}}
                    </select>
                </div>
                <div id="subCategory" class="flexrow">
                    <label class="resource-label" style="flex: 0.5;">Race / Meta Trait / Etc:</label>
                    <input type="text" style="flex: 1;" name="system.subCategory" value="{{item.system.subCategory}}" placeholder="Leave this blank if you don't want it categorized"/>
                </div>
                <div id="value" class="equipmentStatLong">
                    <label class="resource-label">Value:</label>
                    <label class="resource-label">{{round item.system.cost 100}}$</label>
                    <label class="resource-label"> / {{round item.system.ttlCost 100}}$ total</label>
                </div>
                <div id="weight" class="equipmentStatLong">
                    <label class="resource-label">Weight:</label>
                    <label class="resource-label">{{round item.system.weight 100}}lb{{checkPlural item.system.weight}}</label>
                    <label class="resource-label"> / {{round item.system.ttlWeight 100}}lb{{checkPlural item.system.ttlWeight}} total</label>
                </div>
            </div>
        </div>
    </header>
    <div style="padding-top: 2px;">
        <label class="resource-label" style="width: 32px;">Short Notes:</label>
        <input type="text" name="system.shortNotes" value="{{item.system.shortNotes}}" style="width: calc(100% - 78px);"/>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav id="tabselect" class="sheet-tabs tabs" data-group="primary">
        <div class="header">
            <a class="item" data-tab="notes">Notes</a>
        </div>
        <div class="header">
            <a class="item" data-tab="design">Design</a>
        </div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Note Tab --}}
        <div class="tab stats" data-tab="notes" data-group="primary">
            <div class="tab">
                {{#unless item.system.jewelryDesign.hideDecorations}}
                    <h3 class="bold">Decoration Notes</h3>
                    <ul>
                        {{{item.system.jewelryDesign.rollingDescription}}}
                    </ul>
                {{/unless}}
                {{#if item.system.jewelryDesign.manaTreasure}}
                <h3 class="bold">Mana Value</h3>
                <ul>
                    When using the inanimate sacrifice rules from Thaumatology page 55, this item is worth {{item.system.jewelryDesign.mana}} points of mana.
                </ul>
                {{/if}}
                <h3 class="bold">Custom Notes</h3>
                <textarea style="height: 100%; resize: none" name="system.notes">{{{item.system.notes}}}</textarea>
            </div>
        </div>

        {{!-- Jewelry Design Tab --}}
        <div class="tab stats" data-tab="design" data-group="primary">
            <div class="tab">
                <div class="design-block">
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">Jewelry Design</h2>
                        <input style="display: none;" type="checkbox" name="system.jewelryDesign.initComplete" {{checked item.system.jewelryDesign.initComplete}} data-dtype="Boolean"/>
                        <table>
                            <tr class="design-row">
                                <td style="width: 150px">
                                    Style of Jewelry
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.style">
                                        {{#select item.system.jewelryDesign.style}}
                                            {{#each item.system.jewelryDesign.styles as |style id|}}
                                                <option value="{{style.code}}">{{style.name}}</option>
                                            {{/each}}
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="jewelry-style">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Size</td>
                                <td>
                                    <input type="number" style="width: unset;" name="system.jewelryDesign.size" value="{{item.system.jewelryDesign.size}}" data-dtype="Number" />
                                    Base Weight: {{item.system.jewelryDesign.selectedStyle.weight}}
                                </td>
                                <td class="question-container" id="jewelry-size">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            {{#if (eq item.system.jewelryDesign.style "gem") }}
                                <tr class="design-row">
                                    <td>Value</td>
                                    <td>
                                        <input type="number" style="width: unset;" name="system.jewelryDesign.value" value="{{item.system.jewelryDesign.value}}" data-dtype="Number" />
                                    </td>
                                    <td class="question-container" id="gem-value">
                                        <div class="question-button">
                                            <i class="fas fa-question"></i>
                                        </div>
                                    </td>
                                </tr>
                            {{else}}
                            <tr class="design-row">
                                <td style="width: 150px">
                                    Material
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.material">
                                        {{#select item.system.jewelryDesign.material}}
                                            {{#each item.system.jewelryDesign.materials as |material id|}}
                                                <option value="{{material.name}}">{{material.name}} - {{round material.cost 100}} $/lb</option>
                                            {{/each}}
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="jewelry-material">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{#if item.system.jewelryDesign.allowMagicalMaterialsForCustom}}
                            <tr class="design-row">
                                <td style="width: 150px">
                                    Is the material essential?
                                </td>
                                <td>
                                    <input type="checkbox" name="system.jewelryDesign.essential" {{checked item.system.jewelryDesign.essential}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="jewelry-material-essential">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{/if}}
                        </table>

                        {{#unless (or (eq item.system.jewelryDesign.style "gem") (eq item.system.jewelryDesign.style "mana")) }}
                        <h2 class="bold" style="text-align: center;">Decorations</h2>
                        <table>
                            {{#if item.system.jewelryDesign.selectedMaterial.hard}}

                            <tr class="design-row">
                                <td style="min-width: 150px" colspan="2">
                                    <span class="jewelry-decoration-name">Relief<br/></span>
                                    <span class="jewelry-decoration-desc">Hard goods can have a design carved or pressed into it.</span>
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.relief" class="jewelry-decoration-select">
                                        {{#select item.system.jewelryDesign.relief}}
                                        <option value="none">None</option>
                                        <option value="simple">Simple (CF: 1.5)</option>
                                        <option value="extensive">Extensive (CF: 4)</option>
                                        {{/select}}
                                    </select>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td style="min-width: 150px" colspan="2">
                                    <span class="jewelry-decoration-name">Inlay<br/></span>
                                    <span class="jewelry-decoration-desc">An object can have a design carved or pressed into it, and then these carvings can be filled with materials of contrasting colours.</span>
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.inlay" class="jewelry-decoration-select">
                                        {{#select item.system.jewelryDesign.inlay}}
                                        <option value="none">None</option>
                                        <option value="simpleCommon">Simple with common materials (CF: 3)</option>
                                        <option value="simplePrecious">Simple with precious materials (CF: 7.5)</option>
                                        <option value="extensiveCommon">Extensive with common materials (CF: 8)</option>
                                        <option value="extensivePrecious">Extensive with precious materials (CF: 20)</option>
                                        {{/select}}
                                    </select>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td style="min-width: 150px" colspan="2">
                                    <span class="jewelry-decoration-name">Gilding<br/></span>
                                    <span class="jewelry-decoration-desc">This object has been covered with a thin layer of precious metal leaf.</span>
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.gilding" class="jewelry-decoration-select">
                                        {{#select item.system.jewelryDesign.gilding}}
                                        <option value="none">None</option>
                                        <option value="copperAccent">Copper Accents (CF: 1.5)</option>
                                        <option value="silverAccent">Silver Accents (CF: 2)</option>
                                        <option value="goldAccent">Gold Accents (CF: 20)</option>
                                        <option value="copper">Copper (CF: 4.5)</option>
                                        <option value="silver">Silver (CF: 6)</option>
                                        <option value="gold">Gold (CF: 60)</option>
                                        {{/select}}
                                    </select>
                                </td>
                            </tr>

                            {{else}}
                            <tr class="design-row">
                                <td style="min-width: 150px" colspan="2">
                                    <span class="jewelry-decoration-name">Beading<br/></span>
                                    <span class="jewelry-decoration-desc">Goods can be decorated with a pattern of coloured beads made of clay or shell.</span>
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.beading" class="jewelry-decoration-select">
                                        {{#select item.system.jewelryDesign.beading}}
                                        <option value="none">None</option>
                                        <option value="light">Light (CF: 2)</option>
                                        <option value="extensive">Extensive (CF: 8)</option>
                                        {{/select}}
                                    </select>
                                </td>
                            </tr>
                            <tr class="design-row">
                                <td style="min-width: 150px" colspan="2">
                                    <span class="jewelry-decoration-name">Dye<br/></span>
                                    <span class="jewelry-decoration-desc">Cloth can be dyed an attractive colour or simply bleached white.</span>
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.dye" class="jewelry-decoration-select">
                                        {{#select item.system.jewelryDesign.dye}}
                                        <option value="none">None</option>
                                        <option value="simple">Simple (CF: 1.5)</option>
                                        <option value="common">Common  (CF: 6)</option>
                                        <option value="expensive">Expensive (CF: 30)</option>
                                        {{/select}}
                                    </select>
                                </td>
                            </tr>
                            <tr class="design-row">
                                <td style="min-width: 150px" colspan="2">
                                    <span class="jewelry-decoration-name">Embroidery<br/></span>
                                    <span class="jewelry-decoration-desc">Soft goods can have a design stitched into them.</span>
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.embroidery" class="jewelry-decoration-select">
                                        {{#select item.system.jewelryDesign.embroidery}}
                                        <option value="none">None</option>
                                        <option value="minimal">Minimal (CF: 2)</option>
                                        <option value="elaborate">Elaborate (CF: 6)</option>
                                        <option value="minimalSilver">Minimal Cloth of Silver (CF: 6)</option>
                                        <option value="elaborateSilver">Elaborate Cloth of Silver (CF: 18)</option>
                                        <option value="minimalGold">Minimal Cloth of Gold (CF: 60)</option>
                                        <option value="elaborateGold">Elaborate Cloth of Gold (CF: 180)</option>
                                        {{/select}}
                                    </select>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td style="min-width: 150px" colspan="2">
                                    <span class="jewelry-decoration-name">Fringe, Feather, or Fur Trim<br/></span>
                                    <span class="jewelry-decoration-desc">An object has been edged in feathers, fur, or dyed string.</span>
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.fringe" class="jewelry-decoration-select">
                                        {{#select item.system.jewelryDesign.fringe}}
                                        <option value="none">None</option>
                                        <option value="common">Common (CF: 1.5)</option>
                                        <option value="rare">Rare (CF: 4)</option>
                                        <option value="commonSilver">Common Cloth of Silver (CF: 4.5)</option>
                                        <option value="rareSilver">Rare Cloth of Silver (CF: 12)</option>
                                        <option value="commonGold">Common Cloth of Gold (CF: 45)</option>
                                        <option value="rareGold">Rare Cloth of Gold (CF: 120)</option>
                                        {{/select}}
                                    </select>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td style="min-width: 150px" colspan="2">
                                    <span class="jewelry-decoration-name">Tapestry Weaving<br/></span>
                                    <span class="jewelry-decoration-desc">A cloth or wicker object can have a design made of coloured strands integrated into it.</span>
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.tapestryWeave" class="jewelry-decoration-select">
                                        {{#select item.system.jewelryDesign.tapestryWeave}}
                                        <option value="none">None</option>
                                        <option value="simple">Simple (CF: 2)</option>
                                        <option value="complex">Complex (CF: 5)</option>
                                        <option value="figurative">Figurative (CF: 10)</option>
                                        {{/select}}
                                    </select>
                                </td>
                            </tr>

                            {{#unless (eq item.system.jewelryDesign.tapestryWeave "none") }}
                            <tr class="design-row">
                                <td style="min-width: 150px" colspan="2">
                                    <span class="jewelry-decoration-name">Tapestry Dye<br/></span>
                                    <span class="jewelry-decoration-desc">The dye used in woven designs may be altered to be more or less expensive.</span>
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.tapestryDye" class="jewelry-decoration-select">
                                        {{#select item.system.jewelryDesign.tapestryDye}}
                                        <option value="simple">Simple (CF: 0)</option>
                                        <option value="common">Common (CF: 1)</option>
                                        <option value="expensive">Expensive (CF: 5)</option>
                                        {{/select}}
                                    </select>
                                </td>
                            </tr>
                            {{/unless}}
                            {{/if}}
                            <tr class="design-row">
                                <td style="min-width: 150px" colspan="2">
                                    <span class="jewelry-decoration-name">Figurative Painting<br/></span>
                                    <span class="jewelry-decoration-desc">Any object can have a design painted or printed onto it.</span>
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.figurativePainting" class="jewelry-decoration-select">
                                        {{#select item.system.jewelryDesign.figurativePainting}}
                                        <option value="none">None</option>
                                        <option value="limitedSimple">Limited Simple (CF: 2)</option>
                                        <option value="limitedComplex">Limited Complex (CF: 5)</option>
                                        <option value="extensiveSimple">Extensive Simple (CF: 5)</option>
                                        <option value="extensiveComplex">Extensive Complex (CF: 10)</option>
                                        {{/select}}
                                    </select>
                                </td>
                            </tr>

                            {{#if item.system.jewelryDesign.selectedMaterial.metal}}
                            <tr class="design-row">
                                <td style="min-width: 150px" colspan="2">
                                    <span class="jewelry-decoration-name">Enamel<br/></span>
                                    <span class="jewelry-decoration-desc">Metal objects aren't generally painted, but enameled. It's similar to figurative painting.</span>
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.enamel" class="jewelry-decoration-select">
                                        {{#select item.system.jewelryDesign.enamel}}
                                        <option value="none">None</option>
                                        <option value="limitedSimple">Limited Simple (CF: 2)</option>
                                        <option value="limitedComplex">Limited Complex (CF: 5)</option>
                                        <option value="extensiveSimple">Extensive Simple (CF: 5)</option>
                                        <option value="extensiveComplex">Extensive Complex (CF: 10)</option>
                                        {{/select}}
                                    </select>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td style="min-width: 150px" colspan="2">
                                    <span class="jewelry-decoration-name">Etching<br/></span>
                                    <span class="jewelry-decoration-desc">A metal object can have a design chemically etched into it.</span>
                                </td>
                                <td>
                                    <select name="system.jewelryDesign.etching" class="jewelry-decoration-select">
                                        {{#select item.system.jewelryDesign.etching}}
                                        <option value="none">None</option>
                                        <option value="simple">Simple (CF: 1.5)</option>
                                        <option value="expensive">Expensive (CF: 4)</option>
                                        {{/select}}
                                    </select>
                                </td>
                            </tr>
                            {{/if}}
                        </table>
                        {{/unless}}

                    </div>
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">Info</h2>
                        <div class="equipment-info-container">{{{item.system.info}}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
