<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input style="width: 87.5%" name="name" type="text" value="{{item.name}}" placeholder="Name"/><a class="saveItem">Save</a></h1>
            <div class="equipmentDetails" id="equipmentDetails">
                <div id="qty" class="equipmentStat">
                    <label class="resource-label">Qty:</label>
                    <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
                </div>
                <div id="tl" class="equipmentStat">
                    <label class="resource-label">TL:</label>
                    <input type="number" name="system.tl" value="{{system.tl}}" data-dtype="Number"/>
                </div>
                <div id="lc" class="equipmentStat">
                    <label class="resource-label">LC:</label>
                    {{system.lc}}
                </div>
                <div id="equipped" class="flexrow">
                    <select name="system.equipStatus" class="equipStatusSelect">
                        {{#select item.system.equipStatus}}
                        <option value="equipped">Equipped</option>
                        <option value="carried">Carried</option>
                        <option value="notCarried">Not Carried</option>
                        {{/select}}
                    </select>
                </div>
                <div id="subCategory" class="flexrow">
                    <label class="resource-label" style="flex: 0.5;">Race / Meta Trait / Etc:</label>
                    <input type="text" style="flex: 1;" name="system.subCategory" value="{{system.subCategory}}" placeholder="Leave this blank if you don't want it categorized"/>
                </div>
                <div id="value" class="equipmentStatLong">
                    <label class="resource-label">Value:</label>
                    <label class="resource-label">{{round system.cost 100}}$</label>
                    <label class="resource-label"> / {{round system.ttlCost 100}}$ total</label>
                </div>
                <div id="weight" class="equipmentStatLong">
                    <label class="resource-label">Weight:</label>
                    <label class="resource-label">{{round system.weight 100}}lbs</label>
                    <label class="resource-label"> / {{round system.ttlWeight 100}}lbs total</label>
                </div>
            </div>
        </div>
    </header>
    <div style="padding-top: 2px;">
        <label class="resource-label" style="width: 32px;">Short Notes:</label>
        <input type="text" name="system.shortNotes" value="{{system.shortNotes}}" style="width: calc(100% - 78px);"/>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav id="tabselect" class="sheet-tabs tabs" data-group="primary">
        <div class="header">
            <a class="item" data-tab="notes">Notes</a>
        </div>
        <div class="header">
            <a class="item" data-tab="setup">Setup</a>
        </div>
        {{#unless (eq system.armour.bodyType.name "") }}
        <div class="header">
            <a class="item" data-tab="design">Design</a>
        </div>
        <div class="header">
            <a class="item" data-tab="armour">Display Armour</a>
        </div>
        <div class="header">
            <a class="item" data-tab="other">Display Other</a>
        </div>
        {{/unless}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Note Tab --}}
        <div class="tab stats" data-tab="notes" data-group="primary">
            <h3 class="bold">Detailed Notes</h3>
            <div class="tab">
                <textarea rows="8" name="system.notes">{{{system.notes}}}</textarea>
            </div>
        </div>

        {{!-- Armour Setup Tab --}}
        <div class="tab stats" data-tab="setup" data-group="primary">
            <div class="tab">
                <div class="design-block">
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">User Options</h2>
                        <table>
                            <tr class="design-row">
                                <td>Body Type</td>
                                <td>
                                    <select name="system.armour.bodyType.name" class="bodyType">
                                        {{#select item.system.armour.bodyType.name}}
                                        <option value="">Make a Selection</option>
                                        <option value="humanoid">Humanoid</option>
                                        <option value="wingedHumanoid">Winged Humanoid</option>
                                        <option value="quadruped">Quadruped</option>
                                        <option value="wingedQuadruped">Winged Quadruped</option>
                                        <option value="hexapod">Hexapod</option>
                                        <option value="wingedHexapod">Winged Hexapod</option>
                                        <option value="centaur">Centaur</option>
                                        <option value="avian">Avian</option>
                                        <option value="vermiform">Vermiform</option>
                                        <option value="lamia">Lamia</option>
                                        <option value="wingedLamia">Winged Lamia</option>
                                        <option value="octopod">Octopod</option>
                                        <option value="cancroid">Cancroid</option>
                                        <option value="ichthyoid">Ichthyoid</option>
                                        <option value="arachnoid">Arachnoid</option>
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-body-type">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Layer</td>
                                <td>
                                    <input type="number" style="width: unset;" name="system.armour.layer" value="{{system.armour.layer}}" data-dtype="Number" />
                                </td>
                                <td class="question-container" id="armour-layer">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            {{#unless system.armourDesign.getSizeFromActor}}
                            <tr class="design-row">
                                {{#if (eq system.armourDesign.scalingMethodForCustomArmour "weight") }}
                                <td>Input Character Weight:</td><td><input type="number" style="width: unset;" name="system.armourDesign.inputWeight" value="{{system.armourDesign.inputWeight}}" data-dtype="Number" /></td>
                                {{else if (eq system.armourDesign.scalingMethodForCustomArmour "height")}}
                                <td>Input Character Height:</td><td><input type="number" style="width: unset;" name="system.armourDesign.inputHeight" value="{{system.armourDesign.inputHeight}}" data-dtype="Number" /></td>
                                {{else}}
                                <td>Input Character SM:</td><td><input type="number" style="width: unset;" name="system.armourDesign.inputSM" value="{{system.armourDesign.inputSM}}" data-dtype="Number" /></td>
                                {{/if}}
                                <td class="question-container" id="armour-input-scaling">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/unless}}
                        </table>

                        <h2 class="bold" style="text-align: center;">
                            Armour Customization
                        </h2>
                        <table>
                            <tr class="design-row">
                                <td>Tailoring</td>
                                <td>
                                    <select name="system.armourDesign.tailoring">
                                        {{#select item.system.armourDesign.tailoring}}
                                        <option value="cheap">Cheap</option>
                                        <option value="">Regularly Tailored</option>
                                        <option value="expert">Expertly Tailored</option>
                                        <option value="master">Masterfully Tailored</option>
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-tailor">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Styling</td>
                                <td>
                                    <select name="system.armourDesign.style">
                                        {{#select item.system.armourDesign.style}}
                                        <option value="0">No Styling</option>
                                        <option value="1">+1 Styling</option>
                                        <option value="2">+2 Styling (Presentation Quality)</option>
                                        <option value="3">+3 Styling</option>
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-style">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            {{#ifCond system.tl '>=' 6}}
                            <tr class="design-row">
                                <td>Sealed</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.sealed" {{checked system.armourDesign.sealed}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-sealed">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/ifCond}}

                            {{#if system.armourDesign.hasSole}}
                            {{#ifCond system.tl '>=' 2}}
                            <tr class="design-row">
                                <td>Hobnails</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.hobnails" {{checked system.armourDesign.hobnails}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-hobnailed">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/ifCond}}
                            {{/if}}

                            {{#if system.armourDesign.hasSteel}}
                            <tr class="design-row">
                                <td>Hardened Steel</td>
                                <td>
                                    <select name="system.armourDesign.steelHardening">
                                        {{#select item.system.armourDesign.steelHardening}}
                                        <option value="">None</option>
                                        <option value="hardened">Hardened Steel</option>
                                        {{#if system.armourDesign.hasPlate}}
                                        <option value="duplex">Duplex Plate</option>
                                        {{/if}}
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-steel-hardening">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if (or system.armourDesign.hasPlate system.armourDesign.hasScale) }}
                            <tr class="design-row">
                                <td>Fluting</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.fluting" {{checked system.armourDesign.fluting}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-fluting">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if system.armourDesign.hasMail}}
                            <tr class="design-row">
                                <td>Banded Mail</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.banded" {{checked system.armourDesign.banded}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-banded">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Butted Mail</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.butted" {{checked system.armourDesign.butted}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-butted">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if system.armourDesign.hasCloth}}
                            <tr class="design-row">
                                <td>Silk</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.silk" {{checked system.armourDesign.silk}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-silk">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Paper</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.paper" {{checked system.armourDesign.paper}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-paper">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if  (or system.armourDesign.hasCloth system.armourDesign.hasLeather) }}
                            <tr class="design-row">
                                <td>Reinforced</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.reinforced" {{checked system.armourDesign.reinforced}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-textile-reinforced">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if system.armourDesign.hasScale}}
                            <tr class="design-row">
                                <td>Mountain Scale</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.mountain" {{checked system.armourDesign.mountain}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-mountain">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if system.armourDesign.hasLeather}}
                            <tr class="design-row">
                                <td>Leather Quality</td>
                                <td>
                                    <select name="system.armourDesign.leatherQuality">
                                        {{#select item.system.armourDesign.leatherQuality}}
                                        <option value="rawhide">Rawhide</option>
                                        <option value="">Standard</option>
                                        <option value="quality">Leather of Quality</option>
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-leather-quality">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}
                        </table>

                        {{#if (or system.armourDesign.hasPunch system.armourDesign.hasKick) }}
                        <h2 class="bold" style="text-align: center;">Attack Options</h2>
                        <table>
                            {{#if system.armourDesign.hasPunch}}
                            <tr class="design-row">
                                <td>Include punch attack profile</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.punch" {{checked system.armourDesign.punch}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-punch">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr class="design-row">
                                <td>Punch Skill</td>
                                <td>
                                    <input style="width: 75%" type="text" placeholder="Skill" name="system.armourDesign.punchSkill" value="{{system.armourDesign.punchSkill}}"/>
                                    <input style="width: 20%" type="number" placeholder="Mod" name="system.armourDesign.punchSkillMod" value="{{system.armourDesign.punchSkillMod}}"/>
                                </td>
                                <td class="question-container" id="armour-punch-skill">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}
                            {{#if system.armourDesign.hasKick}}
                            <tr class="design-row">
                                <td>Include kick attack profile</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.kick" {{checked system.armourDesign.kick}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-kick">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr class="design-row">
                                <td>Kick Skill</td>
                                <td>
                                    <input style="width: 75%" type="text" placeholder="Skill" name="system.armourDesign.kickSkill" value="{{system.armourDesign.kickSkill}}"/>
                                    <input style="width: 20%" type="number" placeholder="Mod" name="system.armourDesign.kickSkillMod" value="{{system.armourDesign.kickSkillMod}}"/>
                                </td>
                                <td class="question-container" id="armour-kick-skill">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}
                        </table>
                        {{/if}}

                        <h2 class="bold" style="text-align: center;">
                            Armour Concealment
                        </h2>
                        <table>
                            <tr class="design-row">
                                <td>Concealed Armour</td>
                                <td>
                                    <input type="checkbox" name="system.armourDesign.concealed" {{checked system.armourDesign.concealed}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="armour-concealed">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{#if system.armourDesign.concealed}}
                            <tr class="design-row">
                                <td>Holdout Penalty Reduction</td>
                                <td>
                                    <input type="number" style="width: unset;" name="system.armourDesign.holdoutReduction" value="{{system.armourDesign.holdoutReduction}}" data-dtype="Number" />
                                </td>
                                <td class="question-container" id="armour-holdout-reduction">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Clothing</td>
                                <td>
                                    <select name="system.armourDesign.concealedClothing">
                                        {{#select item.system.armourDesign.concealedClothing}}
                                        <option value="">None</option>
                                        <option value="swimwear">Swimwear (-5)</option>
                                        <option value="summer">Summer Clothing (-3)</option>
                                        <option value="standard">Normal Clothing (+0)</option>
                                        <option value="winter">Winter Clothing (+3)</option>
                                        <option value="longCoat">Long Coat (+4)</option>
                                        <option value="leatherLongCoat">Leather Long Coat (+4)</option>
                                        <option value="lightQualityLeatherLongCoat">Light Quality Leather Long Coat (+4)</option>
                                        <option value="qualityLeatherLongCoat">Quality Leather Long Coat (+4)</option>
                                        <option value="habit">Nun's Habit (+5)</option>
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-clothing">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Clothing Status {{system.armourDesign.clothingStatus}}</td>
                                <td>
                                    <input type="range" min="-2" max="8" step="1" name="system.armourDesign.clothingStatus" value="{{system.armourDesign.clothingStatus}}" data-dtype="Number">
                                </td>
                                <td class="question-container" id="armour-clothing-status">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>Undercover Clothing</td>
                                <td>
                                    <select name="system.armourDesign.undercoverClothing">
                                        {{#select item.system.armourDesign.undercoverClothing}}
                                        <option value="0">No Bonus</option>
                                        <option value="1">+1 Bonus (+4 CF)</option>
                                        <option value="2">+2 Bonus (+19 CF)</option>
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="armour-undercover-clothing">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}
                        </table>
                    </div>
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">What The Fuck Is This Shit?</h2>
                        <div class="equipment-info-container">{{{system.info}}}</div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Armour Design Tab --}}
        <div class="tab stats" data-tab="design" data-group="primary">
            <div class="tab">
                {{#unless (eq system.armour.bodyType.name "") }}
                <div>
                    <div>
                        <div>
                            <h2 class="bold" style="text-align: center;">What The Fuck Is This Shit?</h2>
                            <div class="equipment-info-container">{{{system.info}}}</div>
                        </div>
                    </div>
                    <table>
                        <tr class="hit-locations">
                            <th class="question-container" id="armour-location" style="width: 100px;">
                                Location
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container" id="armour-sub-location" style="width: 100px;">
                                Sublocation
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container" id="armour-coverage" style="width: 80px;">
                                Coverage
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container" id="armour-voider" style="width: 50px;">
                                Voider?
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container" id="armour-material" style="width: 190px;">
                                Armour Material
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            {{#if this.system.armourDesign.allowMagicalMaterialsForCustom}}
                            <th class="question-container" id="armour-material-essential" style="width: 60px;">
                                Essential
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            {{/if}}
                            <th class="question-container" id="armour-construction" style="width: 135px;">
                                Construction
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container" id="armour-selectedDR" style="width: 85px;">
                                Selected DR
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container" id="armour-cost">
                                $
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                            <th class="question-container" id="armour-weight">
                                lbs
                                <span class="small-question-button">
                                    <i class="fas fa-question"></i>
                                </span>
                            </th>
                        </tr>
                        {{#each system.armour.bodyType.body as |bodyPart partId|}}<!--Loop through the body parts-->
                        {{#if bodyPart.subLocation}}<!--Check to see if there are sublocations and display them-->
                        {{#each bodyPart.subLocation as |subLocation locationId|}}<!--Loop through the sublocations-->
                        {{#if subLocation.surfaceArea}}
                        {{#showVoider bodyPart subLocation}}
                        <tr class="hit-locations" style="{{{hitLocationStyle bodyPart.label}}}">
                            <td>
                                {{bodyPart.label}}
                            </td>
                            <td>
                                {{subLocation.label}}
                            </td>
                            <td>
                                {{round subLocation.surfaceArea 100}}
                            </td>
                            <td>
                                {{boolToYN subLocation.voider}}
                            </td>
                            <td>
                                <select name="system.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.material.name">
                                {{#select subLocation.material.name}}
                                {{#each ../../system.armourDesign.materials as |material id|}}
                                {{#ifCond ../../../item.system.tl '>=' material.tl}}
                                <option value="{{material.name}}">{{material.name}}</option>
                                {{/ifCond}}
                                {{/each}}
                                {{/select}}
                                </select>
                            </td>
                            {{#if ../../this.system.armourDesign.allowMagicalMaterialsForCustom}}
                            <td>
                                <input type="checkbox" name="system.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.material.essential" {{checked subLocation.material.essential}} data-dtype="Boolean" style="width: 100%;"/>
                            </td>
                            {{/if}}
                            <td>
                                <select name="system.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.construction.name">
                                    {{#select subLocation.construction.name}}
                                    {{#each ../../system.armourDesign.constructionTypes as |construction id|}}
                                    {{#armourConstructionLimit ../../../item.system.tl construction subLocation bodyPart}}
                                    <option value="{{construction.name}}">{{construction.name}}</option>
                                    {{/armourConstructionLimit}}
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                            <td style="{{{valueInRangeStyle subLocation.construction.minDR subLocation.selectedDR subLocation.material.maxDR}}}" class="custom-armour-selected-dr">
                                {{subLocation.construction.minDR}} / <input type="number" name="system.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.selectedDR" value="{{subLocation.selectedDR}}" data-dtype="Number" style="width: 30px;"/> / {{subLocation.material.maxDR}}
                            </td>
                            <td>
                                {{round subLocation.cost 100}}
                            </td>
                            <td>
                                {{round subLocation.weight 100}}
                            </td>
                        </tr>
                        {{/showVoider}}
                        {{/if}}
                        {{/each}}
                        {{else}}<!--Display details for parts without sublocations (Pretty much only the skull and brian)-->
                        <tr class="hit-locations" style="{{{hitLocationStyle bodyPart.label}}}">
                            <td colspan="2">{{bodyPart.label}}</td>
                            <td>
                                {{round bodyPart.surfaceArea 100}}
                            </td>
                            <td></td>
                            <td>
                                <select name="system.armour.bodyType.body.{{partId}}.material.name">
                                    {{#select bodyPart.material.name}}
                                    {{#each ../system.armourDesign.materials as |material id|}}
                                    {{#ifCond ../../item.system.tl '>=' material.tl}}
                                    <option value="{{material.name}}">{{material.name}}</option>
                                    {{/ifCond}}
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                            {{#if ../this.system.armourDesign.allowMagicalMaterialsForCustom}}
                            <td>
                                <input type="checkbox" name="system.armour.bodyType.body.{{partId}}.material.essential" {{checked bodyPart.material.essential}} data-dtype="Boolean" style="width: 100%;"/>
                            </td>
                            {{/if}}
                            <td>
                                <select name="system.armour.bodyType.body.{{partId}}.construction.name">
                                    {{#select bodyPart.construction.name}}
                                    {{#each ../system.armourDesign.constructionTypes as |construction id|}}
                                    {{#armourConstructionLimit ../../item.system.tl construction bodyPart bodyPart}}
                                    <option value="{{construction.name}}">{{construction.name}}</option>
                                    {{/armourConstructionLimit}}
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                            <td style="{{{valueInRangeStyle bodyPart.construction.minDR bodyPart.selectedDR bodyPart.material.maxDR}}}" class="custom-armour-selected-dr">
                                {{bodyPart.construction.minDR}} / <input type="number" name="system.armour.bodyType.body.{{partId}}.selectedDR" value="{{bodyPart.selectedDR}}" data-dtype="Number" style="width: 30px;"/> / {{bodyPart.material.maxDR}}
                            </td>
                            <td>
                                {{round bodyPart.cost 100}}
                            </td>
                            <td>
                                {{round bodyPart.weight 100}}
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </table>
                </div>
                {{/unless}}
            </div>
        </div>

        {{!-- Armour Display Tab --}}
        <div class="tab stats" data-tab="armour" data-group="primary">
            <div class="tab">
                <table class="dr-entry-table">
                    {{#unless (eq system.armour.bodyType.name "") }}
                        <tr class="hit-locations">
                            <td class="dr-header"></td>
                            <td class="dr-header" style="width: 30px;">Flex</td>
                            <td class="dr-damage-types" style="width: 60px;">Hardness</td>
                            <td class="dr-damage-types" style="width: 60px;">Burn</td>
                            <td class="dr-damage-types" style="width: 60px;">Cor</td>
                            <td class="dr-damage-types" style="width: 60px;">Cr</td>
                            <td class="dr-damage-types" style="width: 60px;">Cut</td>
                            <td class="dr-damage-types" style="width: 60px;">Fat</td>
                            <td class="dr-damage-types" style="width: 60px;">Imp</td>
                            <td class="dr-damage-types" style="width: 60px;">Pi</td>
                            <td class="dr-damage-types" style="width: 60px;">Tox</td>
                            <td class="dr-damage-types" style="width: 60px;">PF</td>
                            <td class="dr-damage-types" style="width: 60px;">mm/in</td>
                            <td class="dr-damage-types" style="width: 60px;">Holdout</td>
                        </tr>
                    {{/unless}}
                    {{#each system.armour.bodyType.body as |bodyPart partId|}}<!--Loop through the body parts-->
                    <tr class="hit-locations master-location">
                        <th colspan="14">
                            <div>{{bodyPart.label}}</div>
                        </th>
                    </tr>
                    {{#if bodyPart.subLocation}}<!--Check to see if there are sublocations and display them-->
                    {{#each bodyPart.subLocation as |subLocation locationId|}}<!--Loop through the sublocations-->
                    <tr class="hit-locations">
                        <td class="dr-row">
                            <div>{{subLocation.label}}</div>
                        </td>
                        <td class="dr-row">
                            {{boolToYN subLocation.flexible}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drHardening}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drBurn}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drCor}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drCr}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drCut}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drFat}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drImp}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drPi}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.drTox}}
                        </td>
                        <td class="dr-row">
                            {{subLocation.pf}}
                        </td>
                        <td class="dr-row">
                            {{round subLocation.mm 1}} / {{round subLocation.in 10}}
                        </td>
                        <td class="dr-row">
                            {{round subLocation.holdout 1}}
                        </td>
                    </tr>
                    {{/each}}
                    {{else}}<!--Display details for parts without sublocations (Pretty much only the skull and brian)-->
                    <tr class="hit-locations">
                        <td class="dr-row">{{bodyPart.label}}</td>
                        <td class="dr-row">
                            {{boolToYN bodyPart.flexible}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drHardening}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drBurn}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drCor}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drCr}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drCut}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drFat}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drImp}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drPi}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.drTox}}
                        </td>
                        <td class="dr-row">
                            {{bodyPart.pf}}
                        </td>
                        <td class="dr-row">
                            {{round bodyPart.mm 1}} / {{round bodyPart.in 10}}
                        </td>
                        <td class="dr-row">
                            {{round bodyPart.holdout 1}}
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </table>
            </div>
        </div>

        {{!-- Display Other Tab --}}
        <div class="tab stats" data-tab="other" data-group="primary">
            <div class="tab">
                <div class="design-block">
                    <div style="width: 50%;">
                        <h3 class="bold">Other Info</h3>
                        <div class="tab">
                            <table>
                                <tr class="design-row">
                                    <td>Time to Don:</td>
                                    <td>
                                        {{system.armourDesign.donTime}} seconds
                                    </td>
                                    <td class="question-container" id="armour-don-time">
                                        <div class="question-button">
                                            <i class="fas fa-question"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="design-row">
                                    <td>Status Equivalent:</td>
                                    <td>
                                        {{system.armourDesign.statusEq}}
                                    </td>
                                    <td class="question-container" id="armour-status-eq">
                                        <div class="question-button">
                                            <i class="fas fa-question"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="design-row">
                                    <td>Can Pass For:</td>
                                    <td>
                                        {{system.armourDesign.canPassFor}}
                                    </td>
                                    <td class="question-container" id="armour-can-pass-for">
                                        <div class="question-button">
                                            <i class="fas fa-question"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="design-row">
                                    <td>Holdout:</td>
                                    <td>
                                        {{round system.armourDesign.holdout 1}}
                                    </td>
                                    <td class="question-container" id="armour-holdout">
                                        <div class="question-button">
                                            <i class="fas fa-question"></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">What The Fuck Is This Shit?</h2>
                        <div class="equipment-info-container">{{{system.info}}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
