<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="equipmentDetails" id="equipmentDetails">
                <div id="qty" class="equipmentStat">
                    <label class="resource-label">Qty:</label>
                    <input type="number" name="data.quantity" value="{{data.data.quantity}}" data-dtype="Number"/>
                </div>
                <div id="tl" class="equipmentStat">
                    <label class="resource-label">TL:</label>
                    <input type="number" name="data.tl" value="{{data.data.tl}}" data-dtype="Number"/>
                </div>
                <div id="lc" class="equipmentStat">
                    <label class="resource-label">LC:</label>
                    <span>{{data.data.lc}}</span>
                </div>
                <div id="equipped" class="flexrow">
                    <select name="data.equipStatus" class="equipStatusSelect">
                        {{#select data.data.equipStatus}}
                        <option value="equipped">Equipped</option>
                        <option value="carried">Carried</option>
                        <option value="notCarried">Not Carried</option>
                        {{/select}}
                    </select>
                </div>
                <div id="subCategory" class="flexrow">
                    <label class="resource-label" style="flex: 0.5;">Race / Meta Trait / Etc:</label>
                    <input type="text" style="flex: 1;" name="data.subCategory" value="{{data.data.subCategory}}" placeholder="Leave this blank if you don't want it categorized"/>
                </div>
                <div id="customType" class="flexrow">
                    <select name="data.customType" class="equipStatusSelect">
                        {{#select data.data.customType}}
                            <option value="bow">Bow</option>
                            {{#ifCond data.data.tl '>=' 1 }}
                                <option value="footbow">Footbow</option>
                            {{/ifCond}}
                            {{#ifCond data.data.tl '>=' 2 }}
                                <option value="xbow">Crossbow</option>
                            {{/ifCond}}
                            {{#ifCond data.data.tl '>=' 3 }}
                                <option value="muzzleLoader">Muzzle Loading Firearm</option>
                            {{/ifCond}}
                            {{#ifCond data.data.tl '>=' 5 }}
                                <option value="cartridgeLoader">Cartridge Loading Firearm</option>
                            {{/ifCond}}
                            {{#ifCond data.data.tl '>=' 9 }}
                                <option value="laser">Laser Weapon</option>
                            {{/ifCond}}
                        {{/select}}
                    </select>
                </div>
                <div id="value" class="equipmentStatLong">
                    <label class="resource-label">Value:</label>
                    <span>{{data.data.cost}}</span>
                    <label class="resource-label"> / {{data.data.ttlCost}}$ total</label>
                </div>
                <div id="weight" class="equipmentStatLong">
                    <label class="resource-label">Weight:</label>
                    <span>{{data.data.weight}}</span>
                    <label class="resource-label"> / {{data.data.ttlWeight}}lbs total</label>
                </div>
            </div>
        </div>
    </header>
    <div style="padding-top: 2px;">
        <label class="resource-label" style="width: 32px;">Short Notes:</label>
        <input type="text" name="data.shortNotes" value="{{data.data.shortNotes}}" style="width: calc(100% - 78px);"/>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav id="tabselect" class="sheet-tabs tabs" data-group="primary">
        <div class="header">
            <a class="item" data-tab="notes">Notes</a>
        </div>
        {{#if (eq data.data.customType "laser")}}
        <div class="header">
            <a class="item" data-tab="designLaser">Design Laser</a>
        </div>
        {{/if}}
        {{#if (eq data.data.customType "bow")}}
        <div class="header">
            <a class="item" data-tab="designBow">Design Bow</a>
        </div>
        {{/if}}
        {{#if (eq data.data.customType "footbow")}}
        <div class="header">
            <a class="item" data-tab="designBow">Design Footbow</a>
        </div>
        {{/if}}
        {{#if (eq data.data.customType "xbow")}}
        <div class="header">
            <a class="item" data-tab="designBow">Design Crossbow</a>
        </div>
        {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Note Tab --}}
        <div class="tab stats" data-tab="notes" data-group="primary">
            <h3 class="bold">Detailed Notes</h3>
            <div class="tab">
                <textarea rows="8" name="data.notes">{{{data.data.notes}}}</textarea>
            </div>
        </div>

        {{!-- Bow Design Tab --}}
        <div class="tab stats" data-tab="designBow" data-group="primary">
            <h1 class="bold" style="text-align: center;">The Deadly Spring: Pyramid 3/33</h1>
            <div class="tab">
                <div class="design-block">
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">User Options</h2>
                        <table>
                            <tr class="design-row">
                                <td style="width: 150px">
                                    User ST
                                </td>
                                <td>
                                    <input type="number" name="data.bowDesign.drawWeight" value="{{data.data.bowDesign.drawWeight}}" data-dtype="Number"/>
                                </td>
                                <td class="question-container" id="user-st">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr class="design-row">
                                <td style="width: 150px">
                                    {{#if (eq data.data.bowDesign.type "xbow")}}
                                    Crossbow Finesse
                                    {{else}}
                                    Strongbow
                                    {{/if}}
                                </td>
                                <td>
                                    <input type="checkbox" name="data.data.bowDesign.strongBowCrossbowFinesse" {{checked data.data.bowDesign.strongBowCrossbowFinesse}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="strong-bow-crossbow-finesse">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            <!-- TODO - Make this only show up if there is not an actor -->
                            <tr class="design-row">
                                <td style="width: 150px">
                                    {{#if (eq data.data.bowDesign.type "xbow")}}
                                    Crossbow Finesse
                                    {{else}}
                                    Strongbow
                                    {{/if}}
                                    Spoof:

                                    {{data.data.bowDesign.strongBowCrossbowFinesseEffect}}
                                </td>
                                <td>
                                    <input type="range" min="0" max="2" step="1" name="data.bowDesign.strongBowCrossbowFinesseEffect" value="{{data.data.bowDesign.strongBowCrossbowFinesseEffect}}" data-dtype="Number">
                                </td>
                                <td class="question-container" id="strong-bow-crossbow-finesse-effect">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">What The Fuck Is This Shit?</h2>
                        <div class="equipment-info-container">{{{data.data.info}}}</div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Laser Design Tab --}}
        <div class="tab stats" data-tab="designLaser" data-group="primary">
            <h1 class="bold" style="text-align: center;">Laser Design: Pyramid 3/37</h1>
            <div class="tab">
                <div class="design-block">
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">Laser Options</h2>
                        <table>
                            <tr class="design-row">
                                <td style="width: 150px">
                                    Configuration
                                </td>
                                <td>
                                    <select name="data.laserDesign.configuration">
                                        {{#select data.data.laserDesign.configuration}}
                                        <option value="pistol">Pistol</option>
                                        <option value="rifle">Rifle</option>
                                        <option value="beamer">Beamer</option>
                                        <option value="cannon">Cannon</option>
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="laser-configuration">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>
                                    Beam Type
                                </td>
                                <td>
                                    <select name="data.laserDesign.beamType">
                                        {{#select data.data.laserDesign.beamType}}
                                        <option value="laser">Laser (TL9)</option>
                                        {{#if data.data.laserDesign.allowSuperScienceCustomLasers}}
                                        {{#ifCond  data.data.tl '>=' 10 }}
                                        <option value="forceBeam">Force Beam (TL 10^)</option>
                                        {{/ifCond}}
                                        {{/if}}
                                        {{#if (eq data.data.laserDesign.configuration "cannon")}}
                                        {{#ifCond  data.data.tl '>=' 10 }}
                                        <option value="blaster">Blaster (TL 10)</option>
                                        {{/ifCond}}
                                        {{#ifCond  data.data.tl '>=' 10 }}
                                        <option value="neutralParticleBeam">Neutral Particle Beam (TL 10)</option>
                                        {{/ifCond}}
                                        {{#ifCond  data.data.tl '>=' 11 }}
                                        <option value="rainbowLaser">Rainbow Laser (TL 11)</option>
                                        {{/ifCond}}
                                        {{#ifCond  data.data.tl '>=' 11 }}
                                        <option value="xRayLaser">X-Ray Laser (TL 11)</option>
                                        {{/ifCond}}
                                        {{#if data.data.laserDesign.allowSuperScienceCustomLasers}}
                                        {{#ifCond  data.data.tl '>=' 11 }}
                                        <option value="gravitonBeam">Graviton Beam (TL 11^)</option>
                                        {{/ifCond}}
                                        {{/if}}
                                        {{#ifCond  data.data.tl '>=' 11 }}
                                        <option value="pulsar">Pulsar (TL 11)</option>
                                        {{/ifCond}}
                                        {{else}}
                                        {{#ifCond  data.data.tl '>=' 11 }}
                                        <option value="blaster">Blaster (TL 11)</option>
                                        {{/ifCond}}
                                        {{#ifCond  data.data.tl '>=' 11 }}
                                        <option value="neutralParticleBeam">Neutral Particle Beam (TL 11)</option>
                                        {{/ifCond}}
                                        {{#ifCond  data.data.tl '>=' 11 }}
                                        <option value="rainbowLaser">Rainbow Laser (TL 11)</option>
                                        {{/ifCond}}
                                        {{#ifCond  data.data.tl '>=' 11 }}
                                        <option value="xRayLaser">X-Ray Laser (TL 11)</option>
                                        {{/ifCond}}
                                        {{#if data.data.laserDesign.allowSuperScienceCustomLasers}}
                                        {{#ifCond  data.data.tl '>=' 11 }}
                                        <option value="gravitonBeam">Graviton Beam (TL 11^)</option>
                                        {{/ifCond}}
                                        {{/if}}
                                        {{#ifCond  data.data.tl '>=' 12 }}
                                        <option value="pulsar">Pulsar (TL 12)</option>
                                        {{/ifCond}}
                                        {{/if}}
                                        {{#ifCond  data.data.tl '==' 12 }}
                                        <option value="graser">Graser (TL 12)</option>
                                        {{/ifCond}}
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="beam-type">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            {{#if (eq data.data.laserDesign.beamType "laser")}}
                            <tr class="design-row">
                                <td>
                                    Laser Colour
                                </td>
                                <td>
                                <select name="data.laserDesign.laserColour">
                                    {{#select data.data.laserDesign.laserColour}}
                                    <option value="ir">Infrared</option>
                                    <option value="bg">Blue-Green</option>
                                    <option value="uv">Ultraviolet</option>
                                    {{/select}}
                                </select>
                                </td>
                                <td class="question-container" id="laser-colour">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            {{#if (eq data.data.laserDesign.beamType "blaster")}}
                            <tr class="design-row">
                                <td>
                                    Omni-Blaster
                                </td>
                                <td>
                                    <input type="checkbox" name="data.laserDesign.omniBlaster" {{checked data.data.laserDesign.omniBlaster}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="omni-blaster">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}

                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Focal Array
                                </td>
                                <td style="line-height: 27.5px">
                                    {{data.data.laserDesign.focalArraySize}} : x{{data.data.laserDesign.focalArray}}
                                </td>
                                <td class="question-container" id="focal-array">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="3">
                                    <input type="range" min="0.1" max="4" step="0.05" name="data.laserDesign.focalArray" value="{{data.data.laserDesign.focalArray}}" data-dtype="Number">
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td>
                                    Generator
                                </td>
                                <td>
                                <select name="data.laserDesign.generator">
                                    {{#select data.data.laserDesign.generator}}
                                    <option value="single">Single Shot</option>
                                    <option value="semi">Semi-Auto</option>
                                    <option value="light">Light Automatic</option>
                                    <option value="heavy">Heavy Automatic</option>
                                    {{#if data.data.laserDesign.hotshotsAndOverheating}}
                                    <option value="lightGat">Light Gatling</option>
                                    <option value="heavyGat">Heavy Gatling</option>
                                    {{/if}}
                                    {{/select}}
                                </select>
                                </td>
                                <td class="question-container" id="laser-generator">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        {{#if data.data.laserDesign.allowSuperScienceCustomLasers}}
                        <h2 class="bold" style="text-align: center; margin-top: 20px">Super Science Options</h2>
                        <table>
                        <tr class="design-row">
                            <td style="line-height: 27.5px">
                                Super Science Laser Upgrade
                            </td>
                            <td style="line-height: 27.5px">
                                <input type="checkbox" name="data.laserDesign.superScience" {{checked data.data.laserDesign.superScience}} data-dtype="Boolean"/>
                            </td>
                            <td class="question-container" id="super-science-laser">
                                <div class="question-button">
                                    <i class="fas fa-question"></i>
                                </div>
                            </td>
                        </tr>
                        {{#ifCond  data.data.tl '>=' 10 }}
                        <tr class="design-row">
                            <td style="line-height: 27.5px">
                                Field Jacketed (TL 10^)
                            </td>
                            <td style="line-height: 27.5px">
                                <input type="checkbox" name="data.laserDesign.fieldJacketed" {{checked data.data.laserDesign.fieldJacketed}} data-dtype="Boolean"/>
                            </td>
                            <td class="question-container" id="field-jacket">
                                <div class="question-button">
                                    <i class="fas fa-question"></i>
                                </div>
                            </td>
                        </tr>
                        <tr class="design-row">
                            <td style="line-height: 27.5px">
                                Gravitic Focusing (TL 10^)
                            </td>
                            <td style="line-height: 27.5px">
                                <select name="data.laserDesign.graviticFocus">
                                    {{#select data.data.laserDesign.graviticFocus}}
                                    <option value="0">None</option>
                                    <option value="1">One Level (TL 10^)</option>
                                    {{#ifCond  data.data.tl '>=' 11 }}
                                    <option value="2">Two Levels (TL 11^)</option>
                                    {{#ifCond  data.data.tl '>=' 12 }}
                                    <option value="3">Three Levels (TL 12^)</option>
                                    {{/ifCond}}
                                    {{/ifCond}}
                                    {{/select}}
                                </select>
                            </td>
                            <td class="question-container" id="gravitic-focusing">
                                <div class="question-button">
                                    <i class="fas fa-question"></i>
                                </div>
                            </td>
                        </tr>
                        {{/ifCond}}
                        {{#ifCond  data.data.tl '>=' 11 }}
                        <tr class="design-row">
                            <td style="line-height: 27.5px">
                                FTL (TL 11^)
                            </td>
                            <td style="line-height: 27.5px">
                                <input type="checkbox" name="data.laserDesign.ftl" {{checked data.data.laserDesign.ftl}} data-dtype="Boolean"/>
                            </td>
                            <td class="question-container" id="ftl-laser">
                                <div class="question-button">
                                    <i class="fas fa-question"></i>
                                </div>
                            </td>
                        </tr>
                        {{/ifCond}}
                        </table>
                        {{/if}}
                        <h2 class="bold" style="text-align: center; margin-top: 20px">Damage and Power</h2>
                        <table>
                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Damage Dice
                                </td>
                                <td style="line-height: 27.5px">
                                    <input type="number" name="data.laserDesign.damageDiceInput" value="{{data.data.laserDesign.damageDiceInput}}" data-dtype="Number"/>
                                </td>
                                <td class="question-container" id="laser-damage-dice">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Power System:
                                </td>
                                <td style="line-height: 27.5px">
                                    <input type="number" style="width: 50px;" name="data.laserDesign.powerCellQty" value="{{data.data.laserDesign.powerCellQty}}" data-dtype="Number"/>
                                    <select name="data.laserDesign.powerCell">
                                        {{#select data.data.laserDesign.powerCell}}
                                        <option value="A">A cell{{#ifCond data.data.laserDesign.powerCellQty '>' 1}}s{{/ifCond}}</option>
                                        <option value="B">B cell{{#ifCond data.data.laserDesign.powerCellQty '>' 1}}s{{/ifCond}}</option>
                                        <option value="C">C cell{{#ifCond data.data.laserDesign.powerCellQty '>' 1}}s{{/ifCond}}</option>
                                        <option value="D">D cell{{#ifCond data.data.laserDesign.powerCellQty '>' 1}}s{{/ifCond}}</option>
                                        <option value="E">E cell{{#ifCond data.data.laserDesign.powerCellQty '>' 1}}s{{/ifCond}}</option>
                                        <option value="F">F cell{{#ifCond data.data.laserDesign.powerCellQty '>' 1}}s{{/ifCond}}</option>
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="laser-power-system">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{#if data.data.laserDesign.allowSuperScienceCustomLasers}}
                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Super Science Power Cells
                                </td>
                                <td style="line-height: 27.5px">
                                    <input type="checkbox" name="data.laserDesign.superScienceCells" {{checked data.data.laserDesign.superScienceCells}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="super-science-power-cells">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}
                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Non-Rechargeable Power Cells
                                </td>
                                <td style="line-height: 27.5px">
                                <input type="checkbox" name="data.laserDesign.nonRechargeableCells" {{checked data.data.laserDesign.nonRechargeableCells}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="non-rechargeable-power-cells">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <h2 class="bold" style="text-align: center; margin-top: 20px">Tweaks</h2>
                        <table>
                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Tweak Weight x{{data.data.laserDesign.weightTweak}}
                                </td>
                                <td>
                                    <input type="range" min="0.85" max="2" step="0.05" name="data.laserDesign.weightTweak" value="{{data.data.laserDesign.weightTweak}}" data-dtype="Number">
                                </td>
                                <td class="question-container" id="laser-weight-tweak">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{#if (or (eq data.data.laserDesign.beamType "laser") (eq data.data.laserDesign.beamType "xRayLaser") (eq data.data.laserDesign.beamType "graser"))}}
                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Pulse Laser
                                </td>
                                <td>
                                    <input type="checkbox" name="data.laserDesign.pulseLaser" {{checked data.data.laserDesign.pulseLaser}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="pulse-laser">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            {{#if data.data.laserDesign.pulseLaser}}
                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Pulse-Beam Laser
                                </td>
                                <td>
                                    <input type="checkbox" name="data.laserDesign.pulseBeamLaser" {{checked data.data.laserDesign.pulseBeamLaser}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="pulse-beam-laser">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}
                            {{/if}}
                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Include a melee profile
                                </td>
                                <td>
                                    <input type="checkbox" name="data.laserDesign.meleeProfile" {{checked data.data.laserDesign.meleeProfile}} data-dtype="Boolean"/>
                                </td>
                                <td class="question-container" id="melee-profile">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            {{#if data.data.laserDesign.meleeProfile}}
                                <tr class="design-row">
                                    <td style="line-height: 27.5px">
                                        Cavalier Weapon
                                    </td>
                                    <td>
                                        <input type="checkbox" name="data.laserDesign.cavalierWeapon" {{checked data.data.laserDesign.cavalierWeapon}} data-dtype="Boolean"/>
                                    </td>
                                    <td class="question-container" id="cavalier-weapon">
                                        <div class="question-button">
                                            <i class="fas fa-question"></i>
                                        </div>
                                    </td>
                                </tr>
                            {{/if}}
                        </table>

                        <h2 class="bold" style="text-align: center; margin-top: 20px">Skills</h2>
                        <table>
                            <tr class="design-row">
                                <td style="line-height: 27.5px" colspan="2">
                                    <input style="width: 75%" type="text" placeholder="Ranged Skill" name="data.laserDesign.rangedSkill" value="{{data.data.laserDesign.rangedSkill}}"/>
                                    <input style="width: 20%" type="number" placeholder="Mod" name="data.laserDesign.rangedSkillMod" value="{{data.data.laserDesign.rangedSkillMod}}"/>
                                </td>
                                <td class="question-container" id="laser-ranged-skill">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            {{#if data.data.laserDesign.meleeProfile}}
                            <tr class="design-row">
                                <td style="line-height: 27.5px" colspan="2">
                                    <input style="width: 75%" type="text" placeholder="Melee Skill" name="data.laserDesign.meleeSkill" value="{{data.data.laserDesign.meleeSkill}}"/>
                                    <input style="width: 20%" type="number" placeholder="Mod" name="data.laserDesign.meleeSkillMod" value="{{data.data.laserDesign.meleeSkillMod}}"/>
                                </td>
                                <td class="question-container" id="laser-melee-skill">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}
                        </table>

                    </div>
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">What The Fuck Is This Shit?</h2>
                        <div class="equipment-info-container">{{{data.data.info}}}</div>
                    </div>
                </div>

                <div>
                    <h2 class="bold" style="text-align: center;">Design Results</h2>
                    <h3 class="bold" style="text-align: center;">Check the boxes to have that row added to your combat tab and the combat macro.</h3>
                </div>
                <table>
                    <tr>
                        <td>Show</td>
                        <td>TL</td>
                        <td>Weapon</td>
                        <td>Damage</td>
                        <td>Acc</td>
                        <td>Range</td>
                        <td>Weight</td>
                        <td>RoF</td>
                        <td>Shots</td>
                        <td>ST</td>
                        <td>Bulk</td>
                        <td>Rcl</td>
                        <td>Cost</td>
                        <td>LC</td>
                        <td>Malf</td>
                    </tr>
                    <tr class="custom-laser-air">
                        <td><input type="checkbox" name="data.laserDesign.showAir" {{checked data.data.laserDesign.showAir}} data-dtype="Boolean" style="width: 100%;"/></td>
                        <td>{{data.data.tl}}</td>
                        <td>{{item.name}} - Air</td>
                        <td>{{data.data.laserDesign.outputDamage}} ({{this.data.data.laserDesign.armourDivisor}}) this.data.data.laserDesign.damageType</td>
                        <td>{{data.data.laserDesign.outputAcc}}</td>
                        <td>{{data.data.laserDesign.outputRange}}</td>
                        <td>{{data.data.laserDesign.outputWeight}}</td>
                        <td>{{data.data.laserDesign.outputRoF}}</td>
                        <td>{{data.data.laserDesign.outputShots}}</td>
                        <td>{{data.data.laserDesign.outputST}}</td>
                        <td>{{data.data.laserDesign.outputBulk}}</td>
                        <td>{{data.data.laserDesign.outputRcl}}</td>
                        <td>{{data.data.cost}}</td>
                        <td>{{data.data.lc}}</td>
                        <td>17</td>
                    </tr>
                    <tr class="custom-laser-space">
                        <td><input type="checkbox" name="data.laserDesign.showSpace" {{checked data.data.laserDesign.showSpace}} data-dtype="Boolean" style="width: 100%;"/></td>
                        <td>{{data.data.tl}}</td>
                        <td>{{item.name}} - Space</td>
                        <td>{{data.data.laserDesign.outputDamage}} ({{this.data.data.laserDesign.armourDivisorSpace}}) this.data.data.laserDesign.damageType</td>
                        <td>{{data.data.laserDesign.outputAccSpace}}</td>
                        <td>{{data.data.laserDesign.outputRangeSpace}}</td>
                        <td>{{data.data.laserDesign.outputWeight}}</td>
                        <td>{{data.data.laserDesign.outputRoF}}</td>
                        <td>{{data.data.laserDesign.outputShots}}</td>
                        <td>{{data.data.laserDesign.outputST}}</td>
                        <td>{{data.data.laserDesign.outputBulk}}</td>
                        <td>{{data.data.laserDesign.outputRcl}}</td>
                        <td>{{data.data.cost}}</td>
                        <td>{{data.data.lc}}</td>
                        <td>17</td>
                    </tr>
                    <tr class="custom-laser-water">
                        <td><input type="checkbox" name="data.laserDesign.showWater" {{checked data.data.laserDesign.showWater}} data-dtype="Boolean" style="width: 100%;"/></td>
                        <td>{{data.data.tl}}</td>
                        <td>{{item.name}} - Underwater</td>
                        <td>{{data.data.laserDesign.outputDamage}} ({{this.data.data.laserDesign.armourDivisorWater}}) this.data.data.laserDesign.damageType</td>
                        <td>{{data.data.laserDesign.outputAccWater}}</td>
                        <td>{{data.data.laserDesign.outputRangeWater}}</td>
                        <td>{{data.data.laserDesign.outputWeight}}</td>
                        <td>{{data.data.laserDesign.outputRoF}}</td>
                        <td>{{data.data.laserDesign.outputShots}}</td>
                        <td>{{data.data.laserDesign.outputST}}</td>
                        <td>{{data.data.laserDesign.outputBulk}}</td>
                        <td>{{data.data.laserDesign.outputRcl}}</td>
                        <td>{{data.data.cost}}</td>
                        <td>{{data.data.lc}}</td>
                        <td>17</td>
                    </tr>
                    {{#if data.data.laserDesign.hotshotsAndOverheating}}
                    {{#unless (or (eq data.data.laserDesign.generator "lightGat") (eq data.data.laserDesign.generator "heavyGat"))}}
                    <tr class="custom-laser-air-hotshot">
                        <td><input type="checkbox" name="data.laserDesign.showAirHotshot" {{checked data.data.laserDesign.showAirHotshot}} data-dtype="Boolean" style="width: 100%;"/></td>
                        <td>{{data.data.tl}}</td>
                        <td>{{item.name}} - Hotshot Air</td>
                        <td>{{data.data.laserDesign.outputDamageHotshots}} ({{this.data.data.laserDesign.armourDivisor}}) this.data.data.laserDesign.damageType</td>
                        <td>{{data.data.laserDesign.outputAcc}}</td>
                        <td>{{data.data.laserDesign.outputRange}}</td>
                        <td>{{data.data.laserDesign.outputWeight}}</td>
                        <td>{{data.data.laserDesign.outputRoF}}</td>
                        <td>{{data.data.laserDesign.outputShotsHotshots}}</td>
                        <td>{{data.data.laserDesign.outputST}}</td>
                        <td>{{data.data.laserDesign.outputBulk}}</td>
                        <td>{{data.data.laserDesign.outputRcl}}</td>
                        <td>{{data.data.cost}}</td>
                        <td>{{data.data.lc}}</td>
                        <td>14</td>
                    </tr>
                    <tr class="custom-laser-space-hotshot">
                        <td><input type="checkbox" name="data.laserDesign.showSpaceHotshot" {{checked data.data.laserDesign.showSpaceHotshot}} data-dtype="Boolean" style="width: 100%;"/></td>
                        <td>{{data.data.tl}}</td>
                        <td>{{item.name}} - Hotshot Space</td>
                        <td>{{data.data.laserDesign.outputDamageHotshots}} ({{this.data.data.laserDesign.armourDivisorSpace}}) this.data.data.laserDesign.damageTypeSpace</td>
                        <td>{{data.data.laserDesign.outputAccSpace}}</td>
                        <td>{{data.data.laserDesign.outputRangeSpace}}</td>
                        <td>{{data.data.laserDesign.outputWeight}}</td>
                        <td>{{data.data.laserDesign.outputRoF}}</td>
                        <td>{{data.data.laserDesign.outputShotsHotshots}}</td>
                        <td>{{data.data.laserDesign.outputST}}</td>
                        <td>{{data.data.laserDesign.outputBulk}}</td>
                        <td>{{data.data.laserDesign.outputRcl}}</td>
                        <td>{{data.data.cost}}</td>
                        <td>{{data.data.lc}}</td>
                        <td>14</td>
                    </tr>
                    <tr class="custom-laser-water-hotshot">
                        <td><input type="checkbox" name="data.laserDesign.showWaterHotshot" {{checked data.data.laserDesign.showWaterHotshot}} data-dtype="Boolean" style="width: 100%;"/></td>
                        <td>{{data.data.tl}}</td>
                        <td>{{item.name}} - Hotshot Underwater</td>
                        <td>{{data.data.laserDesign.outputDamageHotshots}} ({{this.data.data.laserDesign.armourDivisorWater}}) this.data.data.laserDesign.damageTypeWater</td>
                        <td>{{data.data.laserDesign.outputAccWater}}</td>
                        <td>{{data.data.laserDesign.outputRangeWater}}</td>
                        <td>{{data.data.laserDesign.outputWeight}}</td>
                        <td>{{data.data.laserDesign.outputRoF}}</td>
                        <td>{{data.data.laserDesign.outputShotsHotshots}}</td>
                        <td>{{data.data.laserDesign.outputST}}</td>
                        <td>{{data.data.laserDesign.outputBulk}}</td>
                        <td>{{data.data.laserDesign.outputRcl}}</td>
                        <td>{{data.data.cost}}</td>
                        <td>{{data.data.lc}}</td>
                        <td>14</td>
                    </tr>
                    {{/unless}}
                    {{/if}}
                </table>
            </div>
        </div>


    </section>
</form>
