<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="equipmentDetails" id="equipmentDetails">
                <div id="qty" class="equipmentStat">
                    <label class="resource-label">Qty:</label>
                    <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
                </div>
                <div id="tl" class="equipmentStat">
                    <label class="resource-label">TL:</label>
                    <input type="text" name="data.tl" value="{{data.tl}}" data-dtype="Number"/>
                </div>
                <div id="lc" class="equipmentStat">
                    <label class="resource-label">LC:</label>
                    <input type="text" name="data.lc" value="{{data.lc}}" data-dtype="Number"/>
                </div>
                <div id="equipped" class="flexrow">
                    <select name="data.equipStatus" class="equipStatusSelect">
                        {{#select data.equipStatus}}
                        <option value="equipped">Equipped</option>
                        <option value="carried">Carried</option>
                        <option value="notCarried">Not Carried</option>
                        {{/select}}
                    </select>
                </div>
                <div id="subCategory" class="flexrow">
                    <label class="resource-label" style="flex: 0.5;">Race / Meta Trait / Etc:</label>
                    <input type="text" style="flex: 1;" name="data.subCategory" value="{{data.subCategory}}" placeholder="Leave this blank if you don't want it categorized"/>
                </div>
                <div id="value" class="equipmentStatLong">
                    <label class="resource-label">Value:</label>
                    <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
                    <label class="resource-label"> / {{data.ttlCost}}$ total</label>
                </div>
                <div id="weight" class="equipmentStatLong">
                    <label class="resource-label">Weight:</label>
                    <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
                    <label class="resource-label"> / {{data.ttlWeight}}lbs total</label>
                </div>
            </div>
        </div>
    </header>
    <div style="padding-top: 2px;">
        <label class="resource-label" style="width: 32px;">Short Notes:</label>
        <input type="text" name="data.shortNotes" value="{{data.shortNotes}}" style="width: calc(100% - 78px);"/>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav id="tabselect" class="sheet-tabs tabs" data-group="primary">
        <div class="header">
            <a class="item" data-tab="notes">Notes</a>
        </div>
        <div class="header">
            <a class="item" data-tab="melee">Melee</a>
        </div>
        <div class="header">
            <a class="item" data-tab="ranged">Ranged</a>
        </div>
        <div class="header">
            <a class="item" data-tab="armour">Armour</a>
        </div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Note Tab --}}
        <div class="tab stats" data-tab="notes" data-group="primary">
            <h3 class="bold">Detailed Notes</h3>
            <div class="tab">
                <textarea rows="8" name="data.notes">{{{data.notes}}}</textarea>
            </div>
        </div>

        {{!-- Melee Tab --}}
        <div class="tab stats" data-tab="melee" data-group="primary">
            <h3 class="addRow" style="text-align: right;">Add Row</h3>
            <div class="tab">
                <table>
                <tr class="equipment-header">
                    <td class="resource-label">ID</td>
                    <td class="resource-label">Name</td>
                    <td class="resource-label">Level</td>
                    <td class="resource-label">Skill Name / Mod</td>
                    <td class="resource-label">Parry - Type</td>
                    <td class="resource-label">Block</td>
                    <td class="resource-label">Damage</td>
                    <td class="resource-label">Type</td>
                    <td class="resource-label">Divisor</td>
                    <td class="resource-label">Reach</td>
                    <td class="resource-label">ST</td>
                </tr>
                {{#each data.melee as |melee id|}}
                <tr class="equipment-entry">
                    <td class="resource-label">{{id}}</td>
                    <td><input type="text" name="data.melee.{{id}}.name" value="{{name}}" title="{{name}}" style="text-align:left;" /></td>
                    <td class="resource-label">{{melee.level}}</td>
                    <td class="equipmentInputInput">
                        <input type="text" name="data.melee.{{id}}.skill" value="{{melee.skill}}" title="{{melee.skill}}" style="text-align:left;" />/
                        <input type="text" name="data.melee.{{id}}.skillMod" value="{{melee.skillMod}}" data-dtype="Number"/>
                    </td>
                    <td>
                        <input type="text" name="data.melee.{{id}}.parryMod" value="{{melee.parryMod}}" style="width: 50%"/>
                        <input type="text" name="data.melee.{{id}}.parryType" value="{{melee.parryType}}" style="width: 20%"/>
                    </td>
                    <td>
                        <input type="text" name="data.melee.{{id}}.blockMod" value="{{melee.blockMod}}"/>
                    </td>
                    <td><input type="text" name="data.melee.{{id}}.damageInput" value="{{melee.damageInput}}" title="{{melee.damageInput}}" style="text-align:left;" /></td>
                    <td><input type="text" name="data.melee.{{id}}.damageType" value="{{melee.damageType}}" title="{{melee.damageType}}" style="text-align:left;" /></td>
                    <td><input type="text" name="data.melee.{{id}}.armorDivisor" value="{{melee.armorDivisor}}" title="{{melee.armorDivisor}}" style="text-align:left;" /></td>
                    <td><input type="text" name="data.melee.{{id}}.reach" value="{{melee.reach}}" title="{{melee.reach}}" style="text-align:left;" /></td>
                    <td><input type="text" name="data.melee.{{id}}.st" value="{{melee.st}}"/></td>
                    <td><a class="attack-delete" id="meleee{{id}}" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                </tr>
                {{/each}}
                </table>
            </div>
        </div>

        {{!-- Ranged Tab --}}
        <div class="tab stats" data-tab="ranged" data-group="primary">
            <h3 class="addRangedRow" style="text-align: right;">Add Row</h3>
            <div class="tab">
                <table>
                    <tr class="equipment-header">
                        <td class="resource-label">ID</td>
                        <td class="resource-label">Name</td>
                        <td class="resource-label">Level</td>
                        <td class="resource-label">Skill Name / Mod</td>
                        <td class="resource-label">Acc</td>
                        <td class="resource-label">Damage</td>
                        <td class="resource-label">Type</td>
                        <td class="resource-label">Divisor</td>
                        <td class="resource-label">Range</td>
                        <td class="resource-label">Rof</td>
                        <td class="resource-label">Shots</td>
                        <td class="resource-label">Bulk</td>
                        <td class="resource-label">Rcl</td>
                        <td class="resource-label">ST</td>
                        <td class="resource-label">Malf</td>
                        <td class="resource-label"></td>
                    </tr>
                    {{#each data.ranged as |ranged id|}}
                    <tr class="equipment-entry">
                        <td class="resource-label">{{id}}</td>
                        <td><input type="text" name="data.ranged.{{id}}.name" value="{{name}}" title="{{name}}" style="text-align:left;" /></td>
                        <td class="resource-label">{{ranged.level}}</td>
                        <td class="equipmentInputInput">
                            <input type="text" name="data.ranged.{{id}}.skill" value="{{ranged.skill}}" title="{{ranged.skill}}" style="text-align:left;" />/
                            <input type="text" name="data.ranged.{{id}}.skillMod" value="{{ranged.skillMod}}" data-dtype="Number"/>
                        </td>
                        <td><input type="text" name="data.ranged.{{id}}.acc" value="{{ranged.acc}}" data-dtype="Number"/></td>
                        <td><input type="text" name="data.ranged.{{id}}.damageInput" value="{{ranged.damageInput}}" title="{{ranged.damageInput}}" style="text-align:left;" /></td>
                        <td><input type="text" name="data.ranged.{{id}}.damageType" value="{{ranged.damageType}}" title="{{ranged.damageType}}" style="text-align:left;" /></td>
                        <td><input type="text" name="data.ranged.{{id}}.armorDivisor" value="{{ranged.armorDivisor}}" title="{{ranged.armorDivisor}}" style="text-align:left;" /></td>
                        <td><input type="text" name="data.ranged.{{id}}.range" value="{{ranged.range}}" title="{{ranged.range}}" style="text-align:left;" /></td>
                        <td><input type="text" name="data.ranged.{{id}}.rof" value="{{ranged.rof}}" title="{{ranged.rof}}" style="text-align:left;" /></td>
                        <td><input type="text" name="data.ranged.{{id}}.shots" value="{{ranged.shots}}" title="{{ranged.shots}}" style="text-align:left;" /></td>
                        <td><input type="text" name="data.ranged.{{id}}.bulk" value="{{ranged.bulk}}" title="{{ranged.bulk}}" style="text-align:left;" /></td>
                        <td><input type="text" name="data.ranged.{{id}}.rcl" value="{{ranged.rcl}}" title="{{ranged.rcl}}" style="text-align:left;" /></td>
                        <td><input type="text" name="data.ranged.{{id}}.st" value="{{ranged.st}}"/></td>
                        <td><input type="text" name="data.ranged.{{id}}.malf" value="{{ranged.malf}}"/></td>
                        <td><a class="ranged-delete" id="ranged{{id}}" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>

        {{!-- Armour Tab --}}
        <div class="tab stats" data-tab="armour" data-group="primary">
            <div class="tab">
                <span>
                    <label>Body Type:</label>
                    <select name="data.armour.bodyType.name" class="bodyType">
                        {{#select data.armour.bodyType.name}}
                        <option value="">Make a Selection</option>
                        <option value="humanoid">Humanoid</option>
                        <option value="wingedHumanoid">Winged Humanoid</option>
                        <option value="quadruped">Quadruped</option>
                        <option value="wingedQuadruped">Winged Quadruped</option>
                        <option value="hexapod">Hexapod</option>
                        <option value="wingedHexapod">Winged Hexapod</option>
                        <option value="centaur">Centaur</option>
                        <option value="avian">Avian</option>
                        <option value="vermiform">Vermiform</option>
                        <option value="lamia">Lamia</option>
                        <option value="wingedLamia">Winged Lamia</option>
                        <option value="octopod">Octopod</option>
                        <option value="cancroid">Cancroid</option>
                        <option value="ichthyoid">Ichthyoid</option>
                        <option value="arachnoid">Arachnoid</option>
                        {{/select}}
                    </select>
                </span>
                {{#if (eq data.armour.bodyType.name "") }}
                    <br>Please only set body type if this equipment applies DR. Otherwise the formula that adds up armour will check this for DR values. With enough items on your sheet it will eventually degrade performance.
                {{else}}
                <span class="tooltip">
                    <label>Layer:</label>
                    <input type="number" style="width: unset;" name="data.armour.layer" value="{{data.armour.layer}}" data-dtype="Number" />
                    <span class="tooltiptext">
                        <div>
                            Higher layer numbers are placed above lower layer numbers.<br>
                            -∞ is closest to the body.<br>
                            +∞ is furthest from the body.<br>
                            You can enter any real number.<br>
                            Ties won't cause errors but should be avoided.<br>
                        </div>
					</span>
                </span>
                {{/if}}
                <table>
                    {{#unless (eq data.armour.bodyType.name "") }}
                        <tr class="hit-locations">
                            <td></td>
                            <td></td>
                            <td class="dr-damage-types">Burn</td>
                            <td class="dr-damage-types">Cor</td>
                            <td class="dr-damage-types">Cr</td>
                            <td class="dr-damage-types">Cut</td>
                            <td class="dr-damage-types">Fat</td>
                            <td class="dr-damage-types">Imp</td>
                            <td class="dr-damage-types">Pi</td>
                            <td class="dr-damage-types">Tox</td>
                            <td colspan="3" class="dr-damage-types"></td>
                        </tr>
                        <tr class="hit-locations">
                            <td class="dr-header"></td>
                            <td class="dr-header">Flex</td>
                            <td class="dr-header">DR/Hard</td>
                            <td class="dr-header">DR/Hard</td>
                            <td class="dr-header">DR/Hard</td>
                            <td class="dr-header">DR/Hard</td>
                            <td class="dr-header">DR/Hard</td>
                            <td class="dr-header">DR/Hard</td>
                            <td class="dr-header">DR/Hard</td>
                            <td class="dr-header">DR/Hard</td>
                        </tr>
                    {{/unless}}
                    {{#each data.armour.bodyType.body as |bodyPart partId|}}<!--Loop through the body parts-->
                    <tr class="hit-locations master-location">
                        <td colspan="10">{{bodyPart.label}}</td>
                    </tr>
                    {{#if bodyPart.subLocation}}<!--Check to see if there are sublocations and display them-->
                    {{#each bodyPart.subLocation as |subLocation locationId|}}<!--Loop through the sublocations-->
                    <tr class="hit-locations">
                        <td class="dr-row">{{subLocation.label}}</td>
                        <td class="dr-row">
                            <input type="checkbox" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.flexible" {{checked subLocation.flexible}} data-dtype="Boolean" style="width: 100%;"/>
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drBurn" value="{{subLocation.drBurn}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drHardeningBurn" value="{{subLocation.drHardeningBurn}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drCor" value="{{subLocation.drCor}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drHardeningCor" value="{{subLocation.drHardeningCor}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drCr" value="{{subLocation.drCr}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drHardeningCr"  value="{{subLocation.drHardeningCr}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drCut" value="{{subLocation.drCut}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drHardeningCut" value="{{subLocation.drHardeningCut}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drFat" value="{{subLocation.drFat}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drHardeningFat" value="{{subLocation.drHardeningFat}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drImp" value="{{subLocation.drImp}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drHardeningImp" value="{{subLocation.drHardeningImp}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drPi" value="{{subLocation.drPi}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drHardeningPi"  value="{{subLocation.drHardeningPi}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drTox" value="{{subLocation.drTox}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.subLocation.{{locationId}}.drHardeningTox" value="{{subLocation.drHardeningTox}}" data-dtype="Number" />
                        </td>
                    </tr>
                    {{/each}}
                    {{else}}<!--Display details for parts without sublocations (Pretty much only the skull and brian)-->
                    <tr class="hit-locations">
                        <td class="dr-row">{{bodyPart.label}}</td>
                        <td class="dr-row">
                            <input type="checkbox" name="data.armour.bodyType.body.{{partId}}.flexible" {{checked bodyPart.flexible}} data-dtype="Boolean" style="width: 100%;"/>
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drBurn" value="{{bodyPart.drBurn}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drHardeningBurn" value="{{bodyPart.drHardeningBurn}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drCor" value="{{bodyPart.drCor}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drHardeningCor" value="{{bodyPart.drHardeningCor}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drCr" value="{{bodyPart.drCr}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drHardeningCr"  value="{{bodyPart.drHardeningCr}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drCut" value="{{bodyPart.drCut}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drHardeningCut" value="{{bodyPart.drHardeningCut}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drFat" value="{{bodyPart.drFat}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drHardeningFat" value="{{bodyPart.drHardeningFat}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drImp" value="{{bodyPart.drImp}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drHardeningImp" value="{{bodyPart.drHardeningImp}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drPi" value="{{bodyPart.drPi}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drHardeningPi"  value="{{bodyPart.drHardeningPi}}" data-dtype="Number" />
                        </td>
                        <td class="dr-row">
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drTox" value="{{bodyPart.drTox}}" data-dtype="Number" />
                            <input type="number" name="data.armour.bodyType.body.{{partId}}.drHardeningTox" value="{{bodyPart.drHardeningTox}}" data-dtype="Number" />
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </table>
            </div>
        </div>
    </section>
</form>
