<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <table class="rollable-name">
                <tr>
                    <td style="width: 64px">
                        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" style="margin-right: unset"/>
                    </td>
                    <td>
                        <input name="name" type="text" value="{{item.name}}" placeholder="Name" style="height: 64px; font-size: xx-large; font-weight: 400"/>
                    </td>
                </tr>
            </table>
            <table class="">
                <tr>
                    <td>
                        <label class="resource-label">Category</label>
                    </td>
                    <td>
                        <select name="system.category">
                            {{#select item.system.category}}
                            <option value="skill">Skill</option>
                            <option value="technique">Technique</option>
                            {{/select}}
                        </select>
                    </td>
                </tr>
                {{#if (eq item.system.category "skill") }}
                    <tr>
                        <td>
                            <label class="resource-label">Skill Difficulty</label>
                        </td>
                        <td>
                            <select name="system.difficulty">
                                {{#select item.system.difficulty}}
                                <option value="E">Easy</option>
                                <option value="A">Average</option>
                                <option value="H">Hard</option>
                                <option value="VH">Very Hard</option>
                                <option value="W">Wildcard</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td>
                            <label class="resource-label">Technique Difficulty</label>
                        </td>
                        <td>
                            <select name="system.difficulty">
                                {{#select item.system.difficulty}}
                                <option value="A">Average</option>
                                <option value="H">Hard</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                {{/if}}

                {{#if (eq item.system.category "skill") }}
                    <tr>
                        <td>
                            <label class="resource-label">Base Attribute</label>
                        </td>
                        <td>
                            <select name="system.baseAttr">
                                {{#select item.system.baseAttr}}
                                <option value="ST">ST</option>
                                <option value="DX">DX</option>
                                <option value="IQ">IQ</option>
                                <option value="HT">HT</option>
                                <option value="Per">Per</option>
                                <option value="Will">Will</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td>
                            <label class="resource-label">Is this technique half price?</label>
                        </td>
                        <td style="display: flex">
                            <input type="checkbox" name="system.halfPriceTechnique" {{checked item.system.halfPriceTechnique}} data-dtype="Boolean"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resource-label">Is this technique based on an active defence</label>
                        </td>
                        <td>
                            <select name="system.defenceTechnique">
                                {{#select item.system.defenceTechnique}}
                                <option value="">No</option>
                                <option value="block">Block</option>
                                <option value="parry">Parry</option>
                                <option value="dodge">Dodge</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    {{#if (or (eq item.system.defenceTechnique "block") (eq item.system.defenceTechnique "parry"))}}
                        <tr>
                            <td>
                                {{#if (eq item.system.defenceTechnique "parry")}}
                                <label class="resource-label">The Parry's underlying modifier, like the +2 for a staff</label>
                                {{else}}
                                <label class="resource-label">The Block's underlying modifier, like the +3 for a large shield</label>
                                {{/if}}
                            </td>
                            <td>
                                <input type="text" name="system.defenceTechniqueMod" value="{{item.system.defenceTechniqueMod}}" data-dtype="Number"/>
                            </td>
                        </tr>
                    {{/if}}
                    <tr>
                        <td>
                            <label id="baseSkillLabel" class="resource-label">Base Skill</label>
                        </td>
                        {{#unless (eq item.system.defenceTechnique "dodge")}}
                        <td style="display: flex">
                            <input id="baseSkillText" type="text" name="system.baseSkill" value="{{item.system.baseSkill}}" data-dtype="String" style="flex:3;"/>
                            <label id="baseSkillLevel" style="flex: 1; text-align: center; line-height: 18px; font-weight: bold;">{{item.system.baseSkillLevel}}</label>
                        </td>
                        {{else}}
                        <td style="display: flex">
                            <label style="flex: 1; text-align: right; line-height: 18px; padding-right: 0.5em; text-decoration: underline">Dodge: </label>
                            <label id="baseSkillLevel" style="flex: 1; text-align: left; line-height: 18px; font-weight: bold;">{{item.system.baseSkillLevel}}</label>
                        </td>
                        {{/unless}}
                    </tr>
                    <tr>
                        <td>
                            <label class="resource-label">Base Penalty</label>
                        </td>
                        <td>
                            <input type="text" name="system.minLevel" value="{{item.system.minLevel}}" data-dtype="Number"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resource-label">Max Bonus</label>
                        </td>
                        <td>
                            <input type="text" name="system.maxLevel" value="{{item.system.maxLevel}}" data-dtype="Number"/>
                        </td>
                    </tr>
                {{/if}}

                <tr>
                    <td>
                        <label class="resource-label">Modifier</label>
                    </td>
                    <td>
                        <input type="text" name="system.mod" value="{{item.system.mod}}" data-dtype="Number"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="resource-label">Level</label>
                    </td>
                    <td>
                        <label style="text-align: center; line-height: 18px; font-weight: bold; display: block;">{{item.system.level}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="resource-label">Points</label>
                    </td>
                    <td>
                        <input type="text" name="system.points" value="{{item.system.points}}" data-dtype="Number"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="resource-label">Race / Meta Trait / Etc:</label>
                    </td>
                    <td>
                        <input type="text" name="system.subCategory" value="{{item.system.subCategory}}" placeholder="Leave this blank if you don't want it categorized"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="resource-label">Notes</label>
                    </td>
                    <td>
                        <input type="text" name="system.shortNotes" value="{{item.system.shortNotes}}"/>
                    </td>
                </tr>
            </table>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav id="tabselect" class="sheet-tabs tabs" data-group="primary">
        <div class="header">
            <a class="item" data-tab="notes">Notes</a>
        </div>

        {{#if (eq item.system.category "skill") }}
            <div class="header">
                <a class="item" data-tab="defaults">Defaults</a>
            </div>
            <div class="header">
                <a class="item" data-tab="dabbler">Dabbler</a>
            </div>
        {{/if}}

        <div class="header">
            <a class="item" data-tab="training">Training Time</a>
        </div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Note Tab --}}
        <div class="tab stats" data-tab="notes" data-group="primary">
            <h3 class="bold">Detailed Notes</h3>
            <div class="tab">
                <textarea style="height: 100%; resize: none" name="system.notes">{{{item.system.notes}}}</textarea>
            </div>
        </div>

        {{!-- Training Time Tab --}}
        <div class="tab stats" data-tab="training" data-group="primary">
            <h3 class="bold">Hours of Training</h3>
            <div class="tab">
                <table>
                    <tr class="equipment-entry">
                        <td>Talent Modifier:</td>
                        <td><input type="number" name="system.trainingTime.modifier" value="{{item.system.trainingTime.modifier}}" data-dtype="Number"/></td>
                    </tr>
                    <tr class="equipment-entry">
                        <td>Hours Per Point:</td>
                        <td>{{item.system.trainingTime.neededHours}}</td>
                    </tr>
                </table>
                <table>
                    <tr class="equipment-header">
                        <td>Training Type</td>
                        <td>Hours</td>
                        <td>Effective Hours</td>
                    </tr>
                    <tr class="equipment-entry">
                        <td>On The Job</td>
                        <td><input type="number" name="system.trainingTime.onTheJob" value="{{item.system.trainingTime.onTheJob}}" data-dtype="Number"/></td>
                        <td>{{divide item.system.trainingTime.onTheJob 100 4}}</td>
                    </tr>
                    <tr class="equipment-entry">
                        <td>Self Study</td>
                        <td><input type="number" name="system.trainingTime.selfStudy" value="{{item.system.trainingTime.selfStudy}}" data-dtype="Number"/></td>
                        <td>{{divide item.system.trainingTime.selfStudy 100 2}}</td>
                    </tr>
                    <tr class="equipment-entry">
                        <td>Education</td>
                        <td><input type="number" name="system.trainingTime.education" value="{{item.system.trainingTime.education}}" data-dtype="Number"/></td>
                        <td>{{divide item.system.trainingTime.education 100 1}}</td>
                    </tr>
                    <tr class="equipment-entry">
                        <td>Intensive Training</td>
                        <td><input type="number" name="system.trainingTime.intensiveTraining" value="{{item.system.trainingTime.intensiveTraining}}" data-dtype="Number"/></td>
                        <td>{{divide item.system.trainingTime.intensiveTraining 100 0.5}}</td>
                    </tr>
                    <tr class="equipment-header">
                        <td>Total Hours</td>
                        <td></td>
                        <td>{{item.system.trainingTime.effectiveHours}}</td>
                    </tr>
                </table>
                {{#ifCond item.system.trainingTime.totalPoints '>=' 1}}
                <table>
                    <tr class="equipment-header" style="font-size: x-large;">
                        <td>Final Result:</td>
                        <td>
                            +{{item.system.trainingTime.totalPoints}} Points
                        </td>
                    </tr>
                </table>
                {{/ifCond}}
                {{#ifCond item.system.trainingTime.dabblerPoints '>=' 1}}
                <table>
                    <tr class="equipment-header" style="font-size: x-large;">
                        <td>Final Result:</td>
                        <td>
                            +{{item.system.trainingTime.dabblerPoints}} Dabbler Points
                        </td>
                    </tr>
                </table>
                {{/ifCond}}
                {{#ifCond item.system.trainingTime.totalPoints '==' 0}}
                {{#ifCond item.system.trainingTime.dabblerPoints '==' 0}}
                <table>
                    <tr class="equipment-header" style="font-size: x-large;">
                        <td>Final Result:</td>
                        <td>
                            0 Points
                        </td>
                    </tr>
                </table>
                {{/ifCond}}
                {{/ifCond}}
            </div>
        </div>

        {{!-- Defaults Tab --}}
        <div class="tab stats" data-tab="defaults" data-group="primary">
            <h3 class="addDefaultRow" style="text-align: right;">Add Default</h3>
            <div class="tab">
                <table>
                    <tr class="equipment-header">
                        <td>Name</td>
                        <td>Modifier</td>
                        <td></td>
                    </tr>
                    {{#each item.system.defaults as |defaults id|}}
                    <tr class="equipment-entry">
                        <td><input type="text" name="system.defaults.{{id}}.skill" value="{{skill}}" title="{{skill}}" style="text-align:left;" /></td>
                        <td><input type="text" name="system.defaults.{{id}}.mod" value="{{mod}}" title="{{mod}}" style="text-align:left;" /></td>
                        <td><a class="default-delete" id="default{{id}}" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>

        {{!-- Dabbler Tab --}}
        <div class="tab stats" data-tab="dabbler" data-group="primary">
            <div class="flexrow">
                <label class="resource-label">Dabbler Points</label>
                <select name="system.dabblerPoints">
                    {{#select item.system.dabblerPoints}}
                    <option value="0">0: Default +0</option>
                    <option value="1">1: Default +1</option>
                    <option value="2">2: Default +2</option>
                    <option value="3">4: Default +3</option>
                    {{/select}}
                </select>
            </div>
            <hr>
            <div>
                <label>You may have 0, 1, 2, or 4 dabbler points in a skill. See Power Ups 2 - Perks, page 16 for an explanation of what the hell this is.</label>
            </div>
        </div>

    </section>
</form>
