<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="">
                <div class="flexrow">
                    <label class="resource-label">Category</label>
                    <select name="data.category">
                        {{#select data.category}}
                        <option value="skill">Skill</option>
                        <option value="technique">Technique</option>
                        {{/select}}
                    </select>
                </div>

                {{#if (or (eq data.category "skill")) }}
                <div class="flexrow">
                    <label class="resource-label">Difficulty</label>
                    <select name="data.difficulty">
                        {{#select data.difficulty}}
                        <option value="E">Easy</option>
                        <option value="A">Average</option>
                        <option value="H">Hard</option>
                        <option value="VH">Very Hard</option>
                        <option value="W">Wildcard</option>
                        {{/select}}
                    </select>
                </div>
                {{else}}
                <div class="flexrow">
                    <label class="resource-label">Difficulty</label>
                    <select name="data.difficulty">
                        {{#select data.difficulty}}
                        <option value="A">Average</option>
                        <option value="H">Hard</option>
                        {{/select}}
                    </select>
                </div>
                {{/if}}

                {{#if (or (eq data.category "skill")) }}
                <div class="flexrow">
                    <label class="resource-label">Base Attribute</label>
                    <select name="data.baseAttr">
                        {{#select data.baseAttr}}
                        <option value="ST">ST</option>
                        <option value="DX">DX</option>
                        <option value="IQ">IQ</option>
                        <option value="HT">HT</option>
                        <option value="Per">Per</option>
                        <option value="Will">Will</option>
                        {{/select}}
                    </select>
                </div>
                {{else}}
                <div class="flexrow baseSkillRow" id="baseSkillRow">
                    <label id="baseSkillLabel" class="resource-label">Base Skill</label>
                    <input id="baseSkillText" type="text" name="data.baseSkill" value="{{data.baseSkill}}" data-dtype="String"/>
                    <label id="baseSkillLevel" style="margin: auto">{{data.baseSkillLevel}}</label>
                </div>
                <div class="flexrow">
                    <label class="resource-label">Base Penalty</label>
                    <input type="text" name="data.minLevel" value="{{data.minLevel}}" data-dtype="Number"/>
                </div>
                <div class="flexrow">
                    <label class="resource-label">Max Bonus</label>
                    <input type="text" name="data.maxLevel" value="{{data.maxLevel}}" data-dtype="Number"/>
                </div>
                {{/if}}

                <div class="flexrow">
                    <label class="resource-label">Modifier</label>
                    <input type="text" name="data.mod" value="{{data.mod}}" data-dtype="Number"/>
                </div>
                <div class="flexrow">
                    <label class="resource-label">Level</label>
                    {{data.level}}
                </div>
                <div class="flexrow">
                    <label class="resource-label">Points</label>
                    <input type="text" name="data.points" value="{{data.points}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <hr>
        <h3>Notes</h3>
        <div class="tab">
            <textarea rows="8" name="data.notes">{{{data.notes}}}</textarea>
        </div>
    </section>
</form>
