<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <table class="rollable-name">
                <tr>
                    <td style="width: 64px">
                        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" style="margin-right: unset"/>
                    </td>
                    <td>
                        <input name="name" type="text" value="{{item.name}}" placeholder="Name" style="height: 64px; font-size: xx-large; font-weight: 400"/>
                    </td>
                </tr>
            </table>
            <div class="">
                <div class="flexrow">
                    <label class="resource-label">Category</label>
                    <select name="system.category">
                        {{#select item.system.category}}
                        <option value="skill">Skill</option>
                        <option value="technique">Technique</option>
                        {{/select}}
                    </select>
                </div>
                {{#if (eq item.system.category "skill") }}
                    <div class="flexrow">
                        <label class="resource-label">Skill Difficulty</label>
                        <select name="system.difficulty">
                            {{#select item.system.difficulty}}
                            <option value="E">Easy</option>
                            <option value="A">Average</option>
                            <option value="H">Hard</option>
                            <option value="VH">Very Hard</option>
                            <option value="W">Wildcard</option>
                            {{/select}}
                        </select>
                    </div>
                {{else}}
                    <div class="flexrow">
                        <label class="resource-label">Technique Difficulty</label>
                        <select name="system.difficulty">
                            {{#select item.system.difficulty}}
                            <option value="A">Average</option>
                            <option value="H">Hard</option>
                            {{/select}}
                        </select>
                    </div>
                {{/if}}

                {{#if (eq item.system.category "skill") }}
                    <div class="flexrow">
                        <label class="resource-label">Base Attribute</label>
                        <select name="system.baseAttr">
                            {{#select item.system.baseAttr}}
                            <option value="ST">ST</option>
                            <option value="DX">DX</option>
                            <option value="IQ">IQ</option>
                            <option value="HT">HT</option>
                            <option value="Per">Per</option>
                            <option value="Will">Will</option>
                            {{/select}}
                        </select>
                    </div>
                {{else}}
                    <div class="flexrow baseSkillRow" id="baseSkillRow">
                        <label id="baseSkillLabel" class="resource-label">Base Skill</label>
                        <input id="baseSkillText" type="text" name="system.baseSkill" value="{{item.system.baseSkill}}" data-dtype="String"/>
                        <label id="baseSkillLevel" style="margin: auto">{{item.system.baseSkillLevel}}</label>
                    </div>
                    <div class="flexrow">
                        <label class="resource-label">Base Penalty</label>
                        <input type="text" name="system.minLevel" value="{{item.system.minLevel}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow">
                        <label class="resource-label">Max Bonus</label>
                        <input type="text" name="system.maxLevel" value="{{item.system.maxLevel}}" data-dtype="Number"/>
                    </div>
                {{/if}}

                <div class="flexrow">
                    <label class="resource-label">Modifier</label>
                    <input type="text" name="system.mod" value="{{item.system.mod}}" data-dtype="Number"/>
                </div>
                <div class="flexrow">
                    <label class="resource-label">Level</label>
                    {{item.system.level}}
                </div>
                <div class="flexrow">
                    <label class="resource-label">Points</label>
                    <input type="text" name="system.points" value="{{item.system.points}}" data-dtype="Number"/>
                </div>
                <div id="subCategory" class="flexrow">
                    <label class="resource-label">Race / Meta Trait / Etc:</label>
                    <input type="text" name="system.subCategory" value="{{item.system.subCategory}}" placeholder="Leave this blank if you don't want it categorized"/>
                </div>
                <div class="flexrow">
                    <label class="resource-label">Notes</label>
                    <input type="text" name="system.shortNotes" value="{{item.system.shortNotes}}"/>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav id="tabselect" class="sheet-tabs tabs" data-group="primary">
        <div class="header">
            <a class="item" data-tab="notes">Notes</a>
        </div>

        {{#if (eq item.system.category "skill") }}
            <div class="header">
                <a class="item" data-tab="defaults">Defaults</a>
            </div>
            <div class="header">
                <a class="item" data-tab="dabbler">Dabbler</a>
            </div>
        {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Note Tab --}}
        <div class="tab stats" data-tab="notes" data-group="primary">
            <h3 class="bold">Detailed Notes</h3>
            <div class="tab">
                <textarea rows="8" name="system.notes">{{{item.system.notes}}}</textarea>
            </div>
        </div>

        {{!-- Defaults Tab --}}
        <div class="tab stats" data-tab="defaults" data-group="primary">
            <h3 class="addDefaultRow" style="text-align: right;">Add Default</h3>
            <div class="tab">
                <table>
                    <tr class="equipment-header">
                        <td>Name</td>
                        <td>Modifier</td>
                        <td></td>
                    </tr>
                    {{#each item.system.defaults as |defaults id|}}
                    <tr class="equipment-entry">
                        <td><input type="text" name="system.defaults.{{id}}.skill" value="{{skill}}" title="{{skill}}" style="text-align:left;" /></td>
                        <td><input type="text" name="system.defaults.{{id}}.mod" value="{{mod}}" title="{{mod}}" style="text-align:left;" /></td>
                        <td><a class="default-delete" id="default{{id}}" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>

        {{!-- Dabbler Tab --}}
        <div class="tab stats" data-tab="dabbler" data-group="primary">
            <div class="flexrow">
                <label class="resource-label">Dabbler Points</label>
                <select name="system.dabblerPoints">
                    {{#select item.system.dabblerPoints}}
                    <option value="0">0: Default +0</option>
                    <option value="1">1: Default +1</option>
                    <option value="2">2: Default +2</option>
                    <option value="3">4: Default +3</option>
                    {{/select}}
                </select>
            </div>
            <hr>
            <div>
                <label>You may have 0, 1, 2, or 4 dabbler points in a skill. See Power Ups 2 - Perks, page 16 for an explanation of what the hell this is.</label>
            </div>
        </div>

    </section>
</form>
