<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <table class="rollable-name">
                <tr>
                    <td style="width: 64px">
                        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" style="margin-right: unset"/>
                    </td>
                    <td>
                        <input name="name" type="text" value="{{item.name}}" placeholder="Name" style="height: 64px; font-size: xx-large; font-weight: 400"/>
                    </td>
                </tr>
            </table>
            <table class="">
                <tr>
                    <td class="tooltip">
                        Spell Class
                        <span class="tooltiptext" style="margin-left: -100px; bottom: 75%">
                            <span style="font-weight: bold;">Blocking</span> - Blocking spells that are used against or on other targets, such as Fumble, or Blocking spells that modify the attack or your defence, such as Bladeturning, Block, or Boost Attribute, should be entered as Regular spells.  <br>
                        </span>
                    </td>
                    <td>
                        <select name="system.spellClass">
                            {{#select item.system.spellClass}}
                            <option value="Regular">Regular</option>
                            <option value="Missile">Missile</option>
                            <option value="Melee">Melee</option>
                            <option value="Area">Area</option>
                            <option value="Blocking">Blocking</option>
                            <option value="Information">Information</option>
                            {{/select}}
                        </select>
                    </td>
                </tr>
                {{#if (eq item.system.spellClass "Blocking") }}
                <tr>
                    <td class="tooltip">
                        Defence Type
                        <span class="tooltiptext" style="margin-left: -100px">
                            Blocking spells that count as another type of active defence are typically subject to Deceptive Attacks, Ripostes, Runaround Attacks, Etc.<br><br>
                            Magical defences like Phase and Blink are not.
                        </span>
                    </td>
                    <td>
                        <select name="system.defenceType">
                            {{#select item.system.defenceType}}
                            <option value="Magic">Magic</option>
                            <option value="Parry">Parry</option>
                            <option value="Block">Block</option>
                            <option value="Dodge">Dodge</option>
                            {{/select}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tooltip">
                        Attacks Stopped
                        <span class="tooltiptext" style="margin-left: -100px">
                            <span style="font-weight: bold;">All</span> - A success stops all incoming projectiles. (Such as Phase, Blink, etc)<br>
                            <span style="font-weight: bold;">Single</span> - A success stops exactly one incoming attack. (Such as Return Missile)<br>
                            <span style="font-weight: bold;">Regular</span> - A sucess stops a number of attacks equal to the margin of success plus one, as usual. (Like a normal non-magical Dodge)<br>
                        </span>
                    </td>
                    <td>
                        <select name="system.defenceQty">
                            {{#select item.system.defenceQty}}
                            <option value="All">All</option>
                            <option value="Single">Single</option>
                            <option value="Regular">Regular</option>
                            {{/select}}
                        </select>
                    </td>
                </tr>
                {{/if}}
                <tr>
                    <td>Difficulty</td>
                    <td>
                        <select name="system.difficulty">
                            {{#select item.system.difficulty}}
                            <option value="A">Average</option>
                            <option value="H">Hard</option>
                            <option value="VH">Very Hard</option>
                            <option value="W">Wildcard</option>
                            {{/select}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tooltip">
                        Magical Ability
                        <span class="tooltiptext" style="margin-left: -100px">
                            Your base magical ability. IQ plus Magery, IQ plus Clerical Investment, whatever the value is for your specific form of magic.
                        </span>
                    </td>
                    <td>{{item.system.magicalAbility}}</td>
                </tr>
                <tr>
                    <td class="tooltip">
                        Modifier
                        <span class="tooltiptext" style="margin-left: -100px">
                            A spell specific modifier. This is not your Magery or Clerical Investment.
                        </span>
                    </td>
                    <td><input type="text" name="system.mod" value="{{item.system.mod}}" data-dtype="Number"/></td>
                </tr>
                <tr>
                    <td>Level</td>
                    <td>{{item.system.level}}</td>
                </tr>
                <tr>
                    <td>Points</td>
                    <td><input type="text" name="system.points" value="{{item.system.points}}" data-dtype="Number"/></td>
                </tr>
                <tr id="subCategory">
                    <td>Category</td>
                    <td><input type="text" name="system.subCategory" value="{{item.system.subCategory}}" placeholder="Leave this blank if you don't want it categorized"/></td>
                </tr>
                <tr id="college">
                    <td>College</td>
                    <td><input type="text" name="system.college" value="{{item.system.college}}" placeholder="This costs ten times as much for characters in the USA"/></td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td><input type="text" name="system.shortNotes" value="{{item.system.shortNotes}}"/></td>
                </tr>
            </table>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav id="tabselect" class="sheet-tabs tabs" data-group="primary">
        <div class="header">
            <a class="item" data-tab="notes">Notes</a>
        </div>
        {{#if  (eq item.system.spellClass "Melee") }}
        <div class="header">
            <a class="item" data-tab="melee">Melee</a>
        </div>
        {{/if}}
        {{#if  (or (eq item.system.spellClass "Missile") (eq item.system.spellClass "Area")) }}
        <div class="header">
            <a class="item" data-tab="ranged">Ranged</a>
        </div>
        {{/if}}
        {{#unless  (or (eq item.system.spellClass "Blocking") (eq item.system.spellClass "Information")) }}
        <div class="header">
            <a class="item" data-tab="affliction">Affliction</a>
        </div>
        {{/unless}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Note Tab --}}
        <div class="tab stats" data-tab="notes" data-group="primary">
            <h3 class="bold">Detailed Notes</h3>
            <div class="tab">
                <textarea rows="8" name="system.notes">{{{item.system.notes}}}</textarea>
            </div>
        </div>

        {{!-- Melee Tab --}}
        <div class="tab stats" data-tab="melee" data-group="primary">
            <h3 class="addRow" style="text-align: right;">Add Row</h3>
            <div class="tab">
                <table>
                    <tr class="equipment-header">
                        <td class="resource-label melee-id">ID</td>
                        <td class="resource-label">Name</td>
                        <td class="resource-label">Level</td>
                        <td class="resource-label">Skill Name / Mod</td>
                        <td class="resource-label">Parry - Type</td>
                        <td class="resource-label">Block</td>
                        <td class="resource-label">Damage</td>
                        <td class="resource-label">Type</td>
                        <td class="resource-label">AD</td>
                        <td class="resource-label">Reach</td>
                        <td class="resource-label">ST</td>
                        <td class="resource-label">Flags</td>
                        <td class="resource-label"></td>
                    </tr>
                    {{#each item.system.melee as |melee id|}}
                    <tr class="equipment-entry">
                        <td class="resource-label melee-id">{{id}}</td>
                        <td><input type="text" name="system.melee.{{id}}.name" value="{{name}}" title="{{name}}" style="text-align:left;" /></td>
                        <td class="resource-label">{{melee.level}}</td>
                        <td class="equipmentInputInput">
                            <input type="text" name="system.melee.{{id}}.skill" value="{{melee.skill}}" title="{{melee.skill}}" style="text-align:left;" />/
                            <input type="text" name="system.melee.{{id}}.skillMod" value="{{melee.skillMod}}" data-dtype="Number" class="melee-skillMod"/>
                        </td>
                        <td>
                            <input type="text" name="system.melee.{{id}}.parryMod" value="{{melee.parryMod}}" style="width: 50%"/>
                            <input type="text" name="system.melee.{{id}}.parryType" value="{{melee.parryType}}" class="melee-parryType"/>
                        </td>
                        <td class="melee-block">
                            <input type="text" name="system.melee.{{id}}.blockMod" value="{{melee.blockMod}}"/>
                        </td>
                        <td><input type="text" name="system.melee.{{id}}.damageInput" value="{{melee.damageInput}}" title="{{melee.damageInput}}" style="text-align:left;" /></td>
                        <td>
                        <span class="tooltip">
                            <input type="text" name="system.melee.{{id}}.damageType" value="{{melee.damageType}}" title="{{melee.damageType}}" style="text-align:left;" />
                            <span class="tooltiptext" style="margin-left: -100px">
                                <div>
                                    <span style="text-decoration: underline">Valid entries are:</span><br>
                                    burn: Burning<br>
                                    cor: Corrosion<br>
                                    cr: Crushing<br>
                                    cut: Cutting<br>
                                    fat: Fatigue<br>
                                    imp: Impaling<br>
                                    pi-: Small Piercing<br>
                                    pi: Piercing<br>
                                    pi+: Large Piercing<br>
                                    pi++: Huge Piercing<br>
                                    tox: Toxic<br>
                                    tbb: Tight Beam Burning<br>
                                    dam: Untyped<br>
                                    <span style="text-decoration: underline">Valid modifiers are:</span><br>
                                    ex: Explosive<br>
                                    dbk: Double Knockback<br>
                                    dbt: Double Blunt Trauma<br>
                                    nw: No Wounding<br>
                                </div>
                            </span>
                        </span>
                        </td>
                        <td class="melee-ad">
                        <span class="tooltip">
                            <input type="text" name="system.melee.{{id}}.armourDivisor" value="{{melee.armourDivisor}}" title="{{melee.armourDivisor}}" style="text-align:left;" />
                            <span class="tooltiptext" style="margin-left: -100px">
                                <div>
                                    Default is 1<br>
                                    0 makes effective armour infinite<br>
                                    Using the words 'ignore' or 'cosmic' allows the attack to ignore armour<br>
                                    Setting this to 'I' will also ignore armour
                                </div>
                            </span>
                        </span>
                        </td>
                        <td class="melee-reach"><input type="text" name="system.melee.{{id}}.reach" value="{{melee.reach}}" title="{{melee.reach}}" style="text-align:left;" /></td>
                        <td class="melee-st"><input type="text" name="system.melee.{{id}}.st" value="{{melee.st}}"/></td>
                        <td>
                            <span class="tooltip">
                                <input type="text" name="system.melee.{{id}}.flags" value="{{melee.flags}}" title="{{melee.flags}}" style="text-align:left;" />
                                <span class="tooltiptext" style="margin-left: -100px">
                                    <div>
                                        <span style="text-decoration: underline">Valid entries are:</span><br>
                                        una: Unarmed (Vulnerable to damage following a failed parry)<br>
                                        gui: Guided<br>
                                        hom: Homing<br>
                                    </div>
                                </span>
                            </span>
                        </td>
                        <td><a class="attack-delete" id="meleee{{id}}" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>

        {{!-- Ranged Tab --}}
        <div class="tab stats" data-tab="ranged" data-group="primary">
            <h3 class="addRangedRow" style="text-align: right;">Add Row</h3>
            <div class="tab">
                <table>
                    <tr class="equipment-header">
                        <td class="resource-label melee-id">ID</td>
                        <td class="resource-label">Name</td>
                        <td class="resource-label">Level</td>
                        <td class="resource-label">Skill Name / Mod</td>
                        <td class="resource-label">Acc</td>
                        <td class="resource-label">Damage</td>
                        <td class="resource-label">Type</td>
                        <td class="resource-label">Divisor</td>
                        <td class="resource-label">Range</td>
                        <td class="resource-label">Rof</td>
                        <td class="resource-label">Shots</td>
                        <td class="resource-label">Bulk</td>
                        <td class="resource-label">Rcl</td>
                        <td class="resource-label melee-st">ST</td>
                        <td class="resource-label">Malf</td>
                        <td class="resource-label">Flags</td>
                        <td class="resource-label"></td>
                    </tr>
                    {{#each item.system.ranged as |ranged id|}}
                    <tr class="equipment-entry">
                        <td class="resource-label melee-id">{{id}}</td>
                        <td><input type="text" name="system.ranged.{{id}}.name" value="{{name}}" title="{{name}}" style="text-align:left;" /></td>
                        <td class="resource-label">{{ranged.level}}</td>
                        <td class="equipmentInputInput">
                            <input type="text" name="system.ranged.{{id}}.skill" value="{{ranged.skill}}" title="{{ranged.skill}}" style="text-align:left;" />/
                            <input type="text" name="system.ranged.{{id}}.skillMod" value="{{ranged.skillMod}}" data-dtype="Number" class="melee-skillMod"/>
                        </td>
                        <td><input type="text" name="system.ranged.{{id}}.acc" value="{{ranged.acc}}" data-dtype="Number"/></td>
                        <td><input type="text" name="system.ranged.{{id}}.damageInput" value="{{ranged.damageInput}}" title="{{ranged.damageInput}}" style="text-align:left;" /></td>
                        <td>
                            <span class="tooltip">
                                <input type="text" name="system.ranged.{{id}}.damageType" value="{{ranged.damageType}}" title="{{ranged.damageType}}" style="text-align:left;" />
                                <span class="tooltiptext" style="margin-left: -100px">
                                    <div>
                                        <span style="text-decoration: underline">Valid entries are:</span><br>
                                        burn: Burning<br>
                                        cor: Corrosion<br>
                                        cr: Crushing<br>
                                        cut: Cutting<br>
                                        fat: Fatigue<br>
                                        imp: Impaling<br>
                                        pi-: Small Piercing<br>
                                        pi: Piercing<br>
                                        pi+: Large Piercing<br>
                                        pi++: Huge Piercing<br>
                                        tox: Toxic<br>
                                        tbb: Tight Beam Burning<br>
                                        dam: Untyped<br>
                                        <span style="text-decoration: underline">Valid modifiers are:</span><br>
                                        ex: Explosive<br>
                                        dbk: Double Knockback<br>
                                        dbt: Double Blunt Trauma<br>
                                        nw: No Wounding<br>
                                    </div>
                                </span>
                            </span>
                        </td>
                        <td class="melee-ad">
                            <span class="tooltip">
                                <input type="text" name="system.ranged.{{id}}.armourDivisor" value="{{ranged.armourDivisor}}" title="{{ranged.armourDivisor}}" style="text-align:left;" />
                                <span class="tooltiptext" style="margin-left: -100px">
                                    <div>
                                        Default is 1<br>
                                        0 makes effective armour infinite<br>
                                        Using the words 'ignore' or 'cosmic' allows the attack to ignore armour<br>
                                        Setting this to 'I' will also ignore armour
                                    </div>
                                </span>
                            </span>
                        </td>
                        <td><input type="text" name="system.ranged.{{id}}.range" value="{{ranged.range}}" title="{{ranged.range}}" style="text-align:left;" /></td>
                        <td><input type="text" name="system.ranged.{{id}}.rof" value="{{ranged.rof}}" title="{{ranged.rof}}" style="text-align:left;" /></td>
                        <td><input type="text" name="system.ranged.{{id}}.shots" value="{{ranged.shots}}" title="{{ranged.shots}}" style="text-align:left;" /></td>
                        <td><input type="text" name="system.ranged.{{id}}.bulk" value="{{ranged.bulk}}" title="{{ranged.bulk}}" style="text-align:left;" /></td>
                        <td><input type="text" name="system.ranged.{{id}}.rcl" value="{{ranged.rcl}}" title="{{ranged.rcl}}" style="text-align:left;" /></td>
                        <td class="melee-st"><input type="text" name="system.ranged.{{id}}.st" value="{{ranged.st}}"/></td>
                        <td><input type="text" name="system.ranged.{{id}}.malf" value="{{ranged.malf}}"/></td>
                        <td>
                            <span class="tooltip">
                                <input type="text" name="system.ranged.{{id}}.flags" value="{{ranged.flags}}" title="{{ranged.flags}}" style="text-align:left;" />
                                <span class="tooltiptext" style="margin-left: -100px">
                                    <div>
                                        <span style="text-decoration: underline">Valid entries are:</span><br>
                                        una: Unarmed (Vulnerable to damage following a failed parry)<br>
                                        gui: Guided<br>
                                        hom: Homing<br>
                                    </div>
                                </span>
                            </span>
                        </td>
                        <td><a class="ranged-delete" id="ranged{{id}}" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>

        {{!-- Affliction Tab --}}
        <div class="tab stats" data-tab="affliction" data-group="primary">
            <h3 class="addAfflictionRow" style="text-align: right;">Add Row</h3>
            <div class="tab">
                <table>
                    <tr class="equipment-header">
                        <td class="resource-label">Name</td>
                        <td class="resource-label">Level</td>
                        <td class="resource-label">Skill Name / Mod</td>
                        <td class="resource-label">Damage</td>
                        <td class="resource-label">Type</td>
                        <td class="resource-label">Divisor</td>
                        <td class="resource-label">Effect Description</td>
                        <td class="resource-label">Range Penalties</td>
                        <td class="resource-label" style="width: 240px">
                            <span class="tooltip">
                                Resist With
                                <span class="tooltiptext" style="margin-left: -100px;">For both Quick Contests and Resistance Rolls.<br>
                                    Penalty applies to the target's roll in either case.</span>
                            </span>
                        </td>
                        <td class="resource-label">
                            <span class="tooltip">
                                Rule Of
                                <span class="tooltiptext" style="margin-left: -100px;">This should be 13 for Fright and 16 for everything else except in special cases.</span>
                            </span>
                        </td>
                        <td class="resource-label">Flags</td>
                        <td class="resource-label"></td>
                    </tr>
                    {{#each item.system.affliction as |affliction id|}}
                    <tr class="equipment-entry">
                        <td><input type="text" name="system.affliction.{{id}}.name" value="{{name}}" title="{{name}}" style="text-align:left;" /></td>
                        <td class="resource-label">{{affliction.level}}</td>
                        <td class="equipmentInputInput">
                            <input type="text" name="system.affliction.{{id}}.skill" value="{{affliction.skill}}" title="{{affliction.skill}}" style="text-align:left;" />/
                            <input type="text" name="system.affliction.{{id}}.skillMod" value="{{affliction.skillMod}}" data-dtype="Number"/>
                        </td>
                        <td><input type="text" name="system.affliction.{{id}}.damageInput" value="{{affliction.damageInput}}" title="{{affliction.damageInput}}" style="text-align:left; width: 40px;" /></td>
                        <td>
                            <span class="tooltip">
                                <input type="text" name="system.affliction.{{id}}.damageType" value="{{affliction.damageType}}" title="{{affliction.damageType}}" style="text-align:left; width: 40px;" />
                                <span class="tooltiptext" style="margin-left: -100px">
                                    <div>
                                        <span style="text-decoration: underline">Valid entries are:</span><br>
                                        burn: Burning<br>
                                        cor: Corrosion<br>
                                        cr: Crushing<br>
                                        cut: Cutting<br>
                                        fat: Fatigue<br>
                                        imp: Impaling<br>
                                        pi-: Small Piercing<br>
                                        pi: Piercing<br>
                                        pi+: Large Piercing<br>
                                        pi++: Huge Piercing<br>
                                        tox: Toxic<br>
                                        tbb: Tight Beam Burning<br>
                                        dam: Untyped<br>
                                        <span style="text-decoration: underline">Valid modifiers are:</span><br>
                                        ex: Explosive<br>
                                        dbk: Double Knockback<br>
                                        dbt: Double Blunt Trauma<br>
                                        nw: No Wounding<br>
                                        la: Large Area Injury<br>
                                        area: Large Area Injury<br>
                                    </div>
                                </span>
                            </span>
                        </td>
                        <td>
                            <span class="tooltip">
                                <input type="text" name="system.affliction.{{id}}.armourDivisor" value="{{affliction.armourDivisor}}" title="{{affliction.armourDivisor}}" style="text-align:left; width: 40px;" />
                                <span class="tooltiptext" style="margin-left: -100px">
                                    <div>
                                        Default is 1<br>
                                        0 makes effective armour infinite<br>
                                        Using the words 'ignore' or 'cosmic' allows the attack to ignore armour<br>
                                        Setting this to 'I' will also ignore armour
                                    </div>
                                </span>
                            </span>
                        </td>
                        <td><input type="text" name="system.affliction.{{id}}.desc" value="{{desc}}" title="{{desc}}" style="text-align:left;" /></td>
                        <td class="resource-label">
                            <select name="system.affliction.{{id}}.rangePenalties">
                                {{#select affliction.rangePenalties}}
                                <option value="">Make a Selection</option>
                                <option value="regular">Regular (-1/yard)</option>
                                <option value="ssrt">Size/Speed/Range Table</option>
                                <option value="long">Long Distance Penalties</option>
                                <option value="none">None</option>
                                {{/select}}
                            </select>
                        </td>
                        <td style="display: flex; width: 240px" >
                            <select name="system.affliction.{{id}}.resistanceType">
                                {{#select affliction.resistanceType}}
                                <option value="">Make a Selection</option>
                                <option value="contest">Quick Contest</option>
                                <option value="resistance">Resistance</option>
                                <option value="irresistible">Irresistible</option>
                                {{/select}}
                            </select>
                            <select name="system.affliction.{{id}}.resistanceRoll" class="resistanceRoll">
                                {{#select affliction.resistanceRoll}}
                                <option value="">None</option>
                                <option value="Strength">ST</option>
                                <option value="Dexterity">DX</option>
                                <option value="Intelligence">IQ</option>
                                <option value="Health">HT</option>
                                <option value="Will">Will</option>
                                <option value="Perception">Per</option>
                                <option value="Fright">Fright</option>
                                {{/select}}
                            </select>
                            <input type="text" placeholder="-0" name="system.affliction.{{id}}.resistanceRollPenalty" value="{{affliction.resistanceRollPenalty}}" title="{{affliction.resistanceRollPenalty}}" style="text-align:left; width: 40px; margin: unset" />
                        </td>
                        <td><input type="text" name="system.affliction.{{id}}.ruleOf" value="{{affliction.ruleOf}}" title="{{affliction.ruleOf}}" style="text-align:left; width: 40px;" /></td>
                        <td>
                            <span class="tooltip">
                                <input type="text" name="system.affliction.{{id}}.flags" value="{{affliction.flags}}" title="{{affliction.flags}}" style="text-align:left;" />
                                <span class="tooltiptext" style="margin-left: -100px">
                                    <div>
                                        <span style="text-decoration: underline">Valid entries are:</span><br>
                                        una: Unarmed (Vulnerable to damage following a failed parry)<br>
                                        gui: Guided<br>
                                        hom: Homing<br>
                                    </div>
                                </span>
                            </span>
                        </td>
                        <td><a class="affliction-delete" id="affliction{{id}}" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </section>
</form>
