<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="equipmentDetails" id="equipmentDetails">
                <div id="qty" class="equipmentStat">
                    <label class="resource-label">Qty:</label>
                    <input type="number" name="system.quantity" value="{{item.system.quantity}}" data-dtype="Number"/>
                </div>
                <div id="tl" class="equipmentStat">
                    <label class="resource-label">TL:</label>
                    <input type="number" name="system.tl" value="{{item.system.tl}}" data-dtype="Number"/>
                </div>
                <div id="lc" class="equipmentStat">
                    <label class="resource-label">LC:</label>
                    <input type="number" name="system.lc" value="{{item.system.lc}}" data-dtype="Number"/>
                </div>
                <div id="equipped" class="flexrow">
                    <select name="system.equipStatus" class="equipStatusSelect">
                        {{selectOptions equipStatusOptions selected=item.system.equipStatus}}
                    </select>
                </div>
                <div id="subCategory" class="flexrow">
                    <label class="resource-label" style="flex: 0.5;">Race / Meta Trait / Etc:</label>
                    <input type="text" style="flex: 1;" name="system.subCategory" value="{{item.system.subCategory}}" placeholder="Leave this blank if you don't want it categorized"/>
                </div>
                <div id="value" class="equipmentStatLong">
                    <label class="resource-label">Value:</label>
                    <input type="number" name="system.cost" value="{{item.system.cost}}" data-dtype="Number"/>
                    <label class="resource-label"> / {{item.system.ttlCost}}$ total</label>
                </div>
                <div id="weight" class="equipmentStatLong">
                    <label class="resource-label">Weight:</label>
                    <label class="resource-label"> {{item.system.weight}} / {{item.system.ttlWeight}}lb{{checkPlural item.system.ttlWeight}} total</label>
                </div>
            </div>
        </div>
    </header>
    <div style="padding-top: 2px;">
        <label class="resource-label" style="width: 32px;">Short Notes:</label>
        <input type="text" name="system.shortNotes" value="{{item.system.shortNotes}}" style="width: calc(100% - 78px);"/>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav id="tabselect" class="sheet-tabs tabs" data-group="primary">
        <div class="header">
            <a class="item" data-tab="notes">Notes</a>
        </div>
        <div class="header">
            <a class="item" data-tab="itinerary">Itinerary</a>
        </div>
        <div class="header">
            <a class="item" data-tab="catalogue">Vehicle Catalogue</a>
        </div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Note Tab --}}
        <div class="tab stats" data-tab="notes" data-group="primary">
            <h3 class="bold">Detailed Notes</h3>
            <div class="tab">
                <textarea style="height: 100%; resize: none" name="system.notes">{{{item.system.notes}}}</textarea>
            </div>
        </div>

        {{!-- Vehicle Catalogue Tab --}}
        <div class="tab stats" data-tab="catalogue" data-group="primary">
            <h3 class="bold">Vehicle Catalogue</h3>
            <div class="tab">
                {{{item.system.travelFare.vehicleCatalogue}}}
            </div>
        </div>

        {{!-- Itinerary Tab --}}
        <div class="tab stats" data-tab="itinerary" data-group="primary">
            <h1 class="bold" style="text-align: center;">Itinerary</h1>
            <div class="tab">
                <div class="design-block">
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">Travel Options</h2>
                        <input style="display: none;" type="checkbox" name="system.travelFare.initComplete" {{checked item.system.travelFare.initComplete}} data-dtype="Boolean"/>
                        <table>
                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Travel Method
                                </td>
                                <td>
                                    <select name="system.travelFare.method">
                                        {{selectOptions vehicleCraftTypes selected=item.system.travelFare.method}}
                                    </select>
                                </td>
                                <td class="question-container" id="travel-method">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td style="width: 150px">
                                    TL Range: {{item.system.travelFare.tlRange}}
                                </td>
                                <td>
                                    <input type="range" min="0" max="{{item.system.tl}}" step="1" name="system.travelFare.tlRange" value="{{item.system.travelFare.tlRange}}" data-dtype="Number">
                                </td>
                                <td class="question-container" id="fare-tl-range">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Distance
                                </td>
                                <td>
                                    <input style="width: 25%" type="number" name="system.travelFare.distance" value="{{item.system.travelFare.distance}}" data-dtype="Number"/>
                                    <select style="width: 70%" name="system.travelFare.unit">
                                        {{#select item.system.travelFare.unit}}
                                            {{#each item.system.travelFare.units as |unit id|}}
                                                {{#ifCond ../item.system.travelFare.distance '>' 1 }}
                                                    {{#if (and (eq unit.name "mile") (eq ../item.system.travelFare.initComplete false)) }}
                                                        <option value="{{unit.name}}" selected>{{unit.names}}</option>
                                                    {{else}}
                                                        <option value="{{unit.name}}">{{unit.names}}</option>
                                                    {{/if}}
                                                {{/ifCond}}
                                                {{#ifCond ../item.system.travelFare.distance '<=' 1 }}
                                                    {{#if (and (eq unit.name "mile") (eq ../item.system.travelFare.initComplete false)) }}
                                                        <option value="{{unit.name}}" selected>{{unit.name}}</option>
                                                    {{else}}
                                                        <option value="{{unit.name}}">{{unit.name}}</option>
                                                    {{/if}}
                                                {{/ifCond}}
                                            {{/each}}
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="travel-distance">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Travelling Hours
                                </td>
                                <td>
                                    <input type="number" name="system.travelFare.travellingHours" value="{{item.system.travelFare.travellingHours}}" data-dtype="Number"/>
                                </td>
                                <td class="question-container" id="travel-hours">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>

                            <tr class="design-row">
                                <td style="line-height: 27.5px">
                                    Vehicle
                                </td>
                                <td>
                                    <select name="system.travelFare.vehicleCode">
                                        {{#select item.system.travelFare.vehicleCode}}
                                            {{#each item.system.travelFare.vehicles as |vehicle id|}}
                                                {{#validVehicle ../item.system.tl ../item.system.travelFare.tlRange ../item.system.travelFare.method vehicle}}
                                                        <option value="{{vehicle.code}}">{{vehicle.name}}</option>
                                                {{/validVehicle}}
                                            {{/each}}
                                        {{/select}}
                                    </select>
                                </td>
                                <td class="question-container" id="travel-vehicle">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr class="design-row">
                            <tr class="design-row">
                                <td style="width: 150px">
                                    Travel Time
                                </td>
                                <td>
                                    {{{item.system.travelFare.travelTime}}}
                                </td>
                                <td class="question-container" id="travel-time">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr class="design-row">
                            <tr class="design-row">
                                <td style="width: 150px">
                                    Travel Costs
                                </td>
                                <td>
                                    {{{item.system.travelFare.travelCost}}}
                                </td>
                                <td class="question-container" id="travel-costs">
                                    <div class="question-button">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div style="width: 50%;">
                        <h2 class="bold" style="text-align: center;">Info</h2>
                        <div class="equipment-info-container">{{{item.system.info}}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
